@font-face {
    font-family: 'Sparose';
    src: url('fonts/Sparose/sparose.eot');
    src: url('fonts/Sparose/sparose.eot?#iefix') format('embedded-opentype'), url('fonts/Sparose/sparose.woff2') format('woff2'), url('fonts/Sparose/sparose.woff') format('woff'), url('fonts/Sparose/sparose.ttf') format('truetype'), url('fonts/Sparose/sparose.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('fonts/Greycliff-CF/GreycliffCF-Regular.eot');
    src: url('fonts/Greycliff-CF/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Greycliff-CF/GreycliffCF-Regular.woff2') format('woff2'), url('fonts/Greycliff-CF/GreycliffCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Bold';
    src: url('fonts/Greycliff-CF/GreycliffCF-Bold.eot');
    src: url('fonts/Greycliff-CF/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Greycliff-CF/GreycliffCF-Bold.woff2') format('woff2'), url('fonts/Greycliff-CF/GreycliffCF-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra Bold';
    src: url('fonts/Greycliff-CF/GreycliffCF-ExtraBold.eot');
    src: url('fonts/Greycliff-CF/GreycliffCF-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/Greycliff-CF/GreycliffCF-ExtraBold.woff2') format('woff2'), url('fonts/Greycliff-CF/GreycliffCF-ExtraBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Heavy';
    src: url('fonts/Greycliff-CF/GreycliffCF-Heavy.eot');
    src: url('fonts/Greycliff-CF/GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/Greycliff-CF/GreycliffCF-Heavy.woff2') format('woff2'), url('fonts/Greycliff-CF/GreycliffCF-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BlackDolphinSignatureScript';
    src: url('fonts/BDSS/3B1E4D_0_0.eot');
    src: url('fonts/BDSS/3B1E4D_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/BDSS/3B1E4D_0_0.woff2') format('woff2'),url('fonts/BDSS/3B1E4D_0_0.woff') format('woff'),url('fonts/BDSS/3B1E4D_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-XLight_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-XLight_Web.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-XLightItalic_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-XLightItalic_Web.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-Light_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-Light_Web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-LightItal_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-LightItal_Web.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-Roman_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-Roman_Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-Italic_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-Italic_Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-Semibold_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-Semibold_Web.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-SemiboldItal_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-SemiboldItal_Web.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-Bold_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-Bold_Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-BoldItal_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-BoldItal_Web.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-Black_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-Black_Web.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Chronicle Display';
    src:url('fonts/ChronicleDisplay/woff2/ChronicleDisp-BlackItalic_Web.woff2') format('woff2'),
        url('fonts/ChronicleDisplay/woff/ChronicleDisp-BlackItalic_Web.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/OpenSans/open-sans-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/OpenSans/open-sans-v18-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/OpenSans/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/OpenSans/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/OpenSans/open-sans-v18-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/OpenSans/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/OpenSans/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/OpenSans/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/OpenSans/open-sans-v18-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/OpenSans/open-sans-v18-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: none;
}

.nowrap {
    white-space: nowrap;
}

html {
    font-size: $rem-base;
}

body {
    min-width: 320px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    background-color: #f8f8f8;
    line-height: 3rem;


    /*background-image: url(images/background-inside-pages-SM.png);*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 420px;

    @include media('>small') {
        /*background-image: url(images/background-inside-pages.svg);*/
        background-position: 50% 0;
        background-size: auto 580px;
    }

    @include media('>medium') {
        background-size: auto 500px;
    }


    &.preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
}

main {
    position: relative;
    //width: 100%;
    //min-width: 46.875rem;
    //max-width: 164rem;
    //overflow: visible;
    //margin: 0 auto;
    //padding: 1px 2rem 0;
    overflow: hidden;
}

// Fixes horizontal scrolling in IE
article {
    @include target-metro {
        max-width: 100vw;
        overflow: hidden;
    }
}

section {
    margin-top: 6rem;

    @include media('>small') {
        margin-top: 10rem;
    }

    & > div {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0 $mobile-gutter-width;

        @include media('>small') {
            max-width: $desktop-max-width;
            padding: 0 $desktop-gutter-width;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
    margin-top: 0;

    & + p {
        margin-top: 1rem;
    }
}

h1 + h2 {
    margin-top: 1rem;
}

h2 + h2 {
    margin-top: 2rem;
}

h1 {
    font-family: $font-family-primary;
    font-weight: 700;
    color: $color-brand-dark;
    font-family: $font-family-primary;
    text-align: center;
    color: $color-white;
    //@include fontSize(24px);
    //@include lineHeight(32px);
    @include fontSize(30px);
    @include lineHeight(42px);

    @include media('>small') {
        @include fontSize(44px);
        @include lineHeight(64px);
    }
}

h2 {
    font-family: $font-family-primary;
    font-weight: 800;
    color: $color-brand-dark;
    /*@include fontSize(24px);
    @include lineHeight(32px);*/
    @include fontSize(20px);
    @include lineHeight(24px);

    @include media('>small') {
        /*@include fontSize(36px);
        @include lineHeight(48px);*/
        @include fontSize(30px);
        @include lineHeight(42px);
    }

    &.secondary {
        color: $color-text;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
            @include fontSize(24px);
            @include lineHeight(32px);
        }
    }
}

h3 {
    font-family: $font-family-secondary;
    color: $color-text;
    line-height: 4rem;
    @include fontSize(24px);
    @include lineHeight(32px);

    @include media('>small') {
        @include fontSize(72px);
        @include lineHeight(118px);
    }
}

h4 {
    font-family: $font-family-secondary;
    color: $color-text;

    @include fontSize(24px);
    @include lineHeight(32px);

    @include media('>small') {
        @include fontSize(36px);
        @include lineHeight(44px);
    }
}
// inside cards over images only
h5 {
    font-family: $font-family-main;
    @include fontSize(35px);
    @include lineHeight(57px);

    @include media('>small') {
        @include fontSize(57px);
        @include lineHeight(60px);
    }

    @include media('>medium') {
        @include fontSize(82px);
        @include lineHeight(118px);
    }
}
// in bottom callout only
h6 {
    font-family: $font-family-tertiary;
    color: $color-white;
    @include fontSize(24px);
    @include lineHeight(32px);


    @include media('>small') {
        @include fontSize(36px);
        @include lineHeight(48px);
    }
}

hr {
    max-width: 164rem;
    border-collapse: collapse;
    border-bottom: 1px solid $color-text;
    margin: 1rem 0;
    padding: 0;
}

strong {
    font-weight: 800;
}

p {
    //margin: 1rem 1rem 2rem 0;
    margin: 0 0 2rem 0;
    font-family: $font-family-body;
    color: $color-text;
    font-weight: 300;
    @include fontSize(18px);
    @include lineHeight(24px);

    @include media('>small') {
        @include fontSize(22px);
        @include lineHeight(30px);
    }
}

ul, ol {
    margin-left: 2rem;
}

li {
    font-family: $font-family-body;
    color: $color-text;
    @include fontSize(16px);
    @include lineHeight(24px);
    list-style-position: outside;
}

img {
    width: 100%;
    height: auto;
    //display: block;
}

a,
a:visited {
    color: $color-cta-primary;
    text-decoration: underline;
    transition: color 200ms ease-in-out;
}

a:hover,
a:focus {
    color: $color-brand-light;
}

blockquote {
    position: relative;
    margin: 2rem 0 3rem;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @include media('>864px') {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin: 4rem 0 5rem;
    }

    p {
        text-align: left;
        transform: rotate(-2deg);
        color: $color-brand-light;
        font-family: $font-family-quote;
        line-height: 0.7;
        @include fontSize(80px);
        flex: 1 0 100%;

        @include media('>864px') {
            @include fontSize(112px);
            flex: 1 1 100%;
        }

        @include media('>small') {
            text-align: center;
        }
    }

    cite {
        display: block;
        @include fontSize(20px);
        @include lineHeight(24px);
        font-style: normal;
        flex: 1 1 100%;
        align-self: flex-start;
        margin-top: 4rem;

        @include media('>864px') {
            flex: 0 1 auto;
            align-self: flex-end;
            margin-top: 0;
        }
    }
}

sub,
sup {
    font-size: 56%;
    line-height: 0;
    position: relative;
    vertical-align: super;
    white-space: nowrap;
}

sub {
    bottom: -0.5em;
}

ul, ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: underline;
    outline: none;
}

#navigation {
    a {
        text-decoration: none;
    }
}

a:hover,
a:focus {
    text-decoration: underline;
}

@media all and (-ms-high-contrast:none) {
    section {
        blockquote {
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            -ms-grid-rows: 0.5fr 0.5fr;

            p {
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                -ms-grid-row-column: 1;
                -ms-grid-column: 1;
                -ms-grid-column-span: 13;
            }

            cite {
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
                -ms-grid-row-column: 1;
                -ms-grid-column: 10;
                -ms-grid-column-span: 13;
            }
        }
    }
}
