.row {
    display: flex;
    flex-wrap: wrap;
}

%grid-mobile {
    display: grid;
    grid-template-columns: $mobile-gutter-width 1fr repeat(5, 1fr $mobile-space-width 1fr) 1fr $mobile-gutter-width;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: -ms-grid;
        -ms-grid-columns: $mobile-gutter-width 1fr 1fr $mobile-space-width 1fr 1fr $mobile-space-width 1fr 1fr $mobile-space-width 1fr 1fr $mobile-space-width 1fr 1fr $mobile-space-width 1fr 1fr $mobile-gutter-width;
    }
}

%grid-desktop {
    @include media(">small") {
        display: grid;
        grid-template-columns: $desktop-gutter-width 1fr repeat(11, 1fr $desktop-space-width 1fr) 1fr $desktop-gutter-width;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            -ms-grid-columns: $desktop-gutter-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-space-width 1fr 1fr $desktop-gutter-width;
        }
    }
}

/*
    Tablet & mobile grid & offsets
*/

@include media("<=medium") {
    .col-sm-6 {
        width: mobile-grid-size(6, 5);
    }

    .col-sm-5 {
        width: mobile-grid-size(5, 4);
    }

    .col-sm-4 {
        width: mobile-grid-size(4, 3);
    }

    .col-sm-3 {
        width: mobile-grid-size(3, 2);
    }

    .col-sm-2 {
        width: mobile-grid-size(2, 1);
    }

    .col-sm-1 {
        width: mobile-grid-size(1, 0);
    }
}

/*
    Desktop grid & offsets
*/

@include media(">medium") {
    .col-12 {
        width: desktop-grid-size(12, 11);
    }

    .col-11 {
        width: desktop-grid-size(11, 10);
    }

    .col-10 {
        width: desktop-grid-size(10, 9);
    }

    .col-9 {
        width: desktop-grid-size(9, 8);
    }

    .col-8 {
        width: desktop-grid-size(8, 7);
    }

    .col-7 {
        width: desktop-grid-size(7, 6);
    }

    .col-6 {
        width: desktop-grid-size(6, 5);
    }

    .col-5 {
        width: desktop-grid-size(5, 4);
    }

    .col-4 {
        width: desktop-grid-size(4, 3);
    }

    .col-3 {
        width: desktop-grid-size(3, 2);
    }

    .col-2 {
        width: desktop-grid-size(2, 1);
    }

    .col-1 {
        width: desktop-grid-size(1, 0);
    }

    .offset-12 {
        margin-left: desktop-grid-size(12, 12);
    }

    .offset-11 {
        margin-left: desktop-grid-size(11, 11);
    }

    .offset-10 {
        margin-left: desktop-grid-size(10, 10);
    }

    .offset-9 {
        margin-left: desktop-grid-size(9, 9);
    }

    .offset-8 {
        margin-left: desktop-grid-size(8, 8);
    }

    .offset-7 {
        margin-left: desktop-grid-size(7, 7);
    }

    .offset-6 {
        margin-left: desktop-grid-size(6, 6);
    }

    .offset-5 {
        margin-left: desktop-grid-size(5, 5);
    }

    .offset-4 {
        margin-left: desktop-grid-size(4, 4);
    }

    .offset-4-reverse {
        margin-right: desktop-grid-size(4, 4) !important;
    }

    .offset-3 {
        margin-left: desktop-grid-size(3, 3);
    }

    .offset-2 {
        margin-left: desktop-grid-size(2, 2);
    }

    .offset-1 {
        margin-left: desktop-grid-size(1, 1);
    }
}
