@import "posts";

#friendly-smoothies-article {
	#hero {
		background-image: url(images/friendly-smoothies/article-hero-smoothie-sm.jpg);
		@include media('>small') {
			background-image: url(images/friendly-smoothies/article-hero-smoothie.jpg);
		}
	}
  #callout-slab {
    div {
      p {
        @include media('<1200px', '>898px') {
          padding-top: 30px;
        }
        padding-top: 15px;
        @include media('>small', '<medium') {
          padding-left:10px;
        }

      }
    }
  }
	img.sm {
		margin-bottom: 5.75rem;
	}
	.recipe {
		margin: 2rem 0 0;
		@include media('>small') {
			margin: 7rem 0;
		}
		.print.lg,
		.directions.lg {
			display: none;
			visibility: hidden;

			@include media('>small') {
				display: block;
				visibility: visible;
			}
		}
		strong {
			color: $color-brand-dark;
			font-family:$font-family-nav-large;
			&.prep {
				margin-left: 3rem;
			}
		}
		.row {
			display:flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
			&.sm {
				display:flex;
				visibility: visible;
				@include media('>small') {
					display:none;
					visibility: hidden;
				}
			}
			> div {
				&:nth-child(1) {
					order: 2;
					width: 100%;
					@include media('>small') {
						order: 1;
						width: desktop-grid-size(5,4);
					}
				}
				&:nth-child(2) {
					order: 1;
					width: 100%;
					@include media('>small') {
						order: 2;
						width: desktop-grid-size(7,6);
					}
				}
			}
		}
		ul {
			margin: 1rem 0 0;
			li {
				padding-left: 3rem;
				padding-bottom: 2rem;
				&:before {
					left: 1rem;
				}
			}
		}
		.ingredients {
			margin: 5rem 0 3rem;
			@include media('>small') {
				margin:0;
			}
			div:nth-child(1) {
				background-color: #F6F6F6;
				padding: 30px;
			}
		}
		.instructions {
			@include media('>small') {
				margin-bottom: 2rem;
			}

			h2 {
				background: url(images/social-line.svg) no-repeat 0 100%;
				background-size: 100% auto;
				padding-bottom: 4rem;
				@include media('>small') {
					padding-bottom: 3rem;
				}
			}
			.directions {
				margin-top: 2rem;
			}

		}
	}
	.print {
		padding: 5rem 0 0;
		background-color: transparent;
		font-family: $font-family-nav-large;
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		text-align: center;

		@include media('>small') {
			text-align: left;
			padding: 2rem 0;
		}
		a {
			background: transparent url('images/icon-print.svg') no-repeat 0 50%;
			background-size: 30px auto;
			color: $color-text;
			padding: 1rem 5rem;
		}
	}
	.directions {
		padding: 2rem 0 0;
		@include media('>small') {
			border-top: 1px solid $color-light-gray;
		}
	}
}
