@import "posts";

#anti-inflammatory-diet-and-myasthenia-gravis-article {

		#hero {
			background-image: url(images/ai-diet/article-hero-ai-diet-sm.png);

			@include media('>small') {
				background-image: url(images/ai-diet/article-hero-ai-diet-lg.png);
			}

		}

		.article-body {
			ul {
				margin-top: 2rem;
				margin-bottom: 0;

				li {
					padding-bottom: 2rem;
					&:last-child{
						padding-bottom: 0;
					}
				}

			}

			figcaption {
				p {
					color: #393E41;
					@include fontSize(16px);
					@include lineHeight(20px);

					@include media('>small') {
						@include fontSize(18px);
						@include lineHeight(24px);
					}

				}

			}
      .tan{
        background-color: #F4F0E9;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        margin-top: 40px;
        padding-right:20px;
      }

		}



}
