@import "posts";

#been-living-with-mg-for-some-time-article {
  #hero {
    background-image: url(images/living-with-mg-for-some-time/living-with-mg-for-some-time-article-hero-mobile.jpg);

    @include media('>small') {
      background-image: url(images/living-with-mg-for-some-time/living-with-mg-for-some-time-article-hero.jpg);
    }
  }

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .article-pullquote p {
    @include fontSize(18px);
    @include lineHeight(32px);

    @include media('>small') {
    }

    @include fontSize(30px);
    @include lineHeight(42px);
  }

  #sharestory {
    #form-step-share-story {
      @include media('>small') {
        padding-right: 40%;
        background-image: url('images/member/illo-man-with-coffee.png');
        background-size: 290px auto;
        background-position: calc(100% - 2rem) 50%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 50%;
      }

      @include media('>medium') {
        background-size: 310px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 50%;
      }

      @include media('>large') {
        background-size: 320px auto;
        background-position: calc(100% - 14rem) 50%;
      }
    }

    .optin {
      max-width: 600px;

      @include media('>medium') {
        max-width: none;
      }

      label {
        position: relative;
        display: block;
        margin-top: 2rem;
        padding-left: 3rem;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
          @include fontSize(20px);
          @include lineHeight(24px);
        }

        input[type='checkbox'] {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
    }
  }
}
