@import "posts";

#crisis-planning {
    #hero {
      background-image: url(images/crisis-planning/crisis-planning-hero-mobile.jpg);

      @include media('>small') {
        background-image: url(images/crisis-planning/crisis-planning-hero.jpg);
      }
    }
    /*background-image: url(images/crisis-planning/crisis-planning-hero.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0%, 50% 0 !important;
  background-size: auto 416px !important;
  background-color: $color-white;

  @include media('>small') {
    background-size: auto 600px !important;
  }

  article {
    > :nth-child(3) {
      padding-top: 12.25rem;
    }
  }

  .fluid {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    max-width: unset;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 2rem;

    @include media('>small') {
      padding: 2rem 8rem;
    }

    @include media('>medium') {
      padding: 2rem 16rem;
    }
  }

  .flex-spacer {
    flex: 1 1 auto;
  }*/
    /*header {
    &#masthead {
      &.site-header {
        display: none !important;
      }
    }
  }*/
    /*#article-hero-strip {
    margin-top: 0 !important;
    background-color: #F3F0E9;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 415px;

    @include media('>small') {
      top: 599px;
    }


    > p {
      margin: auto;
      @include fontSize(16px);
      @include lineHeight(24px);

      @include media('>small') {
        @include fontSize(18px);
        @include lineHeight(24px);
      }
    }
  }*/
    /*.article-body {
        align-items: center;
        justify-content: center;
        margin-top: 0 !important;
        background-color: $color-white;
        border-radius: 0;*/

    #author-blurb {
        > div {
            > div {
                //margin: 0rem 5rem 0rem 5rem;
                background-color: #F6F6F6;
                border-top: 1px solid #979797;
                border-bottom: 1px solid #979797;
                padding: 6rem 3rem;

                @include media('>small') {
                    display: flex;
                    padding: 8rem 10rem 8rem 6rem;
                }

                > div {
                    max-width: 400px;
                    margin: 0 auto;

                    @include media('>small') {
                        max-width: none;
                    }

                    &:first-of-type {
                        margin-bottom: 2rem;

                        @include media('>small') {
                            margin: 0;
                        }

                        img {
                            width: 100%;
                            height: auto;

                            @include media('>small') {
                                width: auto;
                            }
                        }
                    }

                    &:last-of-type {
                        @include media('>small') {
                            width: 100%;
                            padding-left: 8rem;
                        }
                    }
                }

                /*.col {
                    //margin: auto;

                    @include media('>medium') {
                        padding-top: 8rem !important;
                        padding-bottom: 8rem !important;
                    }

                    img {
                        max-width: 264px;
                        margin: 0 auto;
                    }
                }

                .col:first-child {
                    padding-top: 6rem !important;
                    padding-bottom: 2rem !important;

                    @include media('>medium') {
                        padding-top: 8rem !important;
                        padding-bottom: 8rem !important;
                    }
                }

                .col:last-child {
                    padding-bottom: 4rem !important;
                    padding-top: 2rem !important;

                    @include media('>medium') {
                        padding-top: 8rem !important;
                        padding-bottom: 8rem !important;
                    }
                }*/
            }
        }
    }

    /*#one-up-bullet-list {
        align-items: center;
        justify-content: center;
        padding: 2rem;

        div {
            background-color: #F3F0E9;
            border-radius: 0.625rem;
            padding: 5rem;

            h3 {
                @include fontSize(24px);
                @include lineHeight(32px);
                color: $color-brand-dark;
            }

            p, li {
                @include fontSize(22px);
                @include lineHeight(30px);
            }

            li {
                padding-top: 2rem;
            }
        }
    }*/

    /*.secondary-article-body {
        padding-top: 0 !important;
    }*/

    #three-up-bullet-list {
        /*align-items: center;
        justify-content: center;
        padding: 2rem;
        margin-top: 0 !important;

        @include media('>medium') {
            padding: 0rem 15rem;
        }*/

        > div {
            > div {
                @include media('>small') {
                    display: grid;
                    grid-template-columns: 1fr 4rem 1fr 4rem 1fr;

                    @include target-metro {
                        display: -ms-grid;
                        -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
                    }
                }

                @include media('>medium') {
                    width: desktop-grid-size(9, 9);
                    margin: 0 auto;
                }

                > div {
                    padding: 3rem 2rem;

                    @include media('>small') {
                        grid-row-end: span 1;
                        grid-column-end: span 1;
                        padding: 3rem;

                        @include target-metro {
                            -ms-grid-row-span: 1;
                            -ms-grid-column-span: 1;
                        }
                    }

                    &:nth-of-type(2n+0) {
                        margin-bottom: 6rem;

                        @include media('>small') {
                            margin: 0;
                        }
                    }

                    &:last-of-type {
                        margin: 0;
                    }

                    h3 {
                        @include fontSize(24px);
                        @include lineHeight(32px);
                        color: $color-brand-dark;
                        margin: 0;
                    }

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        li {
                            position: relative;
                            margin-bottom: 1rem;
                            padding-left: 3rem;
                            @include fontSize(20px);
                            @include lineHeight(24px);

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            &:before {
                                content: '\2022';
                                position: absolute;
                                left: 0;
                            }
                        }
                    }

                    // Column 1 row 1
                    &:nth-child(1) {
                        grid-row-start: 1;
                        grid-column-start: 1;
                        background-color: rgba(202,219,239,0.4);

                        @include target-metro {
                            -ms-grid-row: 1;
                            -ms-grid-column: 1;
                        }
                    }

                    // Column 1 row 2
                    &:nth-child(2) {
                        grid-row-start: 2;
                        grid-column-start: 1;
                        background-color: #CADBEF;

                        @include target-metro {
                            -ms-grid-row: 2;
                            -ms-grid-column: 1;
                        }
                    }

                    // Column 2 row 1
                    &:nth-child(3) {
                        grid-row-start: 1;
                        grid-column-start: 3;
                        background-color: rgba(234,154,0,0.25);

                        @include target-metro {
                            -ms-grid-row: 1;
                            -ms-grid-column: 3;
                        }
                    }

                    // Column 2 row 2
                    &:nth-child(4) {
                        grid-row-start: 2;
                        grid-column-start: 3;
                        background-color: rgba(234,154,0,0.5);

                        @include target-metro {
                            -ms-grid-row: 2;
                            -ms-grid-column: 3;
                        }
                    }

                    // Column 3 row 1
                    &:nth-child(5) {
                        grid-row-start: 1;
                        grid-column-start: 5;
                        background-color: rgba(228,87,46,0.25);

                        @include target-metro {
                            -ms-grid-row: 1;
                            -ms-grid-column: 5;
                        }
                    }

                    // Column 3 row 2
                    &:nth-child(6) {
                        grid-row-start: 2;
                        grid-column-start: 5;
                        background-color: rgba(228,87,46,0.5);

                        @include target-metro {
                            -ms-grid-row: 2;
                            -ms-grid-column: 5;
                        }
                    }
                }
            }
        }
    }
}
