@import "posts";

#discussion-guide-article {
  #hero {
    background-image: url(images/discussion-guide/discussion-guide-hero-mobile.jpg);

    @include media('>small') {
      background-image: url(images/discussion-guide/discussion-guide-hero.jpg);
    }
  }

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 7.5rem;
  }

  .article-pullquote p {
    font-family: $font-family-main;
    font-style: normal;
    font-size: 4rem !important;
    line-height: 5.5rem !important;

    @include media('>small') {
      @include fontSize(42px);
      @include lineHeight(54px);
      font-size: 5.25rem !important;
      line-height: 8rem !important;
    }

    @include fontSize(42px);
    @include lineHeight(64px);
  }


  .article-pullquote cite {
    font-family: "Libre Baskerville", serif;
  }

  .sub-cite {
    font-family: $font-family-tertiary;
  }


  .content img {
    @include media('>small') {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  .dicussion-steps {
    h3 {
      padding-bottom: 3rem;
      border-bottom: 1px solid #979797;
      margin-bottom: 3rem;
      font-family: $font-family-primary;
    }

    h4 {
      @include fontSize(20px);
      @include lineHeight(24px);


      @include media('>small') {
        @include fontSize(24px);
        @include lineHeight(32px);
      }
    }

    margin-top: 0rem !important;
    padding-top: 6rem !important;
    @include media('>small') {
      padding-top: 10rem !important;
    }
    background-color: #f3f0e9;
  }

  section:nth-child(5) {
    margin-top: 6rem !important;
    @include media('>small') {
      margin-top: 10rem !important;
    }
  }

  section:nth-child(10) {
    padding-bottom: 6rem !important;
    @include media('>small') {
      padding-bottom: 10rem !important;
    }
  }
}
