@import "posts";

#discussion-guide-children-article {
  #hero {
    background-image: url(images/discussion-guide-children/Header_mobile.jpg);
    background-position-y: 50%;

    @include media('>small') {
      background-image: url(images/discussion-guide-children/Header.jpg);
    }
  }

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 7.5rem;
  }

  .article-pullquote p {
    font-family: $font-family-main;
    font-style: normal;
    font-size: 4rem !important;
    line-height: 5.5rem !important;

    @include media('>small') {
      @include fontSize(42px);
      @include lineHeight(54px);
      font-size: 5.25rem !important;
      line-height: 8rem !important;
    }

    @include fontSize(42px);
    @include lineHeight(64px);
  }

  .article-pullquote.author {
    margin-bottom: 6rem !important;
    @include media('>small') {
      margin-bottom: 8rem !important;
    }

    p {
      font-family: $font-family-primary;
      font-style: italic;
      @include media('>small') {
        font-size: 4.5rem !important;
        line-height: 6.75rem !important;
      }
    }

    cite {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }
  }


  .article-pullquote cite {
    font-family: "Libre Baskerville", serif;
  }

  .sub-cite {
    font-family: $font-family-tertiary;
  }


  .dicussion-steps {
    h3 {
      padding-bottom: 2rem;
      border-bottom: 1px solid #979797;
      margin-bottom: 3rem;
      font-family: $font-family-primary;
    }

    h4 {
      @include fontSize(20px);
      @include lineHeight(24px);


      @include media('>small') {
        @include fontSize(24px);
        @include lineHeight(32px);
      }
    }

    margin-top: 0rem !important;
    padding-top: 6rem !important;
    @include media('>small') {
      padding-top: 10rem !important;
    }
    background-color: #f3f0e9;
  }

  section:nth-child(5) {
    margin-top: 6rem !important;
    @include media('>small') {
      margin-top: 10rem !important;
    }
  }

  section:nth-child(10) {
    padding-bottom: 6rem !important;
    @include media('>small') {
      padding-bottom: 10rem !important;
    }
  }

  .author-callout.sm {
    display: block;
    visibility: visible;
    @include media('>small') {
      display:none;
      visibility: hidden;
    }
  }
  .author-callout.lg {
    display: none;
    visibility: hidden;
    @include media('>small') {
      display:block;
      visibility: visible;
    }
  }

  .byline {
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;

    @include media('>small') {
      font-size: 2.75rem;
      line-height: 4rem;
    }
  }

  h3 {
    font-weight: bold;
  }

  .age-row {
    div:nth-child(2) {
      @include media('>small') {
        margin: 0 2rem;
      }
    }
    margin-top: 8rem;
  }

  .age-col {
    position: relative;
    background-color: #fff;
    text-align: center;
    width: 100%;
    @include media('>small') {
      width: desktop-inner-grid-size(2.66, 2, 8, 7);
    }

    .pre-head {
      margin-top: 13rem !important;
      font-size: 2rem;
      line-height: 4rem;
      font-family: $font-family-tertiary;
      color: $color-text;
    }
    .head {
      font-size: 2.75rem;
      line-height: 4rem;
      font-family: $font-family-secondary;
      color: $color-brand-dark;
      margin-bottom: 3rem;
    }

    .list-content {
      text-align: left;
      li {
        font-size: 2.25rem;
        line-height: 3.5rem;
        margin-bottom: 2rem;
        padding-left: 7rem;
        padding-right: 2rem;

        &:before {
          left: 4rem;
        }
      }

      ul {
        margin-bottom: 4rem;
      }
    }

    .img-container-bg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 130px;
      height: auto;
    }

    .img-container {
      position: absolute;
      top: 0;
      left: 50%;
      height: auto;
    }

     &.one {
       margin-top: 4rem;
       .img-container {
         transform: translate(-75%, -57%);
         width: 50px;
       }
     }

     &.two {
       margin-top: 16rem;
       .img-container {
         transform: translate(-50%,-50%);
         width: 150px;
       }
     }

     &.three {
       margin-top: 16rem;
       .img-container {
         transform: translate(-75%,-57%);
         width: 65px;
       }
     }
    @include media('>small') {
      margin-top: 0 !important;
    }
  }

  .content ol {
    margin: 4rem 0;
    li {
      padding-left: 1rem;
      margin-left: 6rem;
      margin-bottom: 2rem;
    }
  }

  .content {
    h4 {
      margin-top: 6rem;
    }
    h4:nth-of-type(1) {
      margin-top: 4rem;
    }
    @include media('>small') {
      h4 {
        margin-top: 8rem;
      }
      h4:nth-of-type(1) {
        margin-top: 5rem;
      }
    }
  }

  .row.article-body.dark {
      background-color: #f3f0e9;
      margin-top: 0;
      padding-top: 6rem;
      padding-bottom: 0 !important;
      @include media('>small') {
        padding-top: 10rem;
      }
  }

  .dicussion-steps.last {
    padding-bottom: 6rem;
    @include media('>small') {
      padding-bottom: 10rem;
    }
  }

}
