@import "posts";

#emotional-health {
    #hero {
        position: relative;
        @include media('<=medium') {
          margin-top: 112px;
        }

        @include media('<=small') {
          margin-top: 82px;
        }

        @include media('>medium') {
          margin-top: 82px;
        }

        > div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: calc(100% - 6rem);
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include media('>small') {
                height: calc(100% - 6rem);
                top: calc(50% - 10px);
            }

            @include media('>medium') {
                height: calc(100% - 4rem);
                top: calc(50% - 10px);
            }

            @include media('>large-with-margins') {
                height: calc(100% - 4rem);
                top: calc(50% - 2rem + 41px);
            }

            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-image: url(images/emotional-health/emotional-health-hero-article.jpg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-bottom: 2rem;
                pointer-events: none;

                @include media('>medium') {
                    margin-bottom: 3rem;
                }
            }

            p, h1 {
                color: $color-text;
            }
        }
    }

    #article-hero-strip {
      @include media('>large-with-margins') {
        margin-top: 5rem;
      }
    }

    .article-body {
        img {
            @include media('>small') {
                // These are a little intense at full width
                display: block;
                max-width: calc(100% - 8rem);
                margin: 0 auto;
            }

            @include media('>medium') {
                max-width: calc(100% - 6rem);
            }
        }
    }

  /*background-size: 358px 229px !important;
  background-color: $color-white;

  @include media('>small') {
    background-size: 635px 424px !important;
  }

  article {
    > :nth-child(3) {
      padding-top: 4.25rem;
    }
  }*/
  /*

    background-image: url(images/emotional-health/emotional-health-hero-article.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0%, 50% 0 !important;
    background-size: auto 416px !important;*/
  /*    @include media('>small') {
        background-size: auto 500px !important;
    }

    @include media('>medium') {
        background-size: auto 700px !important;
    }*/
  /*.fluid {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    max-width: unset;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 2rem;

    @include media('>small') {
      padding: 2rem 8rem;
    }

    @include media('>medium') {
      padding: 2rem 16rem;
    }
  }

  .flex-spacer {
    flex: 1 1 auto;
  }*/

  /*header {
    &#masthead {
      &.site-header {
        display: none !important;
      }
    }
  }*/

  /*#hero {
    margin: 220px auto 0;

    @include media('>small') {
      margin: 420px auto 0;
    }

    h1 {
      color: $color-manifesto-video;
      @include fontSize(32px);
      @include lineHeight(40px);

      @include media('>small') {
        @include fontSize(51px);
        @include lineHeight(69px);
      }
    }

    p {
      @include fontSize(16px);
      @include lineHeight(19px);
      text-align: center;
      color: $color-manifesto-video;

      @include media('>small') {
        @include fontSize(21px);
        @include lineHeight(25px);
      }
    }
  }

  #article-hero-strip {
    margin-top: 0 !important;
    background-color: #F3F0E9;
    border-radius: 0;

    > p {
      margin: auto;
      @include fontSize(16px);
      @include lineHeight(24px);

      @include media('>small') {
        @include fontSize(18px);
        @include lineHeight(24px);
      }
    }
  }

  #article-body {
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    background-color: $color-white;
    border-radius: 0;

    ul {
      margin-left: 6rem;
    }
  }

  #one-up-bullet-list {
    align-items: center;
    justify-content: center;
    padding: 2rem;

    div {
      background-color: #F3F0E9;
      border-radius: 0.625rem;
      padding: 5rem;

      h3 {
        @include fontSize(24px);
        @include lineHeight(32px);
        color: $color-brand-dark;
      }

      p, li {
        @include fontSize(22px);
        @include lineHeight(30px);
      }

      li {
        padding-top: 2rem;
      }
    }
  }*/
}
