@import "posts";

#four-words-article {
	* {
		font-display:swap;
	}
	#hero {
		background-image: url(images/four-words/four-words-article-hero-mobile.jpg);

		@include media('>small') {
			background-image: url(images/four-words/four-words-article-hero.jpg);
		}

	}

	.article-pullquote p {
		font-family: $font-family-main;
		font-display:swap;
		@include fontSize(36px);
		@include lineHeight(48px);

		@include media('>small') {
		}

		@include fontSize(42px);
		@include lineHeight(54px);
	}

	figure {
		margin: 0;

		figcaption {
			em {
				color: #393E41;
				font-size: 16px;
				line-height: 20px;

				@include media('>small') {
					font-size: 18px;
					line-height: 30px;
				}

			}

		}

	}

	 #sharestory {
    #form-step-share-story {
      @include media('>small') {
        padding-right: 40%;
        background-image: url('images/member/illo-man-with-coffee.png');
        background-size: 290px auto;
        background-position: calc(100% - 2rem) 50%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 50%;
      }

      @include media('>medium') {
        background-size: 310px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 50%;
      }

      @include media('>large') {
        background-size: 320px auto;
        background-position: calc(100% - 14rem) 50%;
      }
    }

    .optin {
      max-width: 600px;

      @include media('>medium') {
        max-width: none;
      }

      label {
        position: relative;
        display: block;
        margin-top: 2rem;
        padding-left: 3rem;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
          @include fontSize(20px);
          @include lineHeight(24px);
        }

        input[type='checkbox'] {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
    }
  }

  .byline {
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;

    @include media('>small') {
      font-size: 2.75rem;
      line-height: 4rem;
    }
  }

}
