@import "posts";

#kait-masters-article {
	* {
		font-display:swap;
	}
	#hero {
    background-position: 50% 50%;
		background-image: url(images/kait-masters/hero-mobile.jpg);
    height: 330px;

		@include media('>small') {
			background-image: url(images/kait-masters/hero-tablet.jpg);
      height:504px;
		}
    @include media('>medium') {
      height:600px;
      background-image: url(images/kait-masters/hero-laptop.jpg);
      background-position: 50% 100%;
    }
    @include media('>large') {
      background-image: url(images/kait-masters/hero-desktop.jpg);
      background-position: 50% 50%;
    }
	}
  #sub-hero {
    h1 {
      max-width: 164rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  #author-blurb {
     > div {
      > div {
        align-items: center; 

        @include media('>small','<medium') {
          padding: 2rem;
          align-items: center; 
        }
        @include media('>medium', '<large') {
          padding: 3rem 2rem;
          align-items: center;
        }

        >div:last-of-type {
          @include media('>small','<medium') {
            padding-left: 4rem;
          }
        }
      }
    }
  }
  .article-body {
    > div {
        > div {
          @include media('>medium') {
            width: desktop-grid-size(10, 9);
          }
          @include media('>large') {
            width: desktop-grid-size(8,7);
          }
        }
    }
  }
	.article-pullquote p {
		font-family: $font-family-main;
		font-display:swap;
    font-style: normal;
		@include fontSize(36px);
		@include lineHeight(48px);
    margin-top: 2rem;

    font-size: 4rem;
    line-height: 44px;
		@include media('>small') {
      margin-top: 0;
      @include fontSize(42px);
      @include lineHeight(64px);
		}

	}

  .article-pullquote {
    margin-top: 0;
    margin-bottom: 0;
  }

	figure {
		margin: 0;

		figcaption {
			em {
				color: #393E41;
				font-size: 16px;
				line-height: 20px;

				@include media('>small') {
					font-size: 18px;
					line-height: 30px;
				}

			}

		}

	}

	 #sharestory {
    #form-step-share-story {
      @include media('>small') {
        padding-right: 40%;
        background-image: url('images/member/illo-man-with-coffee.png');
        background-size: 290px auto;
        background-position: calc(100% - 2rem) 50%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 50%;
      }

      @include media('>medium') {
        background-size: 310px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 50%;
      }

      @include media('>large') {
        background-size: 320px auto;
        background-position: calc(100% - 14rem) 50%;
      }
    }

    .optin {
      max-width: 600px;

      @include media('>medium') {
        max-width: none;
      }

      label {
        position: relative;
        display: block;
        margin-top: 2rem;
        padding-left: 3rem;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
          @include fontSize(20px);
          @include lineHeight(24px);
        }

        input[type='checkbox'] {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
    }
  }

  .byline {
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;

    @include media('>small') {
      font-size: 2.75rem;
      line-height: 4rem;
    }
  }

  .author-callout.sm {
    display: block;
    visibility: visible;
    @include media('>small') {
      display:none;
      visibility: hidden;
    }
  }
  .author-callout.lg {
    display: none;
    visibility: hidden;
    @include media('>small') {
      display:block;
      visibility: visible;
    }
  }


}
