@import "posts";

#mg-other-conditions-article {
	#hero {
		background-image:url('images/mg-other-conditions/article-hero-mg-other-condit-sm.png');
		@include media('>small') {
			background-image:url('images/mg-other-conditions/article-hero-mg-other-condit-lg.png');
		}
	}

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    //margin: 0 !important;

  }

  .article-pullquote p {
    font-family: $font-family-main;
    font-style: normal;
    font-size: 4rem !important;
    line-height: 5.5rem !important;

    @include media('>small') {
      font-size: 5.25rem !important;
      line-height: 8rem !important;
    }

    @include fontSize(42px);
    @include lineHeight(64px);
  }

  .article-pullquote cite {
    font-size: 2.25rem;
    line-height: 3rem;

    @include media('>small') {
      font-size: 3rem !important;
      line-height: 4rem;
    }
  }

  .article-pullquote cite {
    font-family: "Libre Baskerville", serif;
  }

  .sub-cite {
    font-family: $font-family-tertiary;
  }

  figcaption {
    //font-size: 1.5rem;
    color: #393E41;

    @include media('>small') {
      //font-size: 2rem;
    }
  }
}
