@import "posts";

#myasthenia-gravis-friendly-roasted-sweet-potato-and-ginger-soup-article {
  #hero {

    background-image: url(images/roasted-sweet-potato-and-ginger-soup/01_Hero_SweetPotatoSoup_Garnish_Overlay.jpg);
    background-position-y: 50%;

    @include media('<large') {
      background-image: url(images/roasted-sweet-potato-and-ginger-soup/01_Hero_SweetPotatoSoup_GarnishOverlay_960.jpg);
    }

    @include media('<small') {
      background-image: url(images/roasted-sweet-potato-and-ginger-soup/01-HeroSweetPotatoSoupOverlay.jpg);
    }

    h1{
      font-size: 4rem;
      line-height: 5rem;
      @include media('>small') {
        font-size: 8rem;
        line-height: 9.75rem;
      }
    }

  }
.article-body {
  .content {
    @include media('<large', '>small') {
      width: calc(92% - 1.33333rem);
      margin-left: 40px;
      margin-right: 40px;
    }
  }


}
  #callout-slab {
    div {
      p {
        @include media('<1200px', '>898px') {
          padding-top: 30px;
        }
        padding-top: 15px;
        @include media('>small', '<medium') {
          padding-left:10px;
        }

      }
    }
  }
  img.sm {
    @include media('>small') {
      margin-bottom: 3rem;
    }
  }

  img.lg{
    display: block;
    visibility: visible;

    @include media('<large') {
      display: none;
      visibility: hidden;
    }
  }

  img.md{
    display:none;
    visibility: hidden;
    @include media('>=small') {
      display:block;
      visibility: visible;
    }
    @include media('>large') {
      display:none;
      visibility: hidden;
    }
  }

  img.sm {
    display: none;
    visibility: hidden;
    @include media('<small') {
      display: block;
      visibility: visible;
    }
  }

  .content{
    .image-description {
      margin-bottom: 40px;
      }
  }
  .recipe {
    margin: 24px 0 0;
    @include media('>small') {
      margin: 4rem 0 0;
    }
    .print.lg,
    .directions.lg {

      @include media('>small') {
      }
    }
    strong {
      color: $color-brand-dark;
      font-family:$font-family-nav-large;
      &.prep {
        margin-left: 3rem;
      }
    }

    .row {
      display:flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 60px;
      @include media('<small') {
        margin-bottom: 20px;
      }
      align-items: flex-start;
      > div {
        &:nth-child(1) {
          //order: 2;
          width: 100%;
          @include media('>small') {
            //order: 1;
            width: desktop-grid-size(5,4);
          }
        }
        &:nth-child(2) {
          //order: 1;
          width: 100%;
          @include media('>small') {
            //order: 2;
            width: desktop-grid-size(7,6);
          }
        }
      }
    }
    ul {
      margin: 3rem 0 0;
      li {
        padding-left: 3rem;
        padding-bottom: 2rem;
        &:before {
          left: 1rem;
        }
      }
    }
    ol {
      text-align: left;
      padding: 0;
      margin: 1rem 0 0 22px;
      li {
        padding-left: 3rem;
        padding-bottom: 2rem;
        &:before {
          left: 1rem;
        }
      }
    }
    .ingredients {
       margin: 0px 0 20px;
       @include media('>small') {
         margin:0;
       }
       div:nth-child(1) {
         background-color: #e8e8e8;
         padding: 30px;
       }
     }
    .seasoning {
      margin: 6rem 0 0;
      @include media('>small') {
        margin-top: 10rem;
        margin-left: -4rem;
        ul {
          margin-top: 2rem;
          columns: 2;
        }
      }
      div:nth-child(1) {
        background-color: #F6F6F6;
        padding: 30px;
      }
    }
    .instructions {
      margin-top: 20px;

      p:nth-child(3) {
        margin-top: 6rem;
      }

      @include media('>small') {
        margin-top: 3rem;
      }

      h2 {
        //background: url(images/social-line.svg) no-repeat 0 100%;
        //background-size: 100% auto;
        padding-bottom: 8px;
        //@include media('>small') {
        //  padding-bottom: 24px;
        //}
      }
      .directions {
          margin-top: 24px;
      }

    }


  }

  .print {
    padding-left: 4rem;
    font-family: $font-family-nav-large;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;

    @include media('>small') {
      padding: 2rem 0 2rem 1rem;
    }
    @include media ('>large-with-margins') {
      padding: 2rem 0 2rem 4.5rem;
    }
    a {
      background: transparent url('images/Print_desktop@2x.svg') no-repeat 0 50%;
      background-size: 30px auto;
      color: $color-brand-dark;
      padding: 1rem 5rem;
      @include media('>small') {
        padding: 1rem 1rem 1rem 5rem;
      }
      @include media ('>large-with-margins') {
        padding: 1rem 5rem;
      }
    }
  }

  .directions + p{
    margin-bottom:0px;
  }

  .recipe-bar {
    font-family: $font-family-tertiary;
    color: #fff;
    font-size: 2.25rem;
    line-height: 3.75rem;
    letter-spacing: 3.88px !important;
    display: flex;
    flex-direction: column;

    @include media('>small') {
      letter-spacing: 1px !important;
      flex-direction: row;
    }
    @include media('>medium') {
      margin-top: 4rem;
    }
    @include media('>large') {
      letter-spacing: 3.88px !important;
    }

    > div {
      &:nth-child(1), &:nth-child(2) {
        background-color: $color-brand-dark;
      }
      &:nth-child(3) {
        background-color: $color-cta-secondary;
      }

    }

    .outer-col {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @include media('>small') {
        width: desktop-inner-grid-size(2.8, 2, 8, 7);
        padding: 1rem 0;
      }
      &:nth-child(1) {
        @include media('<small') {
          padding-bottom: 0;
        }

        @include media('>large') {
          padding-left: 2.5rem;
        }
        @include media('>large-with-margins') {
          padding-left: 3rem;
        }
      }
    }
    .inner-col {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @include media('>small') {
        width: desktop-inner-grid-size(2.4, 3, 8, 7);
        padding: 1rem 0;
      }

    }
  }
  #eoc{
    @include media('<medium') {
      padding-left:30px;
      padding-right:30px;
    }
  }
}
