 @import "posts";
$mymgsole-orange: #E65623;
/* 
* my mg sole art project page
* migration article 
*/
#mymgsole-article {
  #hero {
    background: $color-brand-dark;
    height: 64rem;

    @include media('>small') {
      height: 72rem;
    }

    @include media('>large') {
      height: 110rem;
    }

    h1 {
      max-width: 112rem;
      margin-left: auto;
      margin-right: auto;
    }

    #hero-video {
      position: relative;
      margin: 3rem auto;

      @include media('>small') {
        margin: 6rem auto;
      }

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: calc((8 / 16) * 100%);

        @include media('>small'){
          padding-top: calc((5 / 16) * 100%);
        }
      }

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        width: 100%;
        height: 100%;        /* This is redundant with the poster image from Brightcove, but that tends to take a moment to load which causes things to look a bit flickery... using the same background image here to try and smoothe out the experience*/
        background-image: url('images/mymgsole-gallery/video-poster-how-to-get-started.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

    }

    p {
      max-width: 81rem;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .article-body {
    >div {
      > div {
        @include media('>small') {
          width: 100%;
        }

      }

    }

    &.steps-wrap {
      background-color: #efefef;
      padding: 10rem 0;
      margin: 0;

    }

    .content {
      h2,
      h3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      &.steps {
        h3 {
          margin-bottom: 3rem;
          @include fontSize(32px);
          line-height: 46px;
        }

        .row {
          justify-content: center;

          @include media('>medium') {
            justify-content: space-between;
          }

          .col-4 {
            text-align: center;
            margin-bottom: 5rem;
            width: 80%;

            @include media('>medium') {
              margin-bottom: 0;
              width: calc(33% - 4rem);
            }

            p {
              font-family: $font-family-dark-body;
              margin: 0 3rem;

              @include media('>small') {
                margin: 0 auto;
              }

              &.step-icon {
                margin: 0 auto 2rem;
                text-align: center;
                background: $mymgsole-orange;
                border-radius: 100%;
                padding: 2px;
                color: white;
                font-family: $font-family-primary;
                font-size: 23px;
                line-height: 40px;
                width: 40px;
                height: 40px;
              }

              &.step-headline {
                color: $color-brand-dark;
                font-family: $font-family-primary;
                font-weight: bold;
                text-align: center;
                @include fontSize(24px);
                line-height: 4rem;
                padding: 0 0 1rem;
                margin: 0 3rem 1rem;
                border-bottom: 1px solid #979797;

                @include media('>small') {
                  @include fontSize(32px);
                  line-height: 42px;
                  padding: 0 0 3rem;
                  margin: 0 auto 2rem;
                  border-bottom: 2px solid #979797;
                }
                @include media('>medium') {
                  height: 109px;
                  padding:0 4rem 3rem;
                }
                @include media('>large') {
                  height: auto;
                  padding: 0 0 3rem;
                }
              }

            }

          } 
          
          &:nth-child(3) {
            justify-content: center;

            .col-4 {
              margin-left: auto;
              margin-right: auto;
              margin-bottom:0;

              .capsule {
                margin-top: 5rem;
              }
            }
          }

        }


      }

      &.gallery {
        h2 {
          max-width: 102rem;
        }

        h4 {
          display: flex;
          margin: 6rem auto 5rem;
          justify-content: center;
          align-items: center;
          font-family: $font-family-secondary;
          color: $color-brand-dark;

          @include media('>small') {
            @include fontSize(24px);
            line-height: 4rem;
          }

          &:before,
          &:after {
            content: "";
            background-color: #979797;
            flex: 1;
            height: 1px;
            margin: 0;
          }

          &:before {
            margin-right: 2rem;
          }

          &:after {
            margin-left: 2rem;
          }

        }

        .gallery-list-items {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: center;

          @include media('>small') {
            justify-content: space-between;
          }

          div {
            width: 100%;
            margin-bottom: 2rem;

            @include media('>small') {
              width: calc(50% - 3rem);
              margin-bottom: 4rem;

              &:last-child {
                margin-bottom: 0;
              }
            }

            @include media('>medium') {
              width: calc(33% - 3rem);

              /* last 3 boxes */
              &:nth-child(n+12) {
                margin-bottom: 0;
              }
            }

            blockquote {
              color: $color-text;
              font-family: $font-family-secondary;
              @include fontSize(20px);
              line-height: 28px;
              padding: 0 2rem;
              margin-top: 2rem;
              margin-bottom: 2rem;
              display: block;

              @include media('>small') {
                margin-top: 3rem;
                margin-bottom: 3rem;
                @include fontSize(24px);
                line-height: 4rem;
                padding: 0;
              }

              cite {
                margin-top: 2rem;
                font-family: $font-family-tertiary;
                @include fontSize(16px);
                line-height: 20px;

                @include media('>small') {
                  @include fontSize(18px);
                  line-height: 3rem;
                  align-self: flex-start;
                }

              }

            }

          }

        }

      }

    }

  }

  #sharestory {
  // on this article in particular only 

    > div {
      > div {
        background-color: $color-modules-bg-secondary;
      }
    }

   
   h2 {
    color: $color-brand-dark;
    font-family: $font-family-primary;
    @include fontSize(28px);
    @include lineHeight(38px);
    
    @include media('>small') {
        @include fontSize(48px);
        @include lineHeight(52px);
    }
      &.secondary {
          font-family: $font-family-body;
          color: $color-text;
          font-weight: 300;
          @include fontSize(24px);
          @include lineHeight(32px);

          @include media('>small') {
            @include fontSize(24px);
            @include lineHeight(32px);
          }
     }
   }
   p, label {
    color: $color-text;
    a {
      font-weight: bold;
      text-decoration: none;
      border-bottom: 4px solid #e4572e;
      &:hover {
        border-bottom-color: $color-brand-light;
      }
    }
   }

    #form-step-sign-up, #form-step-survey {
      @include media('>small') { 
        background-image: url('images/mymgsole-gallery/art_easel.svg');
        background-size: 230px auto;
        background-position: calc(100% - 2rem) 40%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 40%;
        background-size: 290px auto;
      }

      @include media('>medium') {
        background-size: 304px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 40%;
      }

      @include media('>large') {
        background-size: 374px auto;
        background-position: calc(100% - 8rem) 40%;
      }

    }

  }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #mymgsole-article {
    .article-body .content.steps :nth-child(3).row {
      justify-content: flex-start !important;
    }
  }
}