@import "posts";

#newly-diagnosed {
  #hero {
    background-image: url(images/how-to-cope/how-to-cope-article-hero-mobile.jpg);

    @include media('>small') {
      background-image: url(images/how-to-cope/how-to-cope-article-hero.jpg);
    }
  }

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .article-pullquote p {
    font-family: $font-family-main;
    @include fontSize(36px);
    @include lineHeight(48px);


    @include media('>small') {
      @include fontSize(42px);
      @include lineHeight(54px);
    }
  }
}
