%bulleted-list {
    list-style-type: none;
    margin: 0 0 2rem 0;
    padding: 0;

    li {
        position: relative;
        padding-left: 6rem;

        @include media('>small') {
            padding-left: 10rem;
        }

        &:before {
            content: '\2022';
            position: absolute;
            left: 3rem;

            @include media('>small') {
                left: 6rem;
            }
        }
    }
}

.social-share {
    background: url('/wp-content/themes/mgunited/images/article-share-icon.svg') no-repeat 0 50%;
    background-size: 27px 22px;
    padding-left: 40px;
    cursor: pointer;
}

body.post-template-default {
    background-color: #f8f8f8;
    background-image: none !important;

    main {
        // Overlap with the header's rounded corners

        //@include media('<=medium') {
        //    margin-top: -112px;
        //}
        //
        //@include media('<=small') {
        //  margin-top: -82px;
        //}

        //@include media('>medium') {
        //  margin-top: -82px;
        //}

        @include media('>large') {
            // Overlap with the whole header
            margin-top: -82px;
        }
    }

    #hero {
        margin: 0 auto;
        max-width: 1920px;
        height: 416px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        background-color: #fff;

        @include media('>small') {
            height: 504px;
        }

        @include media('>large') {
            height: 600px;
        }

        > div {
            position: relative;
            top: 50%;
            // This is due to the header overlap
            //transform: translate(0, calc((-100% + 5px) / 2));
            transform: translate(0, -50%);

            //@include media('>small') {
            //    transform: translate(0, -50%);
            //}

            @include media('>large') {
                // This is due to the header overlap
                transform: translate(0, calc((-100% + 82px) / 2));
            }

            p {
                @include fontSize(16px);
                @include lineHeight(19px);
                text-align: center;
                color: #fff;

                @include media('>small') {
                    @include fontSize(21px);
                    @include lineHeight(25px);
                }
            }

            h1 {
                @include fontSize(32px);
                @include lineHeight(40px);

                @include media('>large') {
                    @include fontSize(64px);
                    @include lineHeight(78px);
                }
            }
        }
    }

    #article-hero-strip {
        max-width: 1920px;
        margin: 0 auto 6rem;
        padding: 2rem 0;
        background-color: $color-modules-bg-secondary;

        @include media('>medium') {
            margin-bottom: 10rem;
        }

        > div {
            > div {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                @include media('>medium') {
                    width: desktop-grid-size(12, 11);
                }

                > p {
                    margin: 0;

                    @include fontSize(16px);
                    @include lineHeight(24px);

                    @include media('>large') {
                        @include fontSize(18px);
                        @include lineHeight(24px);
                    }
                }
            }
        }
    }
 #sub-hero {
    p {
      color: $color-brand-dark;
      text-align: center;

      @include fontSize(16px);
      @include lineHeight(19px);

      @include media('>small') {
        @include fontSize(24px);
        @include lineHeight(29px);
      }
    }

    h1 {
      color: $color-brand-dark;
      text-align: center;

      @include fontSize(32px);
      @include lineHeight(40px);

      @include media('>small') {
        @include fontSize(64px);
        @include lineHeight(78px);
      }
    }
  }

  #author-blurb {
    > div {
      > div {
        //margin: 0rem 5rem 0rem 5rem;
        background-color: #F6F6F6;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        padding: 6rem 3rem 4rem 3rem;

        @include media('>small') {
          display: flex;
          padding: 5rem 5rem 5rem;
        }

        > div {
          max-width: 400px;
          margin: 0 auto;

          @include media('>small') {
            max-width: none;
          }

          &:first-of-type {
            margin-bottom: 2rem;

            @include media('>small') {
              margin: 0;
            }

            img {
              width: 100%;
              height: auto;

              @include media('>small') {
                width: auto;
              }
            }
          }

          &:last-of-type {
            @include media('>small') {
              width: 100%;
              padding-left: 8rem;
            }
          }
        }
      }
    }
  }
    #one-up-bullet-list {
        //align-items: center;
        //justify-content: center;
        //padding: 0;
        > div {
            > div {
                background-color: #F3F0E9;
                /*border-radius: 0.625rem;*/
                padding: 4rem 2rem;

                @include media('>small') {
                    padding: 4rem 6rem;
                }

                @include media('>medium') {
                    width: desktop-grid-size(8, 7);
                    margin: 0 auto;
                }

                @include media('>large') {
                    width: desktop-grid-size(6, 5);
                }

                h3 {
                    @include fontSize(20px);
                    @include lineHeight(24px);

                    color: $color-brand-dark;
                     @include media('>small') {
                        @include fontSize(24px);
                        @include lineHeight(32px);
                     }
                }

                p, li {
                    @include fontSize(18px);
                    @include lineHeight(24px);
                    font-weight: 300;

                    @include media('>small') {
                        @include fontSize(22px);
                        @include lineHeight(30px);
                    }
                }

                ul {
                    @extend %bulleted-list;
                    margin-bottom: 0;

                    li {
                        margin-bottom: 1rem;
                        padding-left: 3rem;

                        &:before {
                            left: 0;
                        }

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

article {
    &.post {
    }
}

section.article-body,
section.secondary-article-body {
    margin-top: 6rem;

    @include media('>small') {
        margin-top: 10rem;
    }

    > div {
        > div {
            @include media('>medium') {
                width: desktop-grid-size(8, 7);
                margin: 0 auto;
            }

            h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
                margin-top: 2rem;
            }

            a {
                font-weight: bold;
                color: $color-brand-dark;
            }
            a:hover,
            a:focus {
                 color: $color-modules-bg-quaternary;
            }

            ul {
                @extend %bulleted-list;
            }

            h2 {
                @include fontSize(24px);
                @include lineHeight(32px);

                @include media('>small') {
                    @include fontSize(30px);
                    @include lineHeight(42px);
                }
            }

            h3 {
                @include fontSize(20px);
                @include lineHeight(24px);
                color: $color-brand-dark;

                @include media('>small') {
                    @include fontSize(24px);
                    @include lineHeight(32px);
                }
            }

            p, li {
                font-weight: 300;

                @include fontSize(18px);
                @include lineHeight(24px);

                @include media('>small') {
                    @include fontSize(22px);
                    @include lineHeight(30px);
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .article-inline-video {
                margin-top: 2em;
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            blockquote {
                // So far these are all in their own <section> which has the bulk of the margins
                margin-top: 4rem;
                margin-bottom: 4rem;

                &.article-pullquote {
                    display: block;
                    position: relative;
                    background: url(images/about-mg/quote-background.svg) no-repeat;
                    background-position: center 12px;
                    background-size: 330px 100%;
                    padding: 40px 0 60px;

                    @include media('>500px') {
                        background-size: calc(100% - (#{$mobile-gutter-width} * 2) - 120px) calc(100% - 46px);
                    }

                    @include media('>small') {
                        background-position: center 28px;
                        background-size: 710px calc(100% - 30px);
                        padding: 60px 0 70px;
                    }

                    @include media('>medium') {
                        background-size: 570px calc(100% - 32px);
                    }

                    @include media('>large') {
                        background-size: 710px calc(100% - 40px);
                    }

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        left: calc(50% - 21px);
                        background-size: 42px auto;
                        background-repeat: no-repeat;
                        width: 42px;
                        height: 37px;
                        display: block;
                    }

                    &:before {
                        background-image: url(images/about-mg/quote-start.svg);
                        top: 0;
                    }

                    &:after {
                        background-image: url(images/about-mg/quote-end.svg);
                        bottom: 0;
                    }
                    &.script-font {
                        p {
                            font-family: $font-family-main;
                            @include fontSize(32px);
                            @include lineHeight(44px);

                            @include media('>small') {
                                @include fontSize(42px);
                                @include lineHeight(64px);
                            }
                        }
                    }
                    p {
                        color: $color-text;
                        transform: none;
                        font-family: $font-family-primary;
                        font-size: 22px;
                        line-height: 32px;
                        font-style: italic;
                        text-align: center;
                        width: 80%;
                        margin: 0 auto;

                        @include media('>small') {
                            width: 100%;
                        }
                    }

                    cite {
                        text-align: center;
                        background-image: none;
                        color: $color-modules-bg-primary;
                        font-family: $font-family-tertiary;
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 24px;
                        text-align: center;
                        font-weight: normal;
                        margin-top: 2rem;

                        @include media('>small') {
                            margin-top: 3rem;
                        }
                    }
                }
            }
            .download-slab {
                display:flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #979797;
                border-bottom: 1px solid #979797;
                padding: 4rem 0;
                width: 100%;
                @include media('>small') {
                    justify-content: space-between;
                }

                & > div.download {
                    background:url(images/pdf-icon.jpg) no-repeat 50% 0%;
                    background-size:contain;
                    display:block;
                    text-indent: 150%;
                    white-space: nowrap;
                    overflow:hidden;
                    width: 100%;
                    max-width: 355px;
                    height: 186px;
                    flex: 1 0 100%;
                    margin:0 auto 12px;

                    @include media('>small') {
                        background-position: 0 50%;
                        flex: 1 0 24.074074074074073%;
                        background-size: 208px auto;
                        width: 208px;
                        height: 112px;
                    }
                }
                & > p {
                    flex: 1 0 100%;
                    text-align: left;
                    max-width: 355px;
                    margin-left: auto;
                    margin-right: auto;
                    @include media('>small') {
                        flex: 1 0 30.555555555555557%;
                        text-align:left;
                        max-width:264px;
                        margin-left: 2rem;
                    }
                }
                & > div.bttn-wrap {
                    flex: 1 0 100%;
                    text-align:center;
                    @include media('>small') {
                        text-align:right;
                        flex: 1 0 28.009259259259263%;
                        .capsule {
                            margin-top:0;
                        }
                    }
                }
            }
        }
    }
}

// #eoc {
//   //margin-top: 0px !important;

//   > .row {

//     @include media('>small') {
//       padding-left: 4rem;
//       padding-right: 4rem;
//     }
//   }
// }
