@import "posts";

#smartphone-mg-management-article {
  #hero {
    background-image: url(images/smartphone-mg-management/header-mobile.png);

    @include media('>small') {
      background-image: url(images/smartphone-mg-management/header-desktop.png);
    }
  }

.wrapper {
  display: flex;
  flex-direction: column;

  @include media('>small') {
    flex-direction: row;
  }
}
  .content-col {
    width: 100%;

    @include media('>small') {
      width: desktop-inner-grid-size(6, 5, 8, 7) !important;
      margin-left: $desktop-space-width;
    }
  }

  .img-col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align:center;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    @include media('>small') {
      margin: 0;
      width: desktop-inner-grid-size(2, 1, 8, 7) !important;
    }

    img {
      width: auto;
      height: auto;
      @include media('>small') {
        margin: auto;
        margin-top: 0;
      }
    }
  }

  .content-header {
    font-family: $font-family-primary;
    font-size: 3rem;
    line-height: 4rem;
    border-bottom: 1px solid #979797;
    padding-bottom: 2rem;
    color: $color-brand-dark;
  }

  .disclaimer {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }

}
