@import "posts";

#summer-heat-tips-article {
  #hero {
    background-image: url(images/14-ways-to-outsmart-summer/beat-summer-hero-mobile.jpg);

    @include media('>small') {
      background-image: url(images/14-ways-to-outsmart-summer/beat-summer-hero.jpg);
    }
  }

  .columns {

    div {

    }

    .image img {
      //display: block;
      //width: auto;
      //margin: 0 auto 2rem;
      display: none;

    }

    @media(min-width: 768px) {
      .image {


        img {
          display: block;
          margin: 0;
        }
        width: 24rem;
        margin-left: 0;
        margin-right: 4rem;
        float: left;
      }

      .content {
        margin: 0;
        width: calc(100% - 28rem);
        float: right;
      }

      &.right {
        .image {
          float: right;
          img {
            float: right;
          }
          margin-left: 4rem;
          margin-right: 0;
        }

        .content {
          float: left;
        }
      }

    }

  }

}
