@import "posts";

#the-invsible-burden-article {
  //#hero {
  //  background-image: url(images/14-ways-to-outsmart-summer/beat-summer-hero-mobile.jpg);
  //  @include media('>small') {
  //      background-image: url(images/14-ways-to-outsmart-summer/beat-summer-hero.jpg);
  //  }
  //}

  #hero {
    position: relative;
    @include media('<=medium') {
      margin-top: 112px;
    }

    @include media('<=small') {
      margin-top: 82px;
    }

    @include media('>medium') {
      margin-top: 82px;
    }

    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: calc(100% - 6rem);
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include media('>small') {
        height: calc(100% - 6rem);
        top: calc(50% - 10px);
      }

      @include media('>medium') {
        height: calc(100% - 4rem);
        top: calc(50% - 10px);

      }

      @include media('>large-with-margins') {
        height: calc(100% - 4rem);
        top: calc(50% - 2rem + 41px);
      }

      &:before {
        //margin-top: 24px;

        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(images/invisible-burden/invisible-burden-hero-mobile.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 6rem;
        pointer-events: none;

        @include media('>small') {
          background-image: url(images/invisible-burden/invisible-burden-hero.png);
          margin-bottom: 2rem;
        }

        @include media('>medium') {
          margin-bottom: 3rem;
          margin-top: 3rem;
        }
      }

      p, h1 {
        color: $color-text;
      }

    }
  }

  #article-hero-strip {
    @include media('>large-with-margins') {
      margin-top: 5rem;
    }
  }

  .columns {

    div {

    }

    .image img {
      display: block;
      width: auto;
      margin: 0 auto 6rem;

    }

    @media(min-width: 768px) {
      .image {


        img {
          display: block;
          margin: 0;
        }
        width: 24rem;
        margin-left: 0;
        margin-right: 4rem;
        float: left;
      }

      .content {
        margin: 0;
        width: calc(100% - 28rem);
        float: right;
      }

      &.right {
        .image {
          float: right;
          img {
            float: right;
          }
          margin-left: 4rem;
          margin-right: 0;
        }

        .content {
          float: left;
        }
      }

    }

  }

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 7.5rem;

  }

  .article-pullquote p {
    font-family: $font-family-main;
    font-style: normal;
    font-size: 4rem !important;
    line-height: 5.5rem !important;

    @include media('>small') {
      font-size: 5.25rem !important;
      line-height: 8rem !important;
    }

    @include fontSize(42px);
    @include lineHeight(64px);
  }

  .article-pullquote cite {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-size: 2.25rem;

    @include media('>small') {
      font-size: 3rem !important;
    }
  }

  #sharestory {
    #form-step-share-story {
      @include media('>small') {
        padding-right: 40%;
        background-image: url('images/member/illo-man-with-coffee.png');
        background-size: 290px auto;
        background-position: calc(100% - 2rem) 50%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 50%;
      }

      @include media('>medium') {
        background-size: 310px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 50%;
      }

      @include media('>large') {
        background-size: 320px auto;
        background-position: calc(100% - 14rem) 50%;
      }
    }

    .optin {
      max-width: 600px;

      @include media('>medium') {
        max-width: none;
      }

      label {
        position: relative;
        display: block;
        margin-top: 2rem;
        padding-left: 3rem;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
          @include fontSize(20px);
          @include lineHeight(24px);
        }

        input[type='checkbox'] {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
    }
  }

  .illo {
    @include media('>small') {
      margin: auto !important;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
  //.right .illo {
  //  @include media('>medium') {
  //    padding-left: 20px;
  //  }
  //}

}
