@import "posts";

#the-tools-article {
  #hero {
    background-image: url(images/the-tools/the-tools-hero-article-sm.jpg);

    @include media('>small') {
      background-image: url(images/the-tools/the-tools-hero-article.jpg);
    }

  }

  section.article-body {
    margin-top: 5rem;

    @include media('>small') {
      margin-top: 10rem;
    }

  }

  .article-pullquote {
    @include media('>small') {
      margin: 0 auto 74px;
    }

    &:before {
      top: -10px;

      @include media('>small') {
        top: 0;
      }

    }

    p {
      @include fontSize(24px);
      @include lineHeight(32px);

      @include media('>small') {
        @include fontSize(30px);
        @include lineHeight(42px);
      }

    }

  }

  .symptoms-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid $color-light-gray;
    margin: 5rem 0;

    @include media('>small') {
      margin: 10rem 0;
      flex-wrap: nowrap;
    }

    .row {
      flex: 1 0 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid $color-light-gray;
      background-color: $color-modules-bg-secondary;
      font-size: 18px;
      line-height: 3rem;

      @include media('>small') {
        flex-direction: column;
        flex: 1 0 20%;
        border-bottom: none;
        border-right: 1px solid $color-light-gray;
      }

      &:last-of-type {
        border-right: none;
        border-bottom: none;
      }

      .title {
        font-size: 20px;
      }

      .header {
        flex: 1 0 35%;
        background-color: $color-modules-bg-primary;
        display: block;
        padding: 2rem;
        font-family:$font-family-body;
        font-weight: bold;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media('>small') {
          flex: 1 0 auto;
          height: auto;
        }

      }

      .value {
        flex: 1 0 65%;
        padding: 1rem 2rem;
        font-family:$font-family-body;
        font-weight: 300;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media('>small') {
          flex: 1 0 161px;
        }

      }

    }

  }

  .classes-box {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5rem auto 0;

    @include media('>small') {
      margin: 10rem auto 0;
      width: desktop-grid-size(9, 8);
    }

    .row {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 18px;
      line-height: 3rem;
      text-align: center;
      padding: 22px 11px;

      &:nth-child(odd) {
        background-color: #CADBEF;
      }

      &:nth-child(even) {
        background-color: rgba(202, 219, 239, 0.4);
      }

      .title {
        font-family:$font-family-body;
        font-weight: bold;
        color: $color-brand-dark;
        font-size: 3rem;
      }

      .header {
        color: $color-brand-dark;
        font-family:$font-family-body;
        font-weight: bold;
        font-size: 3rem;
        //line-height: 4rem;
        //flex: 1 0 20%;
        flex: 1;
      }

      .description {
        text-align: left;
        font-family:$font-family-body;
        font-size: 22px;
        //line-height: 30px;
        padding: 0 1rem;
        //flex: 1 0 50%;
        flex: 2;

        @include media('>small') {
          flex: 4;
        }

      }

    }

  }

  #sharestory {
    #form-step-share-story {
      @include media('>small') {
        padding-right: 40%;
        background-image: url('images/member/illo-man-with-coffee.png');
        background-size: 290px auto;
        background-position: calc(100% - 2rem) 50%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 50%;
      }

      @include media('>medium') {
        background-size: 310px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 50%;
      }

      @include media('>large') {
        background-size: 320px auto;
        background-position: calc(100% - 14rem) 50%;
      }

    }

    .optin {
      max-width: 600px;

      @include media('>medium') {
        max-width: none;
      }

      label {
        position: relative;
        display: block;
        margin-top: 2rem;
        padding-left: 3rem;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
          @include fontSize(20px);
          @include lineHeight(24px);
        }

        input[type='checkbox'] {
          position: absolute;
          top: 4px;
          left: 0;
        }

      }

    }

  }

}
