@import "posts";

#treatment-goals {
    #hero {
        background-image: url(images/treatment-goals/treatment-goal-hero.jpg);
    }

    /*background-repeat: no-repeat !important;
    background-position: 50% 0, 50% 0 !important;
    background-size: auto 416px !important;
    background-color: $color-white;

    @include media('>small') {
        background-size: auto 600px !important;
    }

    article {
        > :nth-child(3) {
            padding-top: 12.25rem;
        }
    }

    .fluid {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        max-width: unset;
        display: -ms-flexbox;
        display: flex;
        padding: 2rem 2rem;

        @include media('>small') {
            padding: 2rem 8rem;
        }

        @include media('>medium') {
            padding: 2rem 16rem;
        }
    }

    .flex-spacer {
        flex: 1 1 auto;
    }*/
    /*header {
    &#masthead {
      &.site-header {
        display: none !important;
      }
    }
  }*/
    /*#hero {
        margin: auto;
        height: 416px;

        @include media('>small') {
            height: 600px;
        }


        h1 {
            @include fontSize(32px);
            @include lineHeight(40px);

            @include media('>small') {
                @include fontSize(64px);
                @include lineHeight(78px);
            }
        }

        p {
            @include fontSize(16px);
            @include lineHeight(19px);
            text-align: center;
            color: #fff;

            @include media('>small') {
                @include fontSize(21px);
                @include lineHeight(25px);
            }
        }
    }*/

    /*#article-hero-strip {
        margin-top: 0 !important;
        background-color: #F3F0E9;
        border-radius: 0;
        position: absolute;
        left: 0;
        top: 415px;

        @include media('>small') {
            top: 599px;
        }

        > p {
            margin: auto;
            @include fontSize(16px);
            @include lineHeight(24px);

            @include media('>small') {
                @include fontSize(18px);
                @include lineHeight(24px);
            }
        }
    }*/

    /*.article-body,
    #article-body {
        align-items: center;
        justify-content: center;
        margin-top: 0 !important;
        background-color: $color-white;
        border-radius: 0;

        blockquote {
            &.article-pullquote {
                @include media('>575px') {
                    background: url(images/treatment-goals/quote-shape.svg) no-repeat 50% 20%;
                    padding: 60px 100px 80px;
                }

                &:before {
                    background-image: url(images/treatment-goals/start-quote.svg);
                }

                &:after {
                    background-image: url(images/treatment-goals/end-quote.svg);
                }

                p {
                    font-family: $font-family-main;
                    font-size: 42px;
                    line-height: 62px;
                }
            }
        }
    }*/

    /*#one-up-bullet-list {
        align-items: center;
        justify-content: center;
        padding: 2rem;

        div {
            background-color: #F3F0E9;
            border-radius: 0.625rem;
            padding: 5rem;

            h3 {
                @include fontSize(24px);
                @include lineHeight(32px);
                color: $color-brand-dark;
            }

            p, li {
                @include fontSize(22px);
                @include lineHeight(30px);
            }

            li {
                padding-top: 2rem;
            }
        }
    }

    #form-body.article-body {
        background-color: #F3F0E9;
    }

    #form-step-share-goal {
        & > .form-header {
            margin-top: 0;
        }
    }

    #references {
        margin-top: 8rem !important;
    }*/
    
    section.form-module {
        > div {
            padding: 0;

            @include media('>medium') {
                padding: 0 $desktop-gutter-width;
            }

            > div {
                padding: 6rem $mobile-gutter-width;
                /*color: $color-text;
                background-color: $color-modules-bg-secondary;*/
                border-radius: 0;
                
                @include media('>small') {
                    padding: 6rem $desktop-gutter-width;
                }
                
                @include media('>medium') {
                    padding: 6rem 0;
                }
            
                // Form container
                > div {
                    // Form step
                    > * {
                        padding: 0;
                        
                        @include media('>small') {
                            padding: 0 30% 0 0;
                        }

                        @include media('>medium') {
                            padding: 0 desktop-inner-grid-size(2, 2, 12, 11) 0 desktop-inner-grid-size(2, 2, 12, 11);
                        }
                    
                        @include media('>large') {
                            padding-right: desktop-inner-grid-size(3, 3, 12, 11);
                        }
                    }
                }

                /*p,
                label {
                    color: $color-text;
                }*/
            }
        }
    }
}
