@import "posts";

#victor-profile-article {
  #hero {
    background-image: url(images/real-stories-victor/victor-mobile.png);

    @include media('<=small') {
      background-position: 0 50%;
    }

    @include media('>small') {
      background-image: url(images/real-stories-victor/victor-hero.jpg);
    }
  }

  #sub-hero {
    p {
      color: $color-brand-dark;
      text-align: center;

      @include fontSize(16px);
      @include lineHeight(19px);

      @include media('>small') {
        @include fontSize(24px);
        @include lineHeight(29px);
      }
    }

    h1 {
      color: $color-brand-dark;
      text-align: center;

      @include fontSize(32px);
      @include lineHeight(40px);

      @include media('>small') {
        @include fontSize(64px);
        @include lineHeight(78px);
      }
    }
  }

  .article-pullquote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .article-pullquote p {
    font-family: $font-family-main;
    @include fontSize(36px);
    @include lineHeight(48px);


    @include media('>small') {
    }

    @include fontSize(42px);
    @include lineHeight(54px);
  }

  .article-pullquote cite {
    font-family: "Libre Baskerville", serif;
  }

  #author-blurb {
    > div {
      > div {
        //margin: 0rem 5rem 0rem 5rem;
        background-color: #F6F6F6;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        padding: 6rem 3rem 4rem 3rem;

        @include media('>small') {
          display: flex;
          padding: 5rem 5rem 5rem;
        }

        > div {
          max-width: 400px;
          margin: 0 auto;

          @include media('>small') {
            max-width: none;
          }

          &:first-of-type {
            margin-bottom: 2rem;

            @include media('>small') {
              margin: 0;
            }

            img {
              width: 100%;
              height: auto;

              @include media('>small') {
                width: 100%;
              }
            }
          }

          &:last-of-type {
            @include media('>small') {
              width: 100%;
              padding-left: 8rem;
            }
          }
        }
      }
    }
  }

  #sharestory {
    #form-step-share-story {
      @include media('>small') {
        padding-right: 40%;
        background-image: url('images/member/illo-man-with-coffee.png');
        background-size: 290px auto;
        background-position: calc(100% - 2rem) 50%;
      }

      @include media('>830px') {
        background-position: calc(100% - 2rem - ((100vw - 830px) * 0.125)) 50%;
      }

      @include media('>medium') {
        background-size: 310px auto;
        background-position: calc(100% - ((100vw - 830px) * 0.25)) 50%;
      }

      @include media('>large') {
        background-size: 320px auto;
        background-position: calc(100% - 14rem) 50%;
      }
    }

    .optin {
      max-width: 600px;

      @include media('>medium') {
        max-width: none;
      }

      label {
        position: relative;
        display: block;
        margin-top: 2rem;
        padding-left: 3rem;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>small') {
          @include fontSize(20px);
          @include lineHeight(24px);
        }

        input[type='checkbox'] {
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
    }
  }
}
