.no-wrap {
    white-space: nowrap;
}

// hide on desktop
.sm {
    display: block;
    visibility: visible;

    @include media('>medium') {
        display: none;
        visibility: hidden;
    }
}

// hide on mobile
.lg {
    display: none;
    visibility: hidden;

    @include media('>medium') {
        display: block;
        visibility: visible;
    }
}

section {
    &#hero {
        margin: 4rem auto 6rem;
        padding: 0;
        justify-content: center;
        align-items: center;

        @include media('>small') {
            margin: 10rem auto;
        }

        .row {
            flex-direction: column;
            //padding: 0 2rem;
            margin-bottom: 10px;

            @include media('>small') {
                //padding: 2rem 0;
                flex-direction: row;
            }

            > .col-5 {
                padding: 0;

                .masthead {
                    text-align: left;
                }
            }

            > .col-4 {
                padding: 0;

                .masthead {
                    text-align: right;

                    @include media('>small') {
                        text-align: left;
                    }
                }

                &.offset-3 {
                    @include media('<=medium') {
                        margin-left: 0;
                    }
                }
            }

            .masthead {
                font-family: $font-family-main;
                @include fontSize(32px);
                @include lineHeight(40px);
                transform: rotate(-4deg);
                z-index: 5;
                color: $color-white;

                @include media('>small') {
                    @include fontSize(110px);
                    @include lineHeight(123px);
                    transform: none;
                }

                @include media('>medium') {
                    @include fontSize(111px);
                    @include lineHeight(124px);
                }

                span {
                    @include media('>medium') {
                        margin-left: 2rem;
                    }
                }
            }
        }
    }
    // green card
    &.cta-module {
        > div {
            > div {
                background-color: $color-modules-bg-primary;
                /*border-radius: 1rem;*/

                a.capsule {
                    display: inline-block;
                    margin: 4rem auto 0;

                    @include media('>small') {
                        //display: inline-block;
                    }
                }
            }
        }
    }
    // tan cards with form
    &.form-module {
        > div {
            > div {
                margin: 0 auto;
                padding: 6rem 0;
                color: #fff;
                background-color: $color-modules-bg-secondary;

                // green form on articles only
                .single-post & {
                    background-color: $color-modules-bg-primary;
                }
                // Form container
                > div {
                    // Form step
                    > * {
                        padding: 0 3rem;

                        @include media('>small') {
                            padding: 0 30% 0 4rem;
                        }

                        @include media('>medium') {
                            padding: 0 desktop-inner-grid-size(4, 4, 12, 11) 0 desktop-inner-grid-size(1, 0, 12, 11);
                            margin: 0 auto;
                        }

                        @include media('>large') {
                            padding-right: desktop-inner-grid-size(5, 2, 12, 11);
                        }
                    }
                }

                h2 {
                    color: $color-brand-dark;
                    font-family: $font-family-secondary;
                    @include fontSize(28px);
                    @include lineHeight(38px);

                    @include media('>small') {
                        @include fontSize(48px);
                        @include lineHeight(52px);
                    }

                    &.secondary {
                        font-family: $font-family-dark-body;
                        @include fontSize(24px);
                        @include lineHeight(32px);
                        font-weight: 500;

                        @include media('>small') {
                            @include fontSize(24px);
                            @include lineHeight(32px);
                        }
                   }

                   // articles only
                   .single-post & {
                    font-family:$font-family-primary;
                    color: #fff;

                    &.secondary {
                        color: #fff;
                    }
                   }
                }
                p,
                label {
                    color: $color-text;

                    // articles only
                    .single-post & {
                        color: #fff;
                    }
                }
            }
        }

        form {
            // Red on green is kind of intense
            .error-message {
                // ...not sure what to do
            }
        }

    }
    // illustration cards
    .illo-cards {
        margin: 8rem auto 0;

        @include media('>small') {
            margin: 10rem auto 0;
        }

        @include media('>medium') {
            margin: 10rem auto 0;
            width: desktop-grid-size(8, 7);
        }

        .row {
            align-items: center;
            justify-content: center;
            margin-bottom: 8rem;
            padding: 0 2rem;

            @include media('>small') {
                justify-content: space-between;
                padding: 0;
            }

            @include media('>medium') {
                margin-bottom: 12rem;
            }

            div {
                width: 100%;

                &.col-4 {
                    @include media('>small') {
                        width: 30%
                    }
                }

                &.col-5 {
                    @include media('>small') {
                        width: 70%
                    }
                }

                p {
                    font-family: $font-family-primary;
                    text-align: center;
                    margin-bottom: 0;
                    @include fontSize(18px);
                    @include lineHeight(24px);
                    font-weight: bold;

                    @include media('>small') {
                        text-align: left;
                        @include fontSize(24px);
                        @include lineHeight(32px);
                    }
                }

                img {
                    //width: auto;
                    //height: 27.875rem;
                    width: 60%;
                    max-width: 320px;
                    height: auto;

                    @include media('>small') {
                        width: 80%;
                    }

                    @include media('>medium') {
                        width: 100%;
                    }
                }
            }

            &.left {
                .text {
                    margin-left: 0rem;
                    order: 2;

                    @include media('>small') {
                        order: 1;
                        //margin-right: 8rem;
                        padding-right: 8rem;
                        margin: 0;
                    }
                }

                .illo {
                    margin-bottom: 2rem;
                    margin-right: 0rem;
                    text-align: center;
                    order: 1;

                    @include media('>small') {
                        //margin-right: 0rem;
                        margin: 0;
                        order: 2;
                        text-align: left;
                    }
                }
            }

            &.right {
                .illo {
                    margin-bottom: 2rem;
                    text-align: center;

                    @include media('>small') {
                        //margin-left: 6rem;
                        margin: 0;
                        text-align: right;
                    }
                }

                .text {
                    margin-right: 0;

                    @include media('>small') {
                        //margin-right: 8rem;
                        padding-left: 8rem;
                        margin: 0;
                    }
                }
            }

            &:last-of-type {
                margin-bottom: 6rem;

                @include media('>small') {
                    margin-bottom: 10rem;
                }
            }
        }
    }
    // accordions
    .accordion {

        dl {
            display: flex;
            flex-flow: column nowrap;

            dt {
                font-family: $font-family-secondary;
                position: relative;
                display: block;
                width: 100%;
                /*border-radius: 1rem;*/
                padding: 2rem 6rem 2rem 2rem;
                margin: 2rem 0 0;
                background-color: $color-cta-tertiary;
                cursor: pointer;
                @include fontSize(16px);
                @include lineHeight(24px);

                @include media('>small') {
                    @include fontSize(24px);
                    @include lineHeight(32px);
                }

                &.open {
                    background-color: transparent;

                    + dd {
                        margin: 0;
                    }

                    span {
                        transform: rotate(90deg);
                    }
                }

                span {
                    display: inline-block !important;
                    position: absolute;
                    top: calc(50% - 15px);
                    right: 1rem;
                    width: 30px;
                    height: 30px;
                    /*border-radius: 100%;*/
                    background: transparent;
                    box-sizing: content-box;
                    transition: all 200ms ease-in-out;

                    &:before {
                        position: absolute;
                        content: '';
                        margin: auto;
                        width: calc(30px/3.5);
                        height: calc(30px/3.5);
                        background: rgba(0,0,0,0);
                        border: calc(30px/8) solid $color-cta-primary;
                        border-right: none;
                        border-top: none;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: calc(30px/8);
                        transform: rotate(-135deg);
                        box-sizing: content-box;
                        /*border-radius: 2px;*/
                    }

                    @include media('>small') {
                        right: 4rem;
                    }
                }
            }

            dd {
                padding: 3rem 2rem 6rem;
                margin: 0;
                display: none;
                overflow: hidden;
                height: auto;
                opacity: 0;
                @include fontSize(16px);
                @include lineHeight(24px);

                @include media('>small') {
                    @include fontSize(24px);
                    @include lineHeight(32px);
                }
            }
        }
    }
    // capsule links
    a.capsule,
    input[type="submit"] {
        border-radius: $box-border-radius;
        min-width: 25rem;
        min-height: 40px;
        display: inline-block;
        margin: 2.5rem 0 0;
        padding: 1.5rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-family: $font-family-nav-small;
        @include fontSize(18px);
        @include lineHeight(18px);
        border-width: 4px;
        border-style: solid;
        cursor: pointer;
        transition: all 500ms $ease-out-quad;
        -webkit-appearance: none;

        &:hover,
        &:focus,
        &.touch-active {
            transition: all 125ms $ease-out-quad;
        }

        &.touch:not(.touch-active):hover {
            transition: all 500ms $ease-out-quad;
        }

        @include media('>small') {
            margin-top: 3rem;
        }

        @include media(">medium") {
            font-family: $font-family-nav-large;
        }
        // orange
        &.primary {
            color: $color-white;
            background-color: $color-cta-primary;
            border-color: $color-cta-primary;

            &:hover,
            &:focus,
            &.touch-active {
                color: $color-cta-primary;
                background-color: $color-white;
                border-color: $color-cta-primary;
            }

            &.touch:not(.touch-active):hover {
                color: $color-white;
                background-color: $color-cta-primary;
                border-color: $color-cta-primary;
            }
        }
        // yellow
        &.secondary {
            color: $color-text;
            background-color: $color-cta-secondary;
            border-color: $color-cta-secondary;

            &:hover,
            &:focus,
            &.touch-active {
                color: $color-text;
                background-color: $color-white;
                border-color: $color-cta-secondary;
            }

            &.touch:not(.touch-active):hover {
                color: $color-text;
                background-color: $color-cta-secondary;
                border-color: $color-cta-secondary;
            }
        }
        // gray
        &.tertiary {
            color: $color-white;
            background-color: rgba(57,62,65, 0.66);
            border-color: transparent;

            @include media('>495px') {
                margin-left: 1rem;
            }

            &:hover,
            &:focus,
            &.touch-active {
                color: rgba(57,62,65, 0.66);
                background-color: $color-white;
                border-color: rgba(57,62,65, 0.66);
            }

            &.touch:not(.touch-active):hover {
                color: $color-white;
                background-color: rgba(57,62,65, 0.66);
                border-color: transparent;
            }
        }
        // white with bottom border
        &.quaternary {
            border-color: $color-white;
            color: $color-white;
            margin-left: 1rem;
            border-width: 0px;
            border-radius: 0px;
            border-bottom-width: 4px !important;
            border-style: solid;
            min-width: unset;
            padding-left: 0;
            padding-right: 0;
        }
    }
    // Submit buttons
    input[type="submit"] {
        width: 100%;
        max-width: 300px;
        margin-top: 4rem;

        @include media('>small') {
            margin-top: 5rem;
        }
    }
    // video play buttons
    .bttn-play {
        background: url('images/play-copy-1x.png') no-repeat 0 0;
        background-size: contain;
        display: inline-block;
        //margin: 2rem auto;
        margin: 0 auto;
        width: 62px;
        height: 62px;

        @include media('>medium') {
            width: 106px;
            height: 106px;
        }

        &.dark {
            background-image: url(images/icon-bttn-play-dark.png);
        }

        &.solid {
            background: url('images/play-copy-1x.png');
            background-size: contain !important;
        }
    }

    blockquote {
        cite {
            background-repeat: no-repeat;
            background-size: 50px 50px;
            background-position: 0 0;
            // padding-left: 7rem;

            &.celia {
                background-image: url(images/patient-quote/patient-icon-celia.png);
            }

            &.eric {
                background-image: url(images/patient-quote/patient-icon-eric.png);
            }
        }
    }
    // carousel
    .slider-wrapper {
        overflow-x: hidden;
        overflow-y: visible;
        width: 100%;
        margin: 0 auto 4rem;

        @include media('>small') {
            width: 90%;
        }

        .slider {
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            margin-bottom: 2rem;
            position: relative;
            opacity: 0;

            .slide {
                min-height: unset;
                opacity: 1;
                width: 100%;
                margin: auto;
                padding: 1rem 4rem;
                z-index: 100;
                text-align: center;
                @include fontSize(80px);
                line-height: 0.7;

                @include media('>small') {
                    @include fontSize(133px);
                    @include lineHeight(98px);
                }

                p {
                    margin-bottom: 0;
                    transform: rotate(0);
                }
            }
        }

        .slider-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            a {
                cursor: pointer;
                margin: 0 2rem;
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1px solid $color-cta-secondary;
                background-color: $color-white;
                border-radius: 100%;
                z-index: 102;

                &:hover,
                &:focus,
                &.tns-nav-active {
                    background-color: $color-cta-secondary;
                }
            }
        }
    }
    // carousel
    .tns-outer {
        padding: 0 !important;

        &[hidden] {
            display: none !important
        }

        &[aria-controls]
        &[data-action] {
            cursor: pointer;
        }
    }

    .tns-slider {
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;

        > .tns-item {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        &.tns-subpixel {
            white-space: nowrap;

            & > .tns-item {
                display: inline-block;
                vertical-align: top;
                white-space: normal
            }
        }
    }

    .tns-horizontal {
        &.tns-no-subpixel {
            &:after {
                content: '';
                display: table;
                clear: both
            }
        }
    }

    .tns-horizontal {
        &.tns-carousel &.tns-no-subpixel {
            & > .tns-item {
                margin-right: -100%
            }
        }
    }

    .tns-no-calc {
        position: relative;
        left: 0
    }

    .tns-gallery {
        position: relative;
        left: 0;
        min-height: 1px
    }

    .tns-gallery {
        & > .tns-item {
            position: absolute;
            left: -100%;
            -webkit-transition: transform 0s, opacity 0s;
            -moz-transition: transform 0s, opacity 0s;
            transition: transform 0s, opacity 0s;
        }

        & > .tns-slide-active {
            position: relative;
            left: auto !important
        }

        & > .tns-moving {
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            transition: all 0.25s
        }
    }

    .tns-autowidth {
        display: inline-block
    }

    .tns-lazy-img {
        -webkit-transition: opacity 0.6s;
        -moz-transition: opacity 0.6s;
        transition: opacity 0.6s;
        opacity: 0.6;

        &.tns-complete {
            opacity: 1
        }
    }

    .tns-ah {
        -webkit-transition: height 0s;
        -moz-transition: height 0s;
        transition: height 0s
    }

    .tns-ovh {
        overflow: hidden
    }

    .tns-visually-hidden {
        position: absolute;
        left: -10000em
    }

    .tns-transparent {
        opacity: 0;
        visibility: hidden
    }

    .tns-fadeIn {
        opacity: 1;
        filter: alpha(opacity=100);
        z-index: 0
    }

    .tns-normal,
    .tns-fadeOut {
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: -1
    }

    .tns-vpfix {
        white-space: nowrap;

        & > div,
        & > li {
            display: inline-block;
        }
    }

    .tns-t-subp2 {
        margin: 0 auto;
        width: 310px;
        position: relative;
        height: 10px;
        overflow: hidden
    }

    .tns-t-ct {
        width: 2333.3333333%;
        width: -webkit-calc(100% * 70 / 3);
        width: -moz-calc(100% * 70 / 3);
        width: calc(100% * 70 / 3);
        position: absolute;
        right: 0;

        &:after {
            content: '';
            display: table;
            clear: both
        }

        > div {
            width: 1.4285714%;
            width: -webkit-calc(100% / 70);
            width: -moz-calc(100% / 70);
            width: calc(100% / 70);
            height: 10px;
            float: left
        }
    }
    // Callouts - "eoc" is end of page


    &#eoc,
    &#midpage-callouts {
        padding: 0;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow: column;
        max-width: 100%;

        @include media('>small') {
            max-width: 60rem;
            margin-left: auto;
            margin-right: auto;
        }
        @include media('>medium') {
            flex-flow: row;
            max-width: 100%;
        }

        > .row {
            position: relative;

            @include media('>medium') {
                justify-content: center;
            }

            > div {
                display: flex;
                display: -ms-flexbox;
                flex-direction: column;
                margin-bottom: 6rem;
                background-color: #fff;
                border: solid 1px $color-light-gray;
                overflow: hidden;

                &:focus-within {
                  box-shadow: 0px 0px 4px #666 !important;
                }

                @include media('>small') {
                    margin-bottom: 10rem;
                }



                @include media('<=medium') {
                    width: 100%;
                }

                @include media('>medium') {
                    margin-right: $desktop-space-width;
                    margin-bottom: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;

                    @include media('>medium') {
                        margin-right: 0;
                    }
                }
            }

            .col-4 {
                // The borders mess up IE I think
                @include target-metro {
                  @include media('>medium') {
                    width: calc(((100% - (2 * #{$desktop-space-width})) / 3) - 2px);
                  }
                }

                // Same as the above for Edge
                @supports (-ms-ime-align: auto) {
                  @include media('>medium') {
                    width: calc(((100% - (2 * #{$desktop-space-width})) / 3) - 2px);
                  }
                }
            }
        }

        .eoc-callout {
            position: relative;
            align-items: stretch;
            justify-content: flex-start;
            margin: 0;
            //flex: 1;
            //justify-content: stretch;
            height: 100%;
            //flex-direction: column-reverse;

            &.vertical-cta-row {
                flex-direction: column;
            }

            .col {
                //display: flex;
                //display: -ms-flexbox;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                //border-color: $color-light-gray;
                //border-style: solid;
                background-repeat: no-repeat;
                background-size: cover;
                //background-color: #F6F6F6;

                // These frequently use grid layouts after medium
                @include media('<=medium') {
                    width: 100%;
                }

                h2 {
                    color: $color-brand-dark;

                    @include media('<=small') {
                        @include fontSize(20px);
                        @include lineHeight(28px);
                    }
                }

                p:last-of-type {
                    margin-bottom: 0;
                }

                a {
                    display: flex;
                    display: -ms-flexbox;
                    flex-direction: column;
                    flex: 1;
                    width: 100%;
                    padding: 5rem 4rem 4rem;

                    & > p:nth-child(2) {
                        flex-grow: 1;
                    }

                    & > h2:nth-child(2) {
                        flex-grow: 1;
                    }

                    & > p:last-child {
                        margin-bottom: 0;
                    }
                }

                p.eyebrow {
                    font-family: $font-family-secondary;
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: 1.13px;
                    color: #757575;
                    margin-bottom: 2rem;
                }

                .read-duration {
                    font-family: $font-family-body;
                    font-size: 18px;
                    line-height: 18px;
                    color: #757575;
                    margin: 4rem 0 0;

                    @include media('>small') {
                        font-size: 20px;
                        line-height: 32px;
                    }
                    // This gets all of these lined up vertically despite their containers
                    // being variable heights due to the HTML structure
                    @include media('>medium') {
                        position: absolute;
                        bottom: 4rem;
                        left: 4rem;
                        margin: 0;
                    }
                }

                &.cta-copy-dark {
                    background-color: $color-brand-dark !important;

                    h2,
                    p {
                        color: $color-white !important;
                    }

                    .read-duration {
                      color: #d8d8d8;
                    }
                }

                &.cta-top {
                    @extend %post-thumbnail-aspect-ratio;
                    //border-width: 1px 1px 0px 1px;
                    //border-radius: 0.625rem 0.625rem 0 0;
                    //min-height: 32rem;
                    position: relative;

                    a {
                        padding: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    // If we're also left or right, override those aspect ratios
                    &.cta-left,
                    &.cta-right,
                    &.cta-left-reverse,
                    &.cta-right-reverse {
                        @include media('>medium') {
                            padding-bottom: 0;
                        }
                    }
                }

                &.cta-bottom {
                    @include media('>medium') {
                        // Spacing for the absolutely positioned "time to read"
                        padding-bottom: calc(6rem + 20px);
                    }

                    &.cta-right {
                        @include media('>medium') {
                            // This is to get .read-duration in the white box instead of the image box
                            position: relative;
                        }
                    }
                }

                &.cta-right-reverse {
                    order: 1;

                    @include media('>medium') {
                        order: 2;
                        /*border-width: 1px 1px 1px 0px !important;
                        border-radius: 0 0.625rem 0.625rem 0 !important;*/
                    }
                }

                &.cta-left-reverse {
                    order: 2;

                    @include media('>medium') {
                        order: 1;
                        /*border-width: 1px 0px 1px 1px !important;
                        border-radius: 0.625rem 0 0 0.625rem !important;*/
                    }
                }
                &#eoc-docu {
                    a {
                        .bttn-play {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    background-image: url(images/about/docu-eoc-2x.jpg);
                }

                &#eoc-under {
                    background-image: url(images/treatment-goals/about-crosslink-image.jpg);
                }

                &#eoc-treatment {
                    background-image: url(images/my-mg-sole/goals-crosslink-image.jpg);
                }

                &#eoc-crisis {
                    background-image: url(images/treatment-goals/crisis-crosslink-image.jpg);
                    background-position: center 35%;

                    @include media('>small') {
                        background-position: center 36%;
                    }

                    @include media('>medium') {
                        background-position: center 38%;
                    }
                }

                &#eoc-mgsole {
                    background-image: url(images/about/my-mgsole-eoc-2x.jpg);
                }

                &#eoc-real-story {
                    background-image: url(images/living-with-mg/eoc-real-story-1x.jpg);
                }

                &#eoc-emotion {
                    background-color: $color-white;
                    //background-image: url(images/crisis-planning/emotion-crosslink-image.jpg);
                    background-image: url(images/crisis-planning/emotion-crosslink-image-2x.jpg);
                    background-size: 94% auto;
                    background-position: center;

                    @include media('>small') {
                        background-size: 73% auto;
                    }

                    @include media('>medium') {
                        background-size: 96% auto;
                    }
                }

                &#mop-under {
                    background-image: url(images/home/mop-under-mg-1x.jpg);
                }

                &#mop-goals {
                    background-image: url(images/home/mop-goals-1x.jpg);
                }

                &#mop-emotion {
                    background-color: $color-white;
                    background-image: url(images/crisis-planning/emotion-crosslink-image-2x.jpg);
                    background-size: 94% auto;
                    background-position: center;

                    @include media('>small') {
                        background-size: 73% auto;
                    }

                    @include media('>medium') {
                        background-size: 96% auto;
                    }
                }

                &#living-with-cta-emotion {
                    background-color: $color-white;
                    background-image: url(images/crisis-planning/emotion-crosslink-image-2x.jpg);
                    background-size: 94% auto;
                    background-position: center;

                    @include media('>small') {
                        background-size: 73% auto;
                    }

                    @include media('>medium') {
                        background-size: 96% auto;
                    }
                }

                &#home-doctor-tools {
                    background-image: url(images/content-card-images/doctor-tools-home.jpg);
                }

                &#home-newly-diagnosed {
                    background-image: url(images/content-card-images/newly-diagnosed.jpg);
                    background-position: center;
                    padding-bottom: 65% !important;
                }

                &#eop-newly-diagnosed {
                    background-image: url(images/content-card-images/newly-diagnosed.jpg);
                }

                &#home-beat-summer {
                    background-image: url(images/content-card-images/outsmart-summer.jpg);
                    background-position: 0 50%;
                }

                &#home-discussion-guide {
                  background-image: url(images/content-card-images/discussion-guide.jpg);
                  padding-bottom: 65%;
                }

                &#home-anti-inflammatory {
                  background-image: url(images/content-card-images/callout-card-ai-diet.jpg);
                }

                &#home-mg-other-conditions {
                  background-image: url(images/content-card-images/callout-card-mg-other-conditions.png);
                  padding-bottom: 65%;
                }

                &#eop-beat-summer {
                    background-image: url(images/content-card-images/outsmart-summer.jpg);
                }

                &#home-documentary {
                    a {
                        .bttn-play {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    background-image: url(images/content-card-images/documentary.jpg);
                }

                &#home-kathy-profile {
                    background-image: url(images/content-card-images/kathy-profile.jpg);
                    padding-bottom: 65% !important;
                }

                &#eop-kathy-profile {
                    background-image: url(images/content-card-images/kathy-profile.jpg);
                }

                &#home-mg-sometime {
                    background-image: url(images/content-card-images/sometimes-mg.jpg);
                    padding-bottom: 65% !important;
                }

                &#eop-for-sometime {
                    background-image: url(images/content-card-images/sometimes-mg.jpg);
                }

                &#eop-ai-diet {
                    background-image: url(images/content-card-images/callout-card-ai-diet.jpg);
                }

                &#home-leah-profile {
                    background-image: url(images/content-card-images/leah-profile-home.jpg);
                    padding-bottom: 50% !important;
                }

                &#home-friendly-smoothies {
                    background-image: url(images/content-card-images/friendly-smoothies.jpg);
                    padding-bottom: 65% !important;
                }

                &#eop-smoothies {
                    background-image: url(images/content-card-images/friendly-smoothies.jpg);
                }

                &#home-my-mgsole {
                    background-image: url(images/content-card-images/my-mg-sole.jpg);
                    padding-bottom: 50% !important;
                }

                &#home-crisis-info {
                    background-image: url(images/content-card-images/crisis-article.jpg);
                    padding-bottom: 50% !important;
                    + .cta-bottom > a.content-tile {
                        padding-bottom: calc(6rem + 60px);
                    }
                }

                &#real-story-kathy {
                    background-image: url(images/content-card-images/kathy-profile.jpg);
                }

                &#real-story-victor {
                    background-image: url(images/content-card-images/victor-callout.png);
                    @include media('<=small') {
                      background-position: 0 50%;
                    }
                }

                &#eop-victor-profile {
                    background-image: url(images/content-card-images/victor-callout.png);
                    background-position: 0 50%;
                }

                &#real-story-leah {
                    background-image: url(images/content-card-images/leah-profile-real-story.jpg);
                    background-position: 50%;
                }

                &#real-story-four-words {
                  background-image: url(images/content-card-images/four-words.jpg);
                  background-position: 50%;
                }

                &#about-mg-understanding {
                    background-image: url(images/home/mop-under-mg-1x.jpg);
                    padding-bottom: 75% !important;
                }

                &#about-mg-doctor-tools {
                    background-image: url(images/content-card-images/doctor-tools-about-mg.png);
                    padding-bottom: 75% !important;
                }

                &#about-mg-other-conditions {
                  background-image: url(images/content-card-images/callout-card-mg-other-conditions.png);
                  padding-bottom: 75% !important;
                }

                &#eop-doctor-tools {
                    background-image: url(images/content-card-images/doctor-tools-about-mg.png);
                }

                &#eop-mg-other-conditions {
                    background-image:url(images/content-card-images/callout-card-mg-other-conditions.png);
                }

                &#eop-invisible-burden {
                  background-image: url(images/content-card-images/invisible-burden.jpg);
                  background-position: 44%;
                }

                &#eop-savory-soul-food-casserole {
                  background-image: url(images/content-card-images/casserole-crosslink.jpg);
                  background-position-y: 50%;
                }

                &#eop-zesty-chicken-fajitas {
                  background-image: url(images/content-card-images/zesty-chicken-fajitas.png);
                  background-position-y: 50%;
                }

                &#eop-chris-givens {
                  background-image: url(images/content-card-images/chris-givens.jpg);
                }

                &#eop-myrealworld-mg {
                  background-image: url(images/content-card-images/myrealworld-mg.jpg);
                }

                &#eop-kait-masters {
                  background-image: url(images/content-card-images/kait-masters.png);
                  background-position-y: 10%;
                }

                &#eop-discussion-guide-children {
                  background-image: url(images/content-card-images/discusstion-guide-children.jpg);
                  background-position-y: 50%;
                }

                &#eop-smartphone-mg-management {
                  background-image: url(images/content-card-images/smartphone-mg-management.png);
                  background-position-y: 50%;
                }

                &#eop-morgan-greene {
                  background-image: url(images/content-card-images/four-words.jpg);
                  background-position-y: 50%;
                }

                &#about-mg-sometime {
                    background-image: url(images/content-card-images/sometimes-mg.jpg);
                    padding-bottom: 75% !important;
                }

                &#about-mg-newly-diagnosed {
                    background-image: url(images/content-card-images/newly-diagnosed.jpg);
                    padding-bottom: 75% !important;
                }

                &#about-mg-goals {
                    background-image: url(images/home/mop-goals-1x.jpg);
                    padding-bottom: 75% !important;
                }

                &#life-with-mg-smoothies {
                    background-image: url(images/content-card-images/friendly-smoothies.jpg);
                    padding-bottom: 75% !important;
                }

                &#life-with-mg-beat-summer {
                    background-image: url(images/content-card-images/outsmart-summer.jpg);
                    padding-bottom: 75% !important;
                }

                &#life-with-mg-discussion-guide {
                  background-image: url(images/content-card-images/discussion-guide.jpg);
                  padding-bottom: 75% !important;
                }

                &#life-with-mg-invisible-burden {
                  background-image: url(images/content-card-images/invisible-burden.jpg);
                  padding-bottom: 75% !important;
                  background-position: 44%;
                }

                &#life-with-mg-anti-inflammatory-diet {
                  background-image: url(images/content-card-images/callout-card-ai-diet.jpg);
                  padding-bottom: 75% !important;
                }

                &#life-with-mg-emotional {
                    background-color: $color-white;
                    background-image: url(images/crisis-planning/emotion-crosslink-image-2x.jpg);
                    background-size: 94% auto;
                    background-position: center;

                    @include media('>small') {
                        background-size: 73% auto;
                    }

                    @include media('>medium') {
                        background-size: 96% auto;
                    }
                    padding-bottom: 75% !important;
                }

                &#living-with-cta-goals {
                    background-image: url(images/living-with-mg/living-with-mg-goals-1x.jpg);
                }

                &#living-with-cta-under {
                    background-image: url(images/living-with-mg/living-with-mg-about-1x.jpg);
                }

                &#home-cta-mgsole {
                    background-image: url(images/about/my-mgsole-eoc-2x.jpg);

                    @include media('>medium') {
                        min-height: 33rem;
                        background-image: url(images/home/home-shoes-article-1x.jpg);
                    }
                }

                &#home-cta-crisis {
                    background-image: url(images/home/home-crisis-article-1x.jpg);
                    background-position: initial;
                    background-position: 100% 0%;

                    @include media('>small') {
                        background-position: 100% 19%;
                    }

                    @include media('>medium') {
                        background-position: 85% 0%;
                    }
                }

                &#eoc-under {
                    background-image: url(images/treatment-goals/about-crosslink-image.jpg);
                }

                &#eop-discussion-guide {
                  background-image: url(images/content-card-images/discussion-guide.jpg);
                }
                &#eop-mymgsole-gallery {
                    background-image: url(images/content-card-images/mymgsole-gallery.jpg);
                }
                &#eop-roasted-sweet-potato {
                    background-image: url(images/content-card-images/sweetpotatosoup.jpg);
                }
                &#eop-myrealworld {
                    background-image: url(images/content-card-images/myrealworld.jpg);
                }
            }

            @include media('>medium') {
                // Should replace or remove these classes as they're kind of misleading
                .col-4 {
                    width: desktop-inner-grid-size(2.5, 2, 6, 5);
                }

                .col-8 {
                    width: desktop-inner-grid-size(3.5, 3, 6, 5);
                }
            }
        }
    }

  &.page-callouts {
    padding: 0;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: column;
    max-width: 100%;
    @include media('>medium') {
      flex-flow: row;
    }

    > .page-callout-row {
      margin-top: 6rem !important;

      @include media('>medium') {
        margin-top: 4rem !important;
      }
      position: relative;

      @include media('>medium') {
        justify-content: center;
      }

      > div {
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        margin-bottom: 6rem;
        background-color: #fff;
        border: solid 1px $color-light-gray;
        /*border-radius: 0.625rem;*/
        overflow: hidden;

        &:focus-within {
          box-shadow: 0px 0px 4px #666 !important;
        }

        @include media('>small') {
          margin-bottom: 10rem;
        }



        @include media('<=medium') {
          width: 100%;
        }

        @include media('>medium') {
          margin-right: $desktop-space-width;
          margin-bottom: 0;
        }

        &:last-of-type {
          margin-bottom: 0;

          @include media('>medium') {
            margin-right: 0;
          }
        }
      }

      .col-4 {
        // The borders mess up IE I think
        @include target-metro {
          @include media('>medium') {
            width: calc(((100% - (2 * #{$desktop-space-width})) / 3) - 2px);
          }
        }

        // Same as the above for Edge
        @supports (-ms-ime-align: auto) {
          @include media('>medium') {
            width: calc(((100% - (2 * #{$desktop-space-width})) / 3) - 2px);
          }
        }
      }
    }

    .eoc-callout {
      position: relative;
      align-items: stretch;
      justify-content: flex-start;
      margin: 0;
      //flex: 1;
      //justify-content: stretch;
      height: 100%;
      //flex-direction: column-reverse;

      &.vertical-cta-row {
        flex-direction: column;
      }

      .col {
        //display: flex;
        //display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        //border-color: $color-light-gray;
        //border-style: solid;
        background-repeat: no-repeat;
        background-size: cover;
        //background-color: #F6F6F6;

        // These frequently use grid layouts after medium
        @include media('<=medium') {
          width: 100%;
        }

        h2 {
          color: $color-brand-dark;

          @include media('<=small') {
            @include fontSize(20px);
            @include lineHeight(28px);
          }
        }

        p:last-of-type {
          margin-bottom: 0;
        }

        a {
          display: flex;
          display: -ms-flexbox;
          flex-direction: column;
          flex: 1;
          width: 100%;
          padding: 5rem 4rem 4rem;

          & > p:nth-child(2) {
            flex-grow: 1;
          }

          & > h2:nth-child(2) {
            flex-grow: 1;
          }

          & > p:last-child {
            margin-bottom: 0;
          }
        }

        p.eyebrow {
          font-family: $font-family-secondary;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 1.13px;
          color: #757575;
          margin-bottom: 2rem;
        }

        .read-duration {
          font-family: $font-family-body;
          font-size: 18px;
          line-height: 18px;
          color: #757575;
          margin: 4rem 0 0;

          @include media('>small') {
            font-size: 20px;
            line-height: 32px;
          }
          // This gets all of these lined up vertically despite their containers
          // being variable heights due to the HTML structure
          @include media('>medium') {
            position: absolute;
            bottom: 4rem;
            left: 4rem;
            margin: 0;
          }
        }

        &.cta-copy-dark {
          background-color: $color-brand-dark !important;

          h2,
          p {
            color: $color-white !important;
          }

          .read-duration {
            color: #d8d8d8;
          }
        }

        &.cta-top {
          @extend %post-thumbnail-aspect-ratio;
          //border-width: 1px 1px 0px 1px;
          //border-radius: 0.625rem 0.625rem 0 0;
          //min-height: 32rem;
          position: relative;

          a {
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
          }

          // If we're also left or right, override those aspect ratios
          &.cta-left,
          &.cta-right,
          &.cta-left-reverse,
          &.cta-right-reverse {
            @include media('>medium') {
              padding-bottom: 0;
            }
          }
        }

        &.cta-bottom {
          @include media('>medium') {
            // Spacing for the absolutely positioned "time to read"
            padding-bottom: calc(6rem + 20px);
          }

          &.cta-right {
            @include media('>medium') {
              // This is to get .read-duration in the white box instead of the image box
              position: relative;
            }
          }
        }

        &.cta-right-reverse {
          order: 1;

          @include media('>medium') {
            order: 2;
            /*border-width: 1px 1px 1px 0px !important;
            border-radius: 0 0.625rem 0.625rem 0 !important;*/
          }
        }

        &.cta-left-reverse {
          order: 2;

          @include media('>medium') {
            order: 1;
            /*border-width: 1px 0px 1px 1px !important;
            border-radius: 0.625rem 0 0 0.625rem !important;*/
          }
        }


      }

      @include media('>medium') {
        // Should replace or remove these classes as they're kind of misleading
        .col-4 {
          width: desktop-inner-grid-size(2.5, 2, 6, 5);
        }

        .col-8 {
          width: desktop-inner-grid-size(3.5, 3, 6, 5);
        }
      }
    }
  }

    &#eoc  {
        > .row {
            > .col-3 {
                @include media('>medium') {
                    // IE wants to be difficult with these
                     width: calc(32.33333% - 2.66667rem) !important
                }

                @include media('>1150px') {
                    width: desktop-grid-size(3, 2) !important;
                }
            }
        }
    }

    // Midpage callout specific
    &#midpage-callouts {
        .eoc-callout {
            .col {
                &.cta-top {
                    @include media('>medium') {
                        // 1:1 aspect ratio
                        padding-bottom: 100%;

                        // If we're also left or right, override the above
                        &.cta-left,
                        &.cta-right,
                        &.cta-left-reverse,
                        &.cta-right-reverse {
                             padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    // references
    &#references {

        > div {
            > div {
                p {
                    font-weight: bold;
                    cursor: pointer;
                    display: inline-block;
                    @include fontSize(20px);
                    @include lineHeight(20px);
                    margin: 0;

                    @include media('>small') {
                        @include fontSize(24px);
                        @include lineHeight(24px);
                    }

                    a {
                        position: relative;
                        display: inline-block;
                        text-decoration: none;
                        color: $color-brand-dark;
                        transition: none;

                        &:before,
                        &:after {
                            content: '';
                            background-color: $color-brand-dark;
                            position: absolute;
                            top: 5px;
                            left: 10px;
                            display: block;
                            width: 3px;
                            height: 15px;
                            //transform: translate(0, 0);
                            //transform: translate(-50%, -50%);

                            @include media('>small') {
                                top: 6px;
                            }
                        }

                        &:after {
                            width: 15px;
                            height: 3px;
                            top: 11px;
                            left: 4px;
                            //transform: translate(-7px, -2px);
                            //transform: translate(-50%, -50%);

                            @include media('>small') {
                                top: 12px;
                            }
                        }

                        &:hover,
                        &:focus {
                            color: $color-modules-bg-quaternary;

                            &:before, &:after {
                                background-color: $color-modules-bg-quaternary;
                            }

                            span {
                                border-color: $color-modules-bg-quaternary;

                            }
                        }
                    }

                    span {
                        position: relative;
                        top: 1px;
                        box-sizing: content-box;
                        display: inline-block;
                        width: calc(2rem + 1px);
                        height: calc(2rem + 1px);
                        border-radius: 100%;
                        background: transparent;
                        border: 3px solid $color-brand-dark;
                        margin: 0 1rem -4px 0;

                        @include media('>small') {
                            top: 0;
                        }

                        /*&:before,
                        &:after {
                            content: '';
                            background-color: $color-brand-dark;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: block;
                            width: 3px;
                            height: 14px;
                            transform: translate(-2px, -7px);
                            transform: translate(-50%, -50%);
                        }

                        &:after {
                            width: 14px;
                            height: 3px;
                            transform: translate(-7px, -2px);
                            transform: translate(-50%, -50%);
                        }*/
                    }
                }

                ol {
                    display: none;
                    margin: 0;
                    padding-left: 6rem;
                    overflow: hidden;

                    li {
                        @include fontSize(16px);
                        @include lineHeight(24px);
                        padding-top: 1rem;

                        &:first-of-type {
                            padding-top: 2rem;
                        }
                    }
                }
            }
        }

        // Change icon to a "-"
        &.active {
            > div {
                > div {
                    p {
                        a {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#home,
#real-stories {
    section {
        #hero {
            margin-top: 21rem;

            @include media('>medium') {
                margin-top: 4rem;
            }
        }
    }

  #disclaimer {
    margin-top: 6rem;

    @include media('>small') {
      margin-top: 10rem;
    }

    p {
      @include fontSize(16px);
      @include lineHeight(20px);
      padding: 0 4rem;

      @include media(">medium") {
        padding: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// end of page callout
#callout-slab {
    text-align: center;

    @include media('>medium') {
        flex-flow: row wrap;
    }

    & > div {
        width: 100%;

        > div {
            background-color: $color-modules-bg-primary;
            padding: 5rem 4rem;
            margin: 0;

            @include media('>small') {
                display: flex;
                justify-content: flex-start;
                padding: 4rem 2rem;
                margin: 0;
            }

            @include media('>medium') {
                //justify-content: flex-start;
                padding: 4rem 0;
                margin: 0;
            }

            h2, p {
                color: $color-white;
                margin: 0;
            }

            p {
                margin: 1rem 0 2rem;
            }
            // join headline
            > div:nth-of-type(1) {
                //text-align: left;

                @include media('>small') {
                    text-align: left;
                    width: desktop-grid-size(4,3.5);
                }

                @include media('>medium') {
                    width: desktop-grid-size(3.5, 3);
                    margin-left: 40px;
                }

                @include media('>large') {
                    width: desktop-grid-size(5, 4);
                }

                &:nth-child(1) {
                    margin-bottom: 3rem;

                    @include media('>small') {
                      margin-top: auto;
                      margin-bottom: auto;
                    }

                    h2 {
                        position: relative;
                        display: inline-block;
                        @include fontSize(30px);
                        line-height: 40px;

                        @include media('>small') {
                            font-size: 36px;
                            line-height: 48px;
                        }

                        &:after {
                            content: "";
                            position: relative;
                            top: 1rem;
                            left: 50%;
                            transform: translate(-50%, 0);
                            display: block;
                            /*width: calc(100% + 20px);*/
                            width: 80%;
                            //height: 50px;
                            padding-top: calc((100% + 20px) * (42 / 338));
                            background-image: url("images/join-lines.svg");
                            background-size: contain;
                            background-position: center top;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
            // text content
            > div:nth-of-type(2) {

                margin: 0 auto;

                @include media('>small') {
                    text-align: left;
                    padding: 0;
                    width: desktop-grid-size(5, 4);
                }

                @include media('>medium') {
                    width: desktop-grid-size(5.5, 5);
                    margin:0;
                    padding:0;
                }

                @include media('>large') {
                    width: desktop-grid-size(4, 4);
                }

                p:first-of-type {
                    margin-top: 0;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
            //sign-up button
            > div:nth-of-type(3) {
                margin: 0;

                @include media('>small') {
                    align-self: center;
                    width: desktop-grid-size(3,3);
                }

                @include media('>medium') {
                    width: desktop-grid-size(3,2);
                    text-align: center;
                }

                .capsule {
                    margin: 4rem 0 0 0;

                    @include media('>small') {
                        margin-top: 0;
                        padding: 1.5rem 0;
                        min-width:175px;
                    }
                    @include media('>large') {
                        padding: 1.5rem 2rem;
                        min-width:25rem;
                    }
                }
            }
        }
    }
}

#callout-social {
    align-items: center;
    justify-content: center;
    margin: 4.25rem auto 0;
    @include media('>small') {
        margin: 10rem auto 0;
    }

    h2 {
        text-align: center !important;
        font-size: 3.75rem;
        line-height: 5rem;
        @include media('>small') {
            font-size: 4.5rem;
            line-height: 6rem;
        }
    }

    #social-lines {
        max-width: 760px;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .flex-container {
        align-items: center;
        justify-content: center;
        display: flex;
        display: -ms-flexbox;

        a {
            &:focus {
              outline: thin solid !important;
            }
            margin-left: 2rem;
            margin-right: 2rem;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }

    .flex-spacer {
        flex: 1 1 auto;
    }
}

/*@media all and (-ms-high-contrast:none), (-ms-high-contrast: active) {
    body {
      &:not(#home) {
        @include media('>small') {
          background-image: url(images/background-inside-pages.png);
          background-position: 50% 0;
          background-size: auto 580px;
        }

        @include media('>medium') {
          background-size: auto 500px;
        }
      }

      &#sign-up,
      &#error,
      &#error404 {

        @include media('>small') {
          background-image: url(images/background-inside-pages.png);
          background-position: 50% 0;
          background-size: auto 580px;
        }


        @include media('>medium') {
          background-size: auto 500px;
        }
      } 

    }

  #error, #error404, body.error, body.error404, body.hfeed {
    @include media('>small') {
      background-image: url(images/background-inside-pages.png);
      background-position: 50% 0;
      background-size: auto 580px;
    }


    @include media('>medium') {
      background-size: auto 500px;
    }
  }
}*/

@mixin horizontal-tablet-callout-row {
  .horizontal-tablet-callout-row {
    @include media('>small', '<=large') {
      &.two-up-callout-row > div:nth-of-type(1) {
        margin-bottom: 6rem;
        @include media('>medium') {
          margin-bottom: 4rem;
        }
      }
      flex-direction: row;

      > div {
        margin-right: 0;
        width: 100% !important;
        > div {
          flex-direction: row;

          .primary-callout-image {
            padding-bottom: 0;
          }

          .secondary-callout-image, .primary-callout-image {
            width: desktop-grid-size(6, 5) !important;
          }

          .secondary-callout-copy, .primary-callout-copy {
            position: relative;
            width: desktop-grid-size(6, 6) !important;
            border-top: none;

            .read-duration {
              position: absolute;
              bottom: 4rem;
              left: 4rem;
              margin: 0;
            }
          }
        }
      }
      &.tertiary-callout-row {
        justify-content: space-between;
        > div {
          margin-bottom: 0;
          min-height: 250px;
          width: desktop-grid-size(6,5) !important;
          > div {
            .secondary-callout-copy {
              width: 100% !important;
            }
          }
        }

      }
    }
  }
}
