footer {
    max-width: 1344px;
    margin: 6rem auto 0;
    //border-top: 1px solid $color-text;
    padding: 0 $mobile-gutter-width 6rem;

    @include media('>small') {
        padding: 0 $desktop-gutter-width 6rem;
    }

    @include media(">small") {
        margin-top: 10rem;
    }

    @include media('>medium') {
        padding-bottom: 10rem;
    }

  .full-width{
    width:100%;
  }


  .hidden-tablet{
    display:none;
    @include media('<768px') {
      display:block;
    }
    @include media('>968px') {
      display:block;
    }



  }

  .hidden-mobile{
    @include media('<960px') {
      display:none;
    }
  }
  .hidden-desktop{
    @include media('>968px') {
      display:none;
    }
  }

  .hide-under-1075{
    display:none;
    @include media('>1075px') {
      display:block;
    }
  }

  .show-under-1075{
    display:none;
    @include media('<1075px') {
      display:block;
    }
  }

    /*@include media('>1372px') {
        margin: 6.25rem auto 2rem;
    }*/
    [class^="col"] {
        padding: 0;
    }

    & > div {
        position: relative;
        border-top: 1px solid $color-text;
        align-items: center;
        padding: 3rem 0 0;

        @include media('>small') {
            padding-top: 5rem;
        }
> .row{
  position:relative;
        // mg united logo
        > .left-image {
            text-align: left;
            margin-bottom: 1rem;
            order: 1;
            overflow: hidden;
            height: 47px;

            @include media('>small') {
                width: 162px;
                order: 2;
            }

            @include media('>medium') {
                order: 1;
                margin-bottom: 3rem;
            }

            @include media('>large') {
                margin-bottom: 0;
            }

            > img {
                width: 143px;
                height: auto;
            }
          @include media('<=1075px') {
            width:100%;
            position:relative;
          }

        }
        // argnex logo
        > .right-image {
            padding-right: 0;
            order: 3;
            width: 143px;
            height: 46px;
            overflow: hidden;


            @include media('>1075px') {
                position: absolute;
                right: 0;
                margin-left: 0;
                margin-right: 0;
            }

          @include media('<=1075px') {
            width:100%;
            position:relative;
            margin-top:3rem;
          }

          @include media('<960px') {
            margin-top:0;
          }


            > img {
                width: 143px;
                height: auto;
            }

        }
}
        // footer links
        ul {
            list-style-type: none;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 0 2rem;

            li {
                //margin-right: 2rem;

                a, a:hover, a:focus, a:visited, a:active {
                    color: $color-text;

                    &:hover, &:focus {
                        text-decoration: none;
                    }

                }

            }

          &.primary-row {
            width:100%;
            @include media('>medium') {
              position: relative;
              //width: 420px;

              flex-direction: row;
            }

            @include media('>large') {
              width: auto;
              white-space: nowrap;
            }

            @include target-metro {
              @include media('>medium') {
                width: 600px;
              }

              @include media('>=large') {
                width: auto;
              }

            }

            li {
              @include media('>medium') {
                margin-right: 4rem;
              }

              @include media('<998px') {
                margin-right: 3rem;
              }

              a, a:hover, a:focus, a:visited, a:active {
                font-family: $font-family-secondary;
                text-decoration: none;
                @include fontSize(16px);
                @include lineHeight(32px);

                @include media('>medium') {
                  @include fontSize(20px);
                }

                &:hover, &:focus {
                  border-bottom: 2px solid $color-text;
                }

              }

            }

          }


            &.primary {
              width:100%;
                @include media('>medium') {
                  display:none;
                    position: absolute;
                    top: 30px;
                    left: 200px;
                    width: 420px;
                    flex-direction: row;
                }

                @include media('>large') {
                    width: auto;
                    white-space: nowrap;
                }

                @include target-metro {
                    @include media('>medium') {
                        width: 600px;
                    }

                    @include media('>=large') {
                        width: auto;
                    }

                }

                li {
                    @include media('>medium') {
                        margin-right: 4rem;
                    }

                    a, a:hover, a:focus, a:visited, a:active {
                        font-family: $font-family-secondary;
                        text-decoration: none;
                        @include fontSize(16px);
                        @include lineHeight(32px);

                        @include media('>medium') {
                            @include fontSize(20px);
                        }

                        &:hover, &:focus {
                            border-bottom: 2px solid $color-text;
                        }

                    }

                }

            }

            &.secondary {
                flex-direction: row;
                margin-bottom: 2rem;
              position: absolute;
              top: 20px;
              left: 200px;

                @include media('>medium') {
                    margin-bottom: 0;
                }

                @include media('>large') {
                    white-space: nowrap;
                    flex-direction: row;
                }

              @include media('<1075px') {
                position: unset;

              }

              @include media('<1075px') {
                top: 0px;
                left: 0px;


              }

                li {
                    position: relative;
                    display: inline-block;
                    font-family: $font-family-tertiary;
                    @include fontSize(16px);
                    @include lineHeight(24px);
                    margin-bottom: 1rem;

                    &:nth-of-type(1) {
                        &:after {
                            content: "|";
                            padding: 0 4px;
                        }

                    }
                  //&:nth-of-type(2) {
                  //  &:after {
                  //    content: "|";
                  //    padding: 0 4px;
                  //  }
                  //
                  //}

                    &:nth-of-type(3) {
                        flex-basis: 100%;
                        margin-bottom: 0;

                        @include media('>1075px') {
                            flex-basis: auto;
                            margin-left: 4rem;
                        }

                    }

                    a {
                        text-decoration: underline;
                    }

                }

            }

        }

    }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  footer {

    ul.primary-row,
    ul.primary,
    ul.secondary { 
        padding-left:0 !important;
    }
    ul.secondary {
      @include media('<=medium') {
        position: relative !important;
      }
    }

  > div > .row > .right-image {
      @include media('>medium') {
        margin-top: 12rem;
      }
      @include media('>1075px') {
        margin-top: 0 !important;
      }
    }
  }

}