#form-container {
    position: relative;
    overflow: hidden;

    & > * {
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        //&.visible {
        //    display: block;
        //}
    }

    & > form:first-child {
        display: block;
    }
}

form {
    small {
        @include fontSize(16px);
        @include lineHeight(24px);
    }

    fieldset {
        border-width: 0;
        padding: 0;
        margin: 2rem 0;

        @include media('>small') {
            margin-top: 3rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        p {
            margin: 0 0 1rem;

            /*&:first-of-type strong {
                margin-bottom: 1rem;
            }*/
        }
    }

    //div:not(.error-message),
    /*fieldset:first-of-type {
        margin-top: 2rem;

        @include media('>small') {
            margin-top: 4rem;
        }
    }*/

    label,
    textarea,
    input[type="text"] {
        font-family: $font-family-body;
        color: $color-text;
        @include fontSize(18px);
        @include lineHeight(32px);

        @include media('>small') {
            @include fontSize(24px);
            @include lineHeight(32px);
        }
    }

    textarea {
        width: 100%;
        @include media('>small') {
            width: 90%;
        }
        min-height: 34rem;
        border: 3px solid rgba(155,155,155,0.5);
    }

    input[type="text"] {
        border: 3px solid rgba(155,155,155,0.5);
        width: 30rem;
        margin-bottom: 0;
        padding: 1rem;

        @include media('>small') {
            width: 52rem;
        }

        &:disabled {
          background: #e3e3e3;
        }
    }

    label {
        display: block;
        padding-left: 0;

        &.radio,
        &.checkbox {
            display: inline-block;
            position: relative;
            padding-left: 25px;

            @include media('>small') {
                padding-left: 30px;
            }

            input {
                position: absolute;
                top: 8px;
                left: 0;
                padding: 0;

                @include media('>small') {
                    //top: 8px;
                }
            }
        }
    }

    .error-message {
        display: none;
        font-family: $font-family-body;
        @include fontSize(16px);
        @include lineHeight(24px);
        font-weight: 800;
        color: red;
        //margin-top: 1.5rem;
        overflow: hidden;

        @include media('>small') {
            @include fontSize(24px);
            @include lineHeight(32px);
        }
    }

    .validation-error {
        .error-message {
            display: block;
        }
    }
    p.disclaimer {
      margin-top: 3rem;
      @include fontSize(18px);
      @include lineHeight(25px);
      font-style:italic;
      @include media('>small') {
        margin-top: 5rem;
        @include fontSize(18px);
        @include lineHeight(25px);
      }
    }


}

