#grid-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    opacity: 0.375;
    z-index: 9999;
    pointer-events: none;
    display: none;

    & > div {
        @extend %grid-mobile, %grid-desktop;
        width: 100%;
        max-width: 1344px;
        height: 100vh;
        margin: 0 auto;
        
        &.small-only {
            @include media(">small") {
                display: none;
            }
        }

        &.large-only {
            @include media("<=small") {
                display: none;
            }
        }

        & > div {
            height: 100vh;
            background-color: hotpink;
            -ms-grid-column-span: 2;

            &:nth-of-type(1) {
                grid-column-start: 2;
                grid-column-end: 4;
                -ms-grid-column: 2;
            }

            &:nth-of-type(2) {
                grid-column-start: 5;
                grid-column-end: 7;
                -ms-grid-column: 5;
            }

            &:nth-of-type(3) {
                grid-column-start: 8;
                grid-column-end: 10;
                -ms-grid-column: 8;
            }

            &:nth-of-type(4) {
                grid-column-start: 11;
                grid-column-end: 13;
                -ms-grid-column: 11;
            }

            &:nth-of-type(5) {
                grid-column-start: 14;
                grid-column-end: 16;
                -ms-grid-column: 14;
            }

            &:nth-of-type(6) {
                grid-column-start: 17;
                grid-column-end: 19;
                -ms-grid-column: 17;
            }

            &:nth-of-type(7) {
                grid-column-start: 20;
                grid-column-end: 22;
                -ms-grid-column: 20;
            }

            &:nth-of-type(8) {
                grid-column-start: 23;
                grid-column-end: 25;
                -ms-grid-column: 23;
            }

            &:nth-of-type(9) {
                grid-column-start: 26;
                grid-column-end: 28;
                -ms-grid-column: 26;
            }

            &:nth-of-type(10) {
                grid-column-start: 29;
                grid-column-end: 31;
                -ms-grid-column: 29;
            }

            &:nth-of-type(11) {
                grid-column-start: 32;
                grid-column-end: 34;
                -ms-grid-column: 32;
            }

            &:nth-of-type(12) {
                grid-column-start: 35;
                grid-column-end: 37;
                -ms-grid-column: 35;
            }
        }
    }
}
