// These construct a 3-line hamburger programatically,
// though it certainly doesn't need to be done that way
$header-hamburger-line-width: 35px;
$header-hamburger-line-thickness: 3px;
$header-hamburger-line-spacing: 12px;
$header-hamburger-border-radius: 1.5px;

// Different elements in the header gain & lose a box shadow
// based on whether we're in mobile or desktop mode, whether
// the menu is sticky or not, and whether the mobile menu is
// in its opened state
$header-box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.2);

// Site logo buttons appear in two places - inside the mobile
// menu as a replacement for the 1st menu item, and outside
// the menu on desktop as the primary site logo
@mixin site-logo-button {
    display: block;
    width: 160px;
    height: 51px;
}

// The containing <header> element
header {

    @extend %no-select;
    position: relative;
    width: 100%;
    min-width: 320px;
    z-index: 9000;
    // Note: when sticky, we add top padding to the page's <body>
    // element to accommodate for the space lost due to the header
    // switching to fixed positioning
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        //background-color: transparent;
        // iOS tends to have a sub-pixel gap between the top of the header
        // and the top of the browser window - trying to solve this by layering
        // a solid rectangle over that region
        &:after {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $color-white;

            @include media(">small") {
                display: none;
            }
        }

        @include media('>small','<=medium') {
            top: -44px;
        }

        #navigation-content > a {
            @include media('>small','<=medium') {
                display: none;
                visibility: hidden;
            }
            text-decoration: none !important;
        }
    }
}



// The dark negative space behind the open mobile navigation menu
#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9000;
    display: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
// The mobile hamburger button
#hamburger {
    @extend %no-select;
    position: absolute;
    top: 15px;
    right: 12px;
    display: block;
    width: $header-hamburger-line-width + ($header-hamburger-line-spacing * 2) - ($header-hamburger-line-thickness * 2);
    text-align: center;
    text-transform: uppercase;
    padding: #{($header-hamburger-line-spacing * 4) - $header-hamburger-line-thickness} 0 0 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.125s linear;

    @include media(">small") {
        display: none;
    }

    & > span {
        position: absolute;
        display: block;
        top: ($header-hamburger-line-spacing * 2) - $header-hamburger-line-thickness;
        left: ($header-hamburger-line-spacing * 3) - ($header-hamburger-line-thickness * 4);
        left: 50%;
        transform: translate(-50%, 0%);
        width: $header-hamburger-line-width;
        height: $header-hamburger-line-thickness;
        border-radius: $header-hamburger-border-radius;
        background-color: $color-white;
        transition: all 0.3s cubic-bezier(.77,-0.48,.66,1);

        &:nth-of-type(1) {
        }

        &:nth-of-type(2) {
        }

        &:nth-of-type(3) {
            top: $header-hamburger-line-spacing - $header-hamburger-line-thickness;
        }

        &:nth-of-type(4) {
            top: ($header-hamburger-line-spacing * 3) - $header-hamburger-line-thickness;
        }
    }


    .open & {
        background-color: transparent;
        color: transparent;
        transition: color 0.125s linear;

        & > span {
            transition: all 0.5s cubic-bezier(.41,1.66,.67,.96);
            background-color: $color-white!important;

            &:nth-of-type(1) {
                transform: translate(-50%, 0%) rotate(45deg);
            }

            &:nth-of-type(2) {
                transform: translate(-50%, 0%) rotate(-45deg);
            }

            &:nth-of-type(3) {
                top: ($header-hamburger-line-spacing * 2) - $header-hamburger-line-thickness;
                transform: translate(-50%, 0%) scale(0, 1);
            }

            &:nth-of-type(4) {
                top: ($header-hamburger-line-spacing * 2) - $header-hamburger-line-thickness;
                transform: translate(-50%, 0%) scale(0, 1);
            }
        }
    }
}

.black-header {
  background-color: #000;
}


.white-header{
  background-color: $color-white;

  #hamburger {
    & > span {
      background-color: $color-brand-dark!important;
    }
    .open & {
      background-color: transparent;
      color: transparent;
      transition: color 0.125s linear;

      & > span {
        transition: all 0.5s cubic-bezier(.41,1.66,.67,.96);
        background-color: $color-brand-dark!important;

        &:nth-of-type(1) {
          transform: translate(-50%, 0%) rotate(45deg);
        }

        &:nth-of-type(2) {
          transform: translate(-50%, 0%) rotate(-45deg);
        }

        &:nth-of-type(3) {
          top: ($header-hamburger-line-spacing * 2) - $header-hamburger-line-thickness;
          transform: translate(-50%, 0%) scale(0, 1);
        }

        &:nth-of-type(4) {
          top: ($header-hamburger-line-spacing * 2) - $header-hamburger-line-thickness;
          transform: translate(-50%, 0%) scale(0, 1);
        }
      }
    }
  }
  #navigation{
    >div{
      >ul{
        >li.selected{
          >a{

            color: $color-text!important;
  }}}}}
}

// The navigation menu, which opens and closes on mobile
// via the hamburger button
#navigation {
    position: relative;
    display: none;
    width: 100%;
    background-color: $color-white;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: height;

    @include media('>small') {
        // In desktop mode, we remove the relative positioning
        // so that the request samples button, which uses
        // absolute positioning on desktop, will be positioned
        // relative to the "navigation-content" element and not
        // the "navigation" element, which is now very
        // short - this allows us to have the single button appear
        // inside the mobile menu yet not constrained to its size
        // and position on desktop
        position: initial;
        display: block;
        padding: 1rem 2rem 0;
        background: transparent;
        text-align: center;
        overflow: visible;
    }

    @include media('>960px') {
        padding: 2rem 0 2rem;
    }
    // This inner containing div is present primarily to make
    // it easier for the javascript to measure all of the content
    // inside the collapsable mobile menu, though it's also
    // convenient for adding padding - otherwise we'd have to
    // do a lot of work to detect the bottom margin of the last
    // child element, etc.
    & > div {
        padding-bottom: 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: column wrap;

        @include media('>small') {
            padding: 6rem 0 1.5rem;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;
        }

        @include media('>960px') {
            padding: 0;
            justify-content: flex-end;
            align-items: center;
            flex-flow: row nowrap;
        }
        // The list of menu items, which may consist of
        // individual links or submenus
        & > ul {
            list-style-type: none;
            //margin: 0;
            padding-left: 0 !important;
            margin: 0 0 3rem 0;

            @include media('>small') {
                display: flex;
                justify-content: center;
                align-items: center;
                //padding: 0 1% 0 0;
                margin: 0;
            }

            @include media('>960px') {
                justify-content: space-between;
                width: calc(100% - 175px - 160px - 6rem);
                max-width: 725px;
                margin: 0 3rem 0 0;
            }

            @include media($header-nav-large-font-size-breakpoint) {
                margin-right: 5rem;
            }
            // Each menu item
            & > li {
                margin: 0 0 1rem 2rem;
                text-transform: uppercase;

                @include media('>small') {
                    margin: 0 2rem 0 0;
                }

                @include media('>800px') {
                    margin: 0 3rem 0 0;
                }

                @include media('>850px') {
                    margin: 0 4rem 0 0;
                }

                @include media('>900px') {
                    margin: 0 5rem 0 0;
                }

                @include media('>960px') {
                    position: relative;
                    //margin: 0 4rem 0 0;
                    margin: 0;
                }
                // The top menu labels are encased in <span>
                // elements - this allows us to use them as buttons
                // via click events & makes styling them a bit
                // easier
                & > span {
                    display: inline-block;
                    width: 100%;
                    padding: 10px 20px;
                    cursor: pointer;

                    @include media(">small") {
                        display: block;
                        width: auto;
                        padding: 10px 30px;
                        cursor: default;
                    }

                    &:hover {
                    }

                    &:active {
                        color: white;

                        @include media(">small") {
                            color: inherit;
                        }
                    }
                }
                // Top-level links, unlike menu labels, are just
                // <a> elements without an enclosing <span>
                & > a {
                    display: inline-block;
                    padding: 1rem 0 0;
                    margin: 0 0 0 1rem;
                    @include fontSize(18px);
                    @include lineHeight(32px);
                    font-family: $font-family-nav-small;
                    color:$color-text;
                    border-bottom: 1rem solid transparent;
                    white-space: nowrap;
                    transition: none;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        border-bottom: 1rem solid $color-cta-secondary;
                    }

                    @include media('>small') {
                        color: $color-text;
                        @include fontSize(16px);
                        @include lineHeight(24px);
                        /*@include fontSize(14px);
                        @include lineHeight(16px);*/
                        margin: 0;
                    }

                    @include media($header-nav-large-font-size-breakpoint) {
                        @include fontSize(18px);
                        @include lineHeight(32px);
                        font-family: $font-family-nav-large;
                        //margin: 0 1rem;
                    }
                }
                /*// Sub-menus
                & > ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    height: 0;
                    overflow: hidden;

                    @include media(">small") {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        display: none;
                        min-width: 250px;
                        height: auto;
                        white-space: nowrap;
                    }

                    &.open {
                        height: auto;
                    }

                    // Each menu item in the sub-menu
                    & > li {
                        margin: 0;

                        a {
                            display: block;
                            margin: 0;
                            padding: 10px 20px 10px 40px;

                            @include media(">small") {
                                padding: 20px 20px;
                            }

                            &:hover {
                                color: #fff;
                            }
                        }

                        &:first-of-type {
                            a {
                                @include media(">small") {
                                    padding-top: 30px;
                                }
                            }
                        }

                        &:last-of-type {
                            a {
                                @include media(">small") {
                                    padding-bottom: 30px;
                                }
                            }
                        }
                        // Indicator when this menu item is the current page
                        &.selected {
                            pointer-events: none;
                            cursor: default;

                            a {
                                color: $color-white;
                                text-decoration: none;
                                line-height: 4rem;
                                border-bottom: 1rem solid $color-cta-secondary;

                                @include media(">small") {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }*/
                // The first menu item is assumed to be a "home"
                // link - on mobile we're replacing that with
                // a button, and on desktop we hide it completely.
                // It could certainly be displayed on desktop if
                // the design calls for it
                &:first-of-type {
                    margin-bottom: 0;
                    padding-top: 0;
                    height: 8rem;

                    @include media(">small") {
                        display: none;
                    }
                    // A lot of this is just to achieve the icon SVG
                    // effect and wouldn't be necessary if this was simply
                    // a text link in the menu
                    a {
                        @include site-logo-button;
                        width: 140px;
                        height: 44px; // ie11 requires heights on svgs
                        margin-left: 4px; // 20px logo postion - 2rem nav padding
                        margin-top: 2rem;
                        overflow: hidden;
                        border: none;
                        padding: 0;

                        &.selected,
                        &:hover,
                        &:focus {
                            // This just undoes the hover effect applied to all
                            // the other menu items; this item is an icon on
                            // mobile and hidden on desktop, so we're treating it
                            // differently
                            background-color: transparent;
                            border-color: transparent;
                        }

                        > img {
                            //transform: translate(0, -66.666%);
                        }
                    }

                    &.selected {
                        & > span,
                        & > a {
                            pointer-events: all;
                            background-color: inherit;

                            &:first-of-type {
                                border-color: transparent;
                            }
                        }

                        & > a {
                            cursor: pointer;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
                // Selected state for top level menus
                &.selected {
                    // Menus that contain submenus use a <span>
                    // for their label; menus without submenus
                    // just contain an <a> element
                    & > span,
                    & > a {
                        color: $color-white;
                        border-bottom: 1rem solid $color-cta-secondary;
                        //line-height: 4rem;
                        @include media(">small") {
                            color: inherit;
                            border-bottom: 1rem solid $color-cta-secondary;
                        }
                    }

                    & > span {
                        &:active {
                            // The rules above undo our active state
                            @include media(">small") {
                            }
                        }
                    }

                    & > a {
                        pointer-events: none;
                        cursor: default;
                        text-decoration: none;

                        @include media(">small") {
                            color: inherit;
                        }
                    }
                }
                // Hover state for top level menus
                &:hover,
                &:focus {
                    & > span {
                        @include media(">small") {
                            position: relative;
                            // This prevents the drop shadow from covering
                            // the menu bar (along with the z-index: 1 we
                            // apply to the <ul> below
                            z-index: 2;
                        }
                    }

                    & > ul {
                        @include media(">small") {
                            display: block;
                            z-index: 1;
                        }
                    }
                }
            }
        }
        // Sign up button
        & > a {
            //width: 140px;
            //height: 40px;
            display: inline-block;
            padding: 1.5rem 3rem;
            border: 4px solid $color-cta-primary;
            border-radius: $box-border-radius;
            background-color: $color-cta-primary;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-family: $font-family-nav-small;
            @include fontSize(18px);
            @include lineHeight(18px);
            margin: 0 0 0 2rem;
            //transition: all 200ms ease-in-out;
            transition: color 500ms $ease-out-quad, background-color 500ms $ease-out-quad, border-color 500ms $ease-out-quad;
            white-space: nowrap;

            &:hover,
            &:focus {
                transition: color 125ms $ease-out-quad, background-color 125ms $ease-out-quad, border-color 125ms $ease-out-quad;
            }

            @include media('>small') {
                width: 140px;
                font-size: 2rem;
                line-height: 2rem;
                //margin: 0 0 0 1%;
                margin: 0;
                padding: 1rem 2rem 1rem;
            }

            @include media($header-nav-large-font-size-breakpoint) {
                width: 175px;
                margin: 0;
                padding: 1.5rem;
                font-family: $font-family-nav-large;
                @include fontSize(18px);
                @include lineHeight(18px);
            }

            &:hover,
            &:focus {
                background-color: $color-white;
                color: $color-cta-primary;
                border: 4px solid $color-cta-primary;
            }
        }
    }
    // Navigation state when the menu is sticky
    #hamburger > span:nth-child(1) {
    }

    .sticky & {
        & > div {

            & > ul {
                // On desktop, position the <ul> relative so
                // that the header matches it's height - the
                // velocity-based sticky show/hide animation
                // uses a y-percent transform to achieve the
                // sliding effect
                @include media(">small") {
                }
            }
            // Hide this so that it doesn't shift down into
            // the nav area
            & > button {
                @include media(">small") {
                    display: none;
                }
            }
        }
    }
    // When the menu is open in mobile mode, the navigation
    // needs a drop shadow since it expands downward beyond
    // the header content area
    .open & {
        /*box-shadow: $header-box-shadow;*/
    }
}

// Any other content that appears in the header, such as
// a site logo. This is also the element that defines the
// fixed height of the header
#navigation-content {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: $color-white;

    @include media('>small') {
        //max-width: 178.125rem;
        max-width: 1344px;
        height: auto;
        margin: 0 auto;
        //padding: 1rem 2rem 3rem 1rem;
        padding: 0 $desktop-gutter-width;
        background-color: $color-white;
    }
    // The main home link and/or site logo
    & > a {
        @include site-logo-button;
        position: absolute;
        top: 2rem;
        left: 20px;
        width: 140px;
        height: 44px; // ie11 requires heights on svgs
        overflow: hidden;

        &:focus {
          outline: thin solid !important;
        }

        @include media('>small') {
            top: 2rem;
            left: calc(50% - 70px);
        }

        @include media('>960px') {
            //top: 14px;
            //left: 58px;
            top: 2rem;
            left: $desktop-gutter-width;
            padding: 0;
            z-index: 1;
            width: 160px;
            height: 50px; // ie11 requires heights on svgs
        }
        // This is for all pages with light backgrounds
        > img {
            //transform: translate(0, -66.666%);

            @include media('>small') {
                transform: none
            }
        }
    }
    // Content state when the menu is sticky
    .sticky & {
        box-shadow: none;
        // On desktop, set the height to auto so that
        // the header matches it's height - the
        // velocity-based sticky show/hide animation
        // uses a y-percent transform to achieve the
        // sliding effect
        /*border: 1px solid #393E41;
        border-top-width: 0;*/
        @include media(">small") {
            //box-shadow: $header-box-shadow;
            height: auto;
        }
        // Hide this so that it doesn't shift down into
        // the nav area
        /*& > a {
            top: 2px;
            @include media(">small") {
                display: none;
            }
        }*/
    }

  .skip-link:focus {
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: #f1f1f1;
    color: #0073aa;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  }

  .skip-link {
    position: absolute;
    top: -1000em;
  }
}


/*#home {

    header {
        #navigation-content {
            background-color: transparent;
            // This is for pages with dark backgrounds
            > a > img {
                transform: translate(0, -33.333%);
            }
        }

        #navigation {
            > div {
                > ul {
                    > li {
                        > a {
                            color: $color-white;
                        }
                    }
                }
            }
        }

        &.sticky {
            #navigation {
                > div {
                    > ul {
                        > li {
                            > a {
                                color: $color-white;

                                @include media('>small') {
                                    color: $color-text;
                                }
                            }
                        }
                    }
                }
            }

            #navigation-content {
                background-color: $color-brand-dark;

                > a > img {
                    transform: translate(0, -66.666%);
                }

                @include media('>small') {
                    background-color: $color-white;

                    > a > img {
                        transform: none;
                    }
                }
            }
        }
    }
}*/
