.cl-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9100;
    -webkit-tap-highlight-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.cl-modal-template {
    display: none;
}

.cl-modal {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    min-width: 280px;
    max-width: 600px;
    max-height: calc(100% - 40px);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%) translateZ(0);
    background-color: rgba(255, 255, 255, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 16px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 25px;
    overflow: hidden;
    z-index: 9100;
    border-radius: 8px;

    * {
        box-sizing: border-box;
    }

    &.social-share-modal {
        border-radius: 0;
        max-width: 490px;

        .alert-copied {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: rgba(71,153,54,0.9) url(/wp-content/themes/mgunited/images/icon-checkmark.svg) no-repeat 50% 35%;
            font-family: $font-family-nav-large;
            font-size: 30px;
            line-height: 36px;
            color: #fff;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            opacity: 0;
            display: none;
            padding-top: 4rem;

            @include media('>small') {
                background-position: 50% 38%;
            }
        }

        .cl-modal-close-button {
            z-index: 99;
            top: 6px;

            @include media('>small') {
                top: 20px;
            }
        }

        .cl-modal-content {
            margin:0;

            .cl-modal-template {
                padding: 14px;
                @include media('>small') {
                    padding: 30px;
                }
            }
            h2 {
                font-family: $font-family-secondary;
                font-size: 24px;
                line-height: 29px;
                color: $color-manifesto-video;
            }

            p {
                font-size: 22px;
                line-height: 28px;
                font-family: $font-family-body;
                text-align: center;
            }

            .share-buttons {
                margin: 20px 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: flex-start;

                .social-button {
                    flex: 0 0 33%;
                    width: 30%;
                    padding: 0 2px;
                }
            }

            .fb-share-button,
            .twitter-share-button,
            .pinterest {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-indent: 150%;
                position: relative;
                cursor: pointer;
                width: 63px;
                height: 63px;
                margin: auto;

                @include media('>small') {
                    width: 85px;
                    height: 85px;
                }
            }

            .fb-share-button {
                background: transparent url('/wp-content/themes/mgunited/images/icon-facebook_color.svg') no-repeat 0 0;
                background-size: cover;
            }

            .twitter-share-button {
                background: transparent url('/wp-content/themes/mgunited/images/icon-twitter_color.svg') no-repeat 0 0;
                background-size: cover;
            }

            .pinterest {
                background: transparent url('/wp-content/themes/mgunited/images/icon-pinterest_color.svg') no-repeat 0 0;
                background-size: cover;
            }

            #copy-url-form {
                position: relative;
                width: 308px;
                height: 48px;
                display: block;
                margin: 0 auto;

                @include media('>small') {
                    width: 411px;
                }

                #copy-url {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 8px;
                    border: 1px solid #D7D7D7;
                    background-color: $color-cta-tertiary;
                    font-family: $font-family-body;
                    font-size: 22px;
                    line-height: 28px;
                    width: 100%;
                    color: $color-manifesto-video;
                }

                #copy-url-bttn {
                    position: absolute;
                    top: 3px;
                    right: 0;
                    font-family: $font-family-tertiary;
                    color: #004174;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    border: none;
                    border-radius: 0;
                    border-right: 1px solid #D7D7D7;
                    background-color: $color-cta-tertiary;
                    padding: 0;
                    margin: 0;
                    width: 80px;
                    min-width: 80px;
                    height: 42px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
        }
    }

    .cl-modal-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        padding: 50px 10px 0 10px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        span {
            position: absolute;
            top: 22px;
            left: 10px;
            width: 30px;
            height: 4px;
            border-radius: 2px;
            background-color: #333333;

            &:nth-of-type(1) {
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                transform: rotate(-45deg);
            }
        }
    }

    .cl-modal-content {
        position: relative;
        margin: 50px 20px 40px 20px;
        -webkit-overflow-scrolling: touch;

        @include media(">small") {
            margin-left: 40px;
            margin-right: 40px;
        }

        .cl-modal-template {
            display: block;
            padding: 0;
            margin: 0;

            section {
                margin: 0;
            }

            .buttons {
                padding: 0 2rem 2rem 0;
            }

            .capsule:nth-child(1) {
                @include media('>medium') {
                    margin-right: 2rem;
                }
            }
        }
    }
}
