#violator {
  display: none;
  visibility: hidden;
  //padding: 2rem 4rem 2rem 3rem;
  padding: 0;

  &.shown {
    //display: flex;
    visibility: visible;
    align-items: center;
  }

  #violator-header {
    margin-top: 10px;

    @include media('>small') {
      margin-top: 6px;
    }
    transition: margin-top 0.8s ease-out;

    //&.open {
    //  @include media('>small') {
    //    margin-top: 0;
    //  }
    //  @include media('>medium') {
    //    margin-top: 1rem;
    //  }
    //  @include media('>large') {
    //    margin-top: 2rem;
    //  }
    //}
    //transition: margin-top 0.4s ease-out;

  }

  .outer {
    margin: auto;
    width: 100%;
  }

  text-align: center;

  h1 {
    color: white;
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 1rem;
    font-family: $font-family-secondary;

    @include media('>small') {
      @include fontSize(36px);
      line-height: 6rem;
      margin-bottom: 2rem;
    }

  }

  p {
    color: white;
  }

  height: 60px;
  transition: height 0.8s ease-out, padding 0.8s ease-out;

  &.open {
    padding: 2rem 0;
    height: 250px;
    transition: height 0.8s ease-out, padding 0.8s ease-out;
    display: block;
    //flex-direction: column;
    //align-items: center;

    #violator-header {
      margin-top: 2.5rem;
      @include media('>small') {
        margin-top: 0;
      }
      @include media('>medium') {
        margin-top: 1rem;
      }
      @include media('>large') {
        margin-top: 2rem;
      }
      transition: margin-top 0.8s ease-out;
    }



    #violator-body {
      margin-left: 2rem;
      margin-right: 2rem;
      opacity: 1;
    }

    @include media('>small') {
      //padding-top: 4rem;
    }

  }

  background-color: $color-modules-bg-primary;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9099;

  @include media('>small') {
    //padding: 3rem 0 0;
  }

  #violator-toggle {
    cursor:pointer;
    position: absolute;
    right: 17px;
    top: 19px;
    margin-right: 1rem;
    //margin-top: 39px;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    transition: all 500ms $ease-out-quad;

    @include media('>small') {
      //top: 30px;
      margin-right: 3rem;
    }

    &:before {
      position: absolute;
      content: '';
      margin: auto;
      width: 14px;
      height: 2px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0
    }

    &:after {
      position: absolute;
      content: '';
      margin: auto;
      width: 2px;
      height: 14px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0
    }

  }

  #violator-body {
    opacity: 0;
    transition: opacity 800ms $ease-out-quad;

    .capsule {
      border-radius: $box-border-radius;
      min-width: 25rem;
      min-height: 40px;
      display: inline-block;
      margin: 1rem 0 0;
      padding: 1.5rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-family: $font-family-nav-small;
      @include fontSize(18px);
      @include lineHeight(18px);
      border-width: 4px;
      border-style: solid;
      cursor: pointer;
      transition: all 800ms $ease-out-quad;
      -webkit-appearance: none;
      background-color: white;

      color: $color-white;
      background-color: $color-cta-primary;
      border-color: $color-cta-primary;

      &:hover,
      &:focus,
      &.touch-active {
        color: $color-cta-primary;
        background-color: $color-white;
        border-color: $color-cta-primary;
      }

      &.touch:not(.touch-active):hover {
        color: $color-white;
        background-color: $color-cta-primary;
        border-color: $color-cta-primary;
      }

      &:hover,
      &:focus,
      &.touch-active {
        transition: all 125ms $ease-out-quad;
      }

      &.touch:not(.touch-active):hover {
        transition: all 500ms $ease-out-quad;
      }

      @include media('>small') {
        margin-top: 2rem;
      }

    }

  }

  /* documentary styles only */
  &.documentary {
    background-color: #E1DCD8;

    h1,
    p {
      color: #1d1d1d;
      max-width: 436px;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-family: $font-family-dark-main;
      @include fontSize(32px);
      line-height: 5rem;

      @include media('>small') {
        @include fontSize(36px);
        line-height: 6rem;
      }

    }
    &.open {
      @include media('>medium'){
        height: 280px;
      }
    }


    #violator-toggle {
      border-color: #1D1D1D;

      &:before,
      &:after {
        background-color: #1d1d1d;
      }

    }

    #violator-body {
      .capsule {
        background-color: #C14951;
        color: white;
        border-color: #C14951;

        &:hover,
        &:focus {
          background-color: white;
          color: #C14951;
        }

      }

    }

  }

}

body {
  &.violator-shown {
    margin-bottom: 60px;
    transition: margin-bottom 0.4s ease-out;
    &.violator-open {
      margin-bottom: 280px;
      transition: margin-bottom 0.4s ease-out;
    }
  }

  &.violator-open {
    #violator-toggle {
      &:after {
        transform: rotate(90deg);
      }

    }

  }

}
