// Media query sizes
$breakpoints: (
// After this we're in tablet mode
"small": 767px, // 768px (when using >small)
// After this we're in the smallish
// desktop mode
"medium": 959px, // 960px (when using >medium)
// After this we're in the largeish desktop mode
"large": 1199px,
// After this the content hits its 1344px
// max-width
"large-with-margins": 1343px );

// Max content width
$desktop-max-width: map-get($breakpoints, "large-with-margins");

// Fonts
$font-family-main: 'Sparose', serif; // large headlines
$font-family-primary: "Libre Baskerville", serif; // h1, h2 - google font
$font-family-secondary: 'Greycliff CF Bold', serif; // h3, callouts, footer nav
$font-family-tertiary: 'Greycliff CF', serif; // h6, footer sub nav
$font-family-nav-small: 'Greycliff CF Heavy', serif; // nav
$font-family-nav-large: 'Greycliff CF Bold', serif; // nav
$font-family-body: calibri, sans-serif; // body copy
$font-family-quote: 'BlackDolphinSignatureScript', serif; // blockqootes p
$font-family-nav-secondary: 'Greycliff CF Extra Bold', serif; // jumplinks

// Dark mode fonts
$font-family-dark-main: 'HCo Chronicle Display', serif; // large headlines
$font-family-dark-secondary: din-condensed, sans-serif;
$font-family-dark-body: "Source Sans Pro", sans-serif;

// Font Size Calculator
$rem-base: 8px !default;

@function calculateRem($size) {
    $remSize: $size / $rem-base;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

@mixin lineHeight($size) {
    line-height: $size; //Fallback in px
    line-height: calculateRem($size);
}

// IE11 mixin
@mixin target-metro {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

// Colors
$color-black: #000;
$color-white: #fff;
$color-manifesto-video: #41474A;

$color-brand-light: #167F8D; // logo-teal old teal was #1CA0B2
$color-brand-dark: #003B63; // logo-blue
$color-text: #393E41; //dark gray

$color-cta-primary: #E4572E; // orange
$color-cta-secondary: #ECA400; // yellow
$color-cta-tertiary: #F6F6F6; // light gray

$color-modules-bg-primary: #3D842E; // green old green was #479936
$color-modules-bg-secondary: #F3F0E9; // warm gray
$color-modules-bg-tertiary: #cadbef; // light blue
$color-modules-bg-quaternary: #167F8D; // lighter logo-teal old teal was #40C2D5

$color-light-gray: rgba(151,151,151,0.3); // dividing lines

// buttons
$box-border-radius: 24px;

// Misc. design elements
$header-nav-large-font-size-breakpoint: '>1170px';
$header-border-radius: 5px;

// Grid settings (only used here for the overlay; not used for actual layout at the moment)
$desktop-max-width: 1344px; //map-get($breakpoints, "large-with-margins");

$mobile-gutter-width: calculateRem(12px);
$mobile-space-width: calculateRem(12px);
$mobile-num-columns: 6;
$mobile-num-spaces: #{$mobile-num-columns - 1};

$desktop-gutter-width: 2rem;
$desktop-space-width: 4rem;
$desktop-num-columns: 12;
$desktop-num-spaces: #{$desktop-num-columns - 1};

// calc()-based grid width/flex-basis values for mobile (4 columns,
// 2rem spacing) - the outer gutters are not included here, just
// the columns and spacing between them
@function mobile-grid-size($columns, $spaces) {
    /*- Requested column width + requested space width = result --------------------------------------------------------------------------------*/
    /*- Requested space width ---------*/
    /*- Requested column width -----------------------------------------------------------------------*/
    /*- Total column width --------------------------------*/
    @return calc(((100% - (#{$mobile-space-width} * #{$mobile-num-spaces})) * (#{$columns} / #{$mobile-num-columns})) + (#{$mobile-space-width} * #{$spaces}));
}

@function desktop-grid-size($columns, $spaces) {
    /*- Requested column width + requested space width = result ------------------------------------------------------------------------------------*/
    /*- Requested space width ----------*/
    /*- Requested column width --------------------------------------------------------------------------*/
    /*- Total column width ----------------------------------*/
    @return calc(((100% - (#{$desktop-space-width} * #{$desktop-num-spaces})) * (#{$columns} / #{$desktop-num-columns})) + (#{$desktop-space-width} * #{$spaces}));
}

// This is a more general version of the above, where the total number of
// columns and spaces is configurable instead of the fixed 12 & 11. This is
// useful for calculating grid dimensions *inside* of an element that's inside
// the grid layout. IE11 doesn't seem to allow grids inside of grids, which
// made all of this really complicated
@function desktop-inner-grid-size($columns, $spaces, $total-columns, $total-spaces) {
    /*- Requested column width + requested space width = result -------------------------------------------------------------------------*/
    /*- Requested space width ----------*/
    /*- Requested column width --------------------------------------------------------------*/
    /*- Total column width ----------------------------*/
    @return calc(((100% - (#{$desktop-space-width} * #{$total-spaces})) * (#{$columns} / #{$total-columns})) + (#{$desktop-space-width} * #{$spaces}));
}

// Easings
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

// Misc.
%no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

%post-thumbnail-aspect-ratio {
    // Photograph aspect ratio
    padding-bottom: calc(100% * (2 / 3));

    /*
        @include media('>small') {
        // Weird short aspect ratio
        padding-bottom: calc(100% * (1 / 2));
    }
    */

    @include media('>medium') {
        // Tube TV aspect ratio
        padding-bottom: calc(100% * (3 / 4));
    }
}
