#about-mg {

/*  header {
    background-color: $color-white;
  }*/

  #hero {
    background-color: $color-modules-bg-secondary;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 0 !important;
    @include media('>small') {
      margin-bottom: 10rem;
    }
    h1 {
      @include fontSize(34px);
      @include lineHeight(36px);

      @include media('>small') {
        @include fontSize(48px);
        @include lineHeight(64px);
      }

      color: $color-brand-dark;
      font-family: $font-family-primary;
      font-weight: 700;
      text-align: center;
    }

    p {
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-text;
      font-family: $font-family-dark-body;
      text-align: center;
    }
  }


  .secondary-callout-image {
    padding-bottom: 66% !important;
  }

  .two-up-callout-row {
    .secondary-callout-image {
      padding-bottom: 50% !important;
      @include media('>small', '<=large') {
        min-height: 350px;
        padding-bottom: 0 !important;
      }
    }
  }

  .secondary-callout-copy {
    border-top: 1rem solid #d8d8d8;

    .secondary-callout-category {
      font-family: $font-family-secondary;
      color: $color-modules-bg-primary;
    }
  }

  .primary-callout-category {
    span {
      background-color: $color-modules-bg-primary;
      padding: 1rem;
      @include fontSize(18px);
      @include lineHeight(21px);
    }

    margin-top: 4rem;
    font-family: $font-family-secondary;
  }


  .primary-callout-image {
    min-height: 440px;
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 5, 12, 11) !important;
    }
  }

  .primary-callout-copy {
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 6, 12, 11) !important;
    }

    .callout-headline {
      margin-top: 2rem;
      @include fontSize(30px);
      @include lineHeight(42px);
    }
  }

  .callout-body {
    @include fontSize(20px);
    @include lineHeight(32px);
  }

  .callout-read-time,
  .callout-body {
    font-family: $font-family-dark-body;
  }

  #primary-callout-doctor-tools {
    background-position: 50%;
    background-image: url(images/about-mg/mobile/02-article.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/02-Symptoms.jpg);
    }

    @include media('>large') {
      background-image: url(images/about-mg/desktop/02-article.jpg);
    }
  }

  #primary-callout-crisis-planning {
    background-image: url(images/about-mg/mobile/07-article.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/07-Crisis411.jpg);
    }

    @include media('>large') {
      background-image: url(images/about-mg/desktop/07-article.jpg);
    }
  }

  #primary-callout-what-is-mg {
    background-image: url(images/about-mg/mobile/01-article.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/01-WhatisMG.jpg);
    }

    @include media('>large') {
      background-image: url(images/about-mg/desktop/01-article1.jpg);
    }
  }

  #secondary-callout-treatment-goals {
    background-image: url(images/about-mg/mobile/06-article.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/06-Goals.jpg);
    }

    @include media('>large') {
      background-image: url(images/about-mg/desktop/06-article.jpg);
    }
  }

  #secondary-callout-other-conditions {
    background-image: url(images/about-mg/mobile/03-article.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/03-OtherConditions.jpg);
    }

    @include media('>large') {
      background-image: url(images/about-mg/desktop/03-article.jpg);
    }
  }

  #secondary-callout-newly-diagnosed {
    background-image: url(images/home/mobile/13-tips.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/05-NewlyDiagnosed.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/12-tips.jpg);
    }
  }

  #secondary-callout-for-some-time {
    background-image: url(images/home/mobile/14-living_with_mg.jpg);

    @include media('>small') {
      background-image: url(images/about-mg/tablet/04-MGforSomeTime.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/13-livingwith_MG.jpg);
    }
  }

  .tertiary-callout-row {
    .secondary-callout-image {
      display: none;
    }
  }

  .home-section-label {
    color: $color-modules-bg-primary;
    font-family: $font-family-secondary;
    @include fontSize(40px);
    @include lineHeight(48px);
  }

  #about-mg-callouts {
    .callout-category {
      display: none;
    }

    @include horizontal-tablet-callout-row;
  }


  #about-mg-signup-promo {


    background-color: $color-modules-bg-primary;


    .about-mg-signup-promo-eyebrow {
      text-align: center;
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-family-secondary;
      position: relative;
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: 5rem auto 2rem;
      color: $color-white;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 3px;
        @include fontSize(40px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .about-mg-signup-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-white;
      text-align: center;
    }

    #about-mg-signup-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }

    > .row:first-of-type {
      padding-top: 5rem;
    }

    > .row:last-of-type {
      padding-bottom: 5rem;
    }

  }

}
