$darker-gray: #101010;
$dark-gray: #1d1d1d;
$dark-brown: #282828;
$gray-blue: #486875;
$cream: #A78573;
$color-cta-primary: #C14951;
$color-dm-text: #efeeea;

@mixin darkmode() {

	/* <body> starts here*/
	background-image: none;

	a[role="button"],
	section a.capsule.primary,
	section input[type="submit"].primary {
		background-color: $color-cta-primary;
		border-color: $color-cta-primary;
		color: white;
		padding: 1rem 2rem;
		letter-spacing: 2.25px;
		display: inline-block;

		&:hover,
		&:focus {
			background-color: white;
			color: $color-cta-primary;
			border-color: $color-cta-primary;
		}

	}

	section a.capsule.secondary,
	section input[type=submit].secondary,
	section a.capsule.tertiary {
		background-color: $gray-blue;
		color: white;
		border-color: $gray-blue;
		padding: 1rem 2rem;
		letter-spacing: 2.25px;

		&:hover,
		&:focus {
			background-color: white;
			color: $gray-blue;
		}

	}

	section a.capsule.tertiary {
		border-color: $color-cta-secondary;
		background-color: $color-cta-secondary;
		color: $dark-gray;

		&:hover,
		&:focus {
			background-color: white;
			color: $dark-gray;
		}

	}

	p {
		font-family: $font-family-dark-body;
	}

	h2,
	h3,
	h4,
	p {
		color: $color-dm-text;
	}

	blockquote {
		p {
			transform: none;
			color: #A78573;
			font-family: $font-family-dark-main;
			@include fontSize(48px);
			font-style: italic;
			font-weight: 600;
			line-height: 8rem;
			text-align: center;
		}

	}

	#page {
		background-color: $darker-gray;
	}

	#article-hero-strip {
		max-width: 1920px;
		margin: 0 auto 6rem;
		padding: 2rem 0;
		background-color: $dark-gray;

		@include media('>medium') {
			margin-bottom: 10rem;
		}

		> div {
			> div {
				display: flex;
				justify-content: space-between;
				margin: 0 auto;

				@include media('>medium') {
					width: desktop-grid-size(12, 11);
				}

				> p {
					margin: 0;
					@include fontSize(16px);
					@include lineHeight(24px);

					@include media('>large') {
						@include fontSize(18px);
						@include lineHeight(24px);
					}

					.social-share {
						background-image: url(images/article-share-icon-white.svg);
					}

				}

			}

		}

	}

	#masthead {
		#navigation-content {
			background-color: $darker-gray;

			a {
				img {
					transform: translate(0, -93px);

					@include media('>medium') {
						transform: translate(0, -107px);
					}

				}

			}

			nav#navigation {
				background-color: $darker-gray;

				@include media('>small') {
					background-color:$darker-gray;
				}

				div {
					ul {
						li {
							a {
								color: #fff;
							}

						}

					}

				}

			}

		}

	}

	footer {
		>div {

			> div:nth-child(1) {
				img {
					transform: translateY(-95px);
				}

			}

			>div:nth-child(4) {
				img {
					transform: translateY(-47px);
				}

			}

			> ul {
				&.primary {
					li {
						a {
							color: $color-dm-text;

							&:hover {
								border-bottom-color: $color-dm-text;
							}

						}

					}

				}

				&.secondary {
					li {
						a {
							color: $color-dm-text;
						}

					}

				}



				li {
					color: $color-dm-text;
				}

			}

      .primary {
        li {
          a {
            color: $color-dm-text!important;;
            &:hover {
              border-bottom-color: $color-dm-text!important;
            }

          }
          color: $color-dm-text!important;
        }

      }


      .primary-row {
        li {
          a {
            color: $color-dm-text!important;;
            &:hover {
              border-bottom-color: $color-dm-text!important;
            }

          }
          color: $color-dm-text!important;
        }

      }

      .secondary {
        li {
          a {
            color: $color-dm-text!important;
          }
          color: $color-dm-text!important;
        }

      }

     > .row{
        >.right-image{
          >img{
            transform: translateY(-47px);
          }
        }

        >.left-image{
          >img{

            transform: translateY(-95px);
          }
        }

      }

		}

	}

	#action.form-module {
		>div {
			> div {
				background-color: transparent;
				color: $color-dm-text;

				@include media('>small') {
					margin-top: -10rem;
					background: url(images/documentary/documentary-signup-lg.png) no-repeat 0 0;
					background-size: cover;
				}

				#form-container {
					#form-step-sign-up,
					#form-step-survey,
					#form-step-thank-you {
						h2,
						p,
						label {
							color: $color-dm-text;
						}

						> h2 {
							font-family: $font-family-dark-body;
							font-size: 22px;
							line-height: 28px;
							margin-top: 2.6rem;
						}

						label {
							font-weight: 700;
							font-family: $font-family-dark-body;

							&.checkbox {
								font-weight: 300;
							}

						}

						.form-header {
							> h2 {
								font-family: $font-family-dark-main;
								font-size: 46px;
								font-weight: 600;
								line-height: 56px;
								&.secondary {
									@include fontSize(24px);
									@include lineHeight(32px);
									font-family: $font-family-dark-body;
								}
							}

						}

					}

					#form-step-survey,
					#form-step-thank-you {
						label,
						p {
							font-weight: 400;
							font-family: $font-family-dark-body;
						}

						> h2 {
							font-family: $font-family-dark-main;
							font-size: 46px;
							font-weight: 600;
							line-height: 56px;

							&.secondary {
								font-weight: 300;
								font-family: $font-family-dark-body;
								font-size: 22px;
								line-height: 28px;
								margin-top: 2.6rem;
							}

						}

					}

				}

			}

		}

	}
	.cl-modal {
		background-color: $dark-gray;
	}
	.cl-modal,
	.cl-modal.social-share-modal {
		.cl-modal-content {
			background-color: $dark-gray;

			h2,
			p {
				color: $color-dm-text;
			}

		}

		.cl-modal-close-button span {
			background-color: $color-dm-text;
		}

	}

	.cl-modal.video-modal,
	.cl-modal.form-modal {
		background-color: transparent;
		box-shadow: none;
		width: calc(100% - 40px);
		max-width: 128rem;
		min-width: fit-content;

		.cl-modal-content {
			margin: 60px 60px 0 0;

			.cl-modal-template {
				position: relative;
				width: 100%;
				padding-bottom: 41.84451%;

				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 5px;
					overflow: hidden;
				}

			}

		}

		.cl-modal-close-button span {
			background-color: $color-dm-text;
		}

	}

	.cl-modal.form-modal {
		@include media('>small') {
			width: 500px;
		}

		.cl-modal-close-button {
			display: none;
			visibility: hidden;
		}

		.cl-modal-content {
			margin: 0;

			.cl-modal-template {
				padding-bottom: 0 !important;

				.rsvp-form {
					width: 100%;
					min-width: 320px;
					max-width: 500px;
					padding: 0;
					background-color: white;

					h2,
					p,
					label {
						color: $color-text;
					}

					.rsvp-form-header {
						display: block;
						width: 100%;
						padding-bottom: calc(128 / 320 * 100%);
						background: url(images/documentary/documentary-sign-up-modal.png) no-repeat 0 0;
						background-size: cover;

						@include media('>small') {
							width: 500px;
							height: 200px;
							padding-bottom: 0;
						}

					}

					.rsvp-form-content {
						position: relative;
						overflow: hidden;

						> div {
							top: 0;
							left: 0;
							display: none;
							width: 100%;
							padding: 4rem 2rem;

							@include media('>500px') {
								padding: 4rem 6.5rem;
							}

							&:first-of-type {
								display: block;
							}
						}

						h2 {
							font-family: $font-family-dark-body;
							font-weight: 300;
							@include fontSize(28px);
							line-height: 32px;
						}

						p {
							@include fontSize(18px);
							line-height: 25px;
						}

						a {
							color: $color-brand-dark;
							font-weight: bold;
						}

						form {
							margin-top: 6rem;

							fieldset {
								text-align: right;

								label {
									@include fontSize(18px);
									line-height: 25px;

									span {
										font-weight: 700;
									}

								}

								input[type="text"] {
									width: 28rem;
									@include fontSize(18px);
									line-height: 25px;
								}

								&.optin {
									text-align: left;
									font-size: 2rem;
									line-height: 3rem;
								}

							}

							#rsvp-submit {
								text-transform: uppercase;
								position: relative;
								left: 50%;
								transform: translate(-50%, 0);
								margin-bottom: 8.5rem;
								background-color: #E4572E;
								border-color: #E4572E;

								&:hover,
								&:focus {
									background-color: white;
									color: #E4572E;
								}

							}

							.error-message {
								@include fontSize(18px);
								line-height: 25px;
							}

						}

					}

				}

			}

		}

	}

	/* ie11 styles */
	@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
	}

}
