#glenn-phillips,
#teresa-hill-putnam,
#vanetta-drummer-fenton {
  /* import dark-mode styles */
  @include darkmode();
  header.white-header {
   background: $darker-gray;

   #hamburger > span {
    background-color: #fff !important;
   }
  }

  .social-share {
    color: $color-dm-text;
    font-family: $font-family-dark-body;
    font-weight: 700;
    text-decoration: none;
    padding-right: 4rem;
    background: url(images/link-share-icon.svg) no-repeat 100% 0;
    background-size: 20px 20px;
    display: inline-block;
    padding-left: 0;

    @include media('>medium') {
      margin-top: 0;
      margin-left: 2rem;
    }
  }

  .form-module > div > div {
    @include media('<=small') {
      padding-bottom: 0;
    }
  }

  .callout-rsvp .social-share {
    margin-top: 2rem;
  }
  header {
    background-color: #000;
  }
  #hero {
    background-color: transparent;
    padding: 5rem 0 8rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @include media('>small') {
      padding: 27rem 0 0;
      height: 729px;
    }

    video {
      position: absolute;
      z-index: 0;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: auto;

      @media screen and (max-aspect-ratio:239/134) {
        width: auto;
        height: 100%;
      }

    }
    .row {
      justify-content: center;
    }

    .eyebrow {
      text-align: center;
      color: #effeea;
      letter-spacing: 4.18px;
      text-transform: uppercase;
      font-family: $font-family-dark-secondary;
      position: relative;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

      @include media('<=large') {
        &:nth-child(1):after {
          content: '';
          width: 50%;
          position: absolute;
          bottom: -2rem;
          left: 50%;
          transform: translate(-50%, 0);
          border-bottom: 1px solid #effeea;
        }

        &:nth-child(3) {
          padding-top: 4rem;
          margin-top: 0;

          &:after {
            content: '';
            width: 50%;
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translate(-50%, 0);
            border-top: 1px solid #effeea;
          }

        }

      }

      @include media('>large') {
        border-width: 0;
        font-size: 3rem;
        line-height: 33px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &::before, &::after {
          content: '';
          background-color: white;
          flex: 1;
          height: 0.04em;
          margin: 0;
        }

        &::before {
          margin-right: 2rem;
        }

        &::after {
          margin-left: 2rem;
        }

      }

    }

    h1 {
      text-transform: uppercase;
      letter-spacing: 3.43px;
      margin: 5rem auto 2rem;
      color: $color-dm-text;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

      @include media('>small') {
        letter-spacing: 5px;
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .capsule {
      background: #48839b;
      border: 1px solid white;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      letter-spacing: 2.25px;
      padding-top: 1.2rem;

      &:hover, &:focus {
        border-color: #48839b;
        color: #48839b;
        background-color: white;
      }

    }

  }

  main {
    @include media('>small') {
      margin-top: -82px;
    }

    .article-inline-video {
      margin-top: 0;
      margin-bottom: 6rem;
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;

      @include media('>small') {
        margin-bottom: 10rem;

      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    a {
      color: $color-white;
      font-family: $font-family-dark-body;
      font-weight: 700;
      text-decoration: none;
      min-width: 92px;
      margin-top: 1rem;
      font-size: 20px;
      line-height: 24px;

      @include media('>small') {
        margin-top: 0;
        margin-left: 2rem;
      }

      &.underline {
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 0.5rem;
          background: $color-text;
        }

        @include media('>small') {
          line-height: 1;
        }
      }

      &.share {
        padding-right: 4rem;
        background: url(images/link-share-icon.svg) no-repeat 100% 0;
        background-size: 20px 20px;
        display: inline-block;
        margin-top: 2rem;

        @include media('>medium') {
          margin-top: 0;
          margin-left: 2rem;
        }
      }
    }

    h1, h2, h3, h4 {
      font-family: $font-family-dark-main;
      font-weight: 600;

    }

    h1 {
      font-size: 6rem;
      line-height: 7rem;

      @include media('>small') {
        font-size: 10.5rem;
        line-height: 91px;
      }
    }
    /* light gray headline */
    h2 {
      font-size: 30px;
      line-height: 36px;

      @include media('>small') {
        font-size: 8rem;
        line-height: 9rem;
      }
    }
    /* dark gray headline */
    h3 {
      font-size: 30px;
      line-height: 36px;

      @include media('>small') {
        font-size: 6.5rem;
        line-height: 8rem;
      }
    }
    /* video card headlines */
    h4 {
      font-size: 3rem;
      line-height: 30px;

      @include media('>small') {
        font-size: 4.5rem;
        line-height: 6rem;
      }
    }

    #documentary-bio {
      #hero {
        #ciff-logo {
            position: absolute;
            top: 43rem;
            right: 0rem;
            width:100%;
            max-width: 164rem;
            text-align: right;
            @include media('>small') {
              top: auto;
              bottom: -50px;
            }

            @include media('>large') {
              right: 3rem;
              bottom:0;
            }

            img {
                max-width: 136px;
                @include media('>small') {
                  max-width:186px;
                }
            }
        }
      }

      #intro {
        padding: 0rem 0 15rem;
        @include media('<=small') {
          padding-bottom: 6rem;
        }

        div > .container:nth-of-type(2) .col {
          margin: 4rem auto;
          blockquote {
            align-items: center;
            margin: 0;
          }
        }

        .callout-rsvp {
          text-align: center;
          background: url(images/documentary/documentary-curtain-sm.png) no-repeat 0 0;
          background-size: cover;
          padding: 5rem 6rem;

          @include media('>small') {
            background-image: url(images/documentary/documentary-curtain-lg.png);
            padding: 9rem 13.031914893617023% 7rem;
          }

          h4 {
            @include fontSize(32px);
            line-height: 6rem;
          }

          a.capsule {
            margin-bottom: 2rem;
          }

          a.underline {
            color: $color-cta-primary;

            &:after {
              background-color: $color-cta-primary;
            }
          }
        }
      }



          #secondary-callout-docu-profile-vanetta {
            background-image: url(images/documentary/documentary-video-card-Vanetta-sm.jpg);
            position: relative;

            @include media('>small') {
              /*background-image: url(images/documentary/documentary-video-card-Vanetta-lg.jpg);*/
              background-position: 100% 0;
            }
            &:before{
              content:'';
              background:url(images/documentary/CIFF_OfficialSelection2020_Logo_WhiteRGB.svg) no-repeat 0 0;
              background-size: contain;
              display:block;
              position: absolute;
              top: 1rem;
              left: 1rem;
              width: 438px;
              height: 90px;
            }
          }

          #secondary-callout-docu-profile-teresa {
            background-image: url(images/documentary/documentary-video-card-Teresa-sm.jpg);

            @include media('>small') {
              background-position: 0 0;
              /*background-image: url(images/documentary/documentary-video-card-Teresa-lg.jpg);*/
            }

          }

          #secondary-callout-docu-profile-glenn {
            background-image: url(images/documentary/documentary-video-card-Glenn-sm.jpg);

            @include media('>small') {
              /*background-image: url(images/documentary/documentary-video-card-Glenn-lg.jpg);*/
              background-position: 100% 0;
            }

          }


      // capsule links
      span.capsule {
        border-radius: $box-border-radius;
        min-width: 25rem;
        min-height: 40px;
        display: inline-block;
        margin: 2.5rem 0 0;
        padding: 1.5rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-family: $font-family-nav-small;
        @include fontSize(18px);
        @include lineHeight(18px);
        border-width: 4px;
        border-style: solid;
        cursor: pointer;
        transition: all 500ms $ease-out-quad;
        -webkit-appearance: none;

        &:hover,
        &:focus,
        &.touch-active {
          transition: all 125ms $ease-out-quad;
        }

        &.touch:not(.touch-active):hover {
          transition: all 500ms $ease-out-quad;
        }

        @include media('>small') {
          margin-top: 3rem;
        }

        @include media(">medium") {
          font-family: $font-family-nav-large;
        }
        // orange
        &.primary {
          color: $color-white;
          background-color: $color-cta-primary;
          border-color: $color-cta-primary;

          &:hover,
          &:focus,
          &.touch-active {
            color: $color-cta-primary;
            background-color: $color-white;
            border-color: $color-cta-primary;
          }

          &.touch:not(.touch-active):hover {
            color: $color-white;
            background-color: $color-cta-primary;
            border-color: $color-cta-primary;
          }
        }
        // gray
        &.tertiary {
          color: $color-white;
          background-color: rgba(57,62,65, 0.66);
          border-color: transparent;

          @include media('>495px') {
            margin-left: 1rem;
          }

          &:hover,
          &:focus,
          &.touch-active {
            color: rgba(57,62,65, 0.66);
            background-color: $color-white;
            border-color: rgba(57,62,65, 0.66);
          }

          &.touch:not(.touch-active):hover {
            color: $color-white;
            background-color: rgba(57,62,65, 0.66);
            border-color: transparent;
          }
        }
        // white with bottom border
        &.quaternary {
          border-color: $color-white;
          color: $color-white;
          margin-left: 1rem;
          border-width: 0px;
          border-radius: 0px;
          border-bottom-width: 4px !important;
          border-style: solid;
          min-width: unset;
          padding-left: 0;
          padding-right: 0;
        }
      }

      .capsule.secondary {
        background-color: $gray-blue;
        color: white;
        border-color: $gray-blue;
        padding: 1rem 2rem;
        letter-spacing: 2.25px;

        &:hover,
        &:focus {
          background-color: white;
          color: $gray-blue;
        }

      }

      #docu-callouts {
        padding-top: 5rem;
        margin-top: 0;
        padding-bottom: 6rem;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow: column;
        max-width: 100%;
        background-color: $dark-gray;
        @include  media('>small') {
          padding-top: 10rem;
          padding-bottom: 20rem;
        }
        @include media('>medium') {
          flex-flow: row;
        }

        .docu-callout-label {
          font-family: $font-family-dark-main;
          @include fontSize(30px);
          @include lineHeight(36px);
          letter-spacing: normal;
          text-transform: uppercase;
          margin-bottom: 5rem;
          @include media('>small') {
            @include fontSize(64px);
            @include lineHeight(72px);
            letter-spacing: 5.6px;
            margin-bottom: 4rem;
          }
        }

        .callout-headline {
          @include fontSize(36px);
          @include lineHeight(48px);
          @include media('<=small') {
            font-size: 3rem !important;
            line-height: 3.75rem !important;
          }


        }

        .callout-body {
          @include fontSize(20px);
          @include lineHeight(30px);
        }

        > .page-callout-row {
          @include media('>small') {
            margin-top: 6rem !important;
            position: relative;
          }

          @include media('>medium') {
            justify-content: center;
            margin-top: 4rem !important;
          }

          > div {
            display: flex;
            display: -ms-flexbox;
            flex-direction: column;
            margin-bottom: 6rem;
            background-color: $darker-gray;
            border: solid 1px $color-light-gray;
            /*border-radius: 0.625rem;*/
            overflow: hidden;

            &:focus-within {
              box-shadow: 0px 0px 4px #666 !important;
            }

            @include media('>small') {
              margin-bottom: 10rem;
            }

            @include media('<=medium') {
              width: 100%;
            }

            @include media('>medium') {
              margin-right: $desktop-space-width;
              margin-bottom: 0;
            }

            &:last-of-type {
              margin-bottom: 0;

              @include media('>medium') {
                margin-right: 0;
              }
            }
          }

          .col-4 {
            // The borders mess up IE I think
            @include target-metro {
              @include media('>medium') {
                width: calc(((100% - (2 * #{$desktop-space-width})) / 3) - 2px);
              }
            }

            // Same as the above for Edge
            @supports (-ms-ime-align: auto) {
              @include media('>medium') {
                width: calc(((100% - (2 * #{$desktop-space-width})) / 3) - 2px);
              }
            }
          }
        }

        .eoc-callout {
          position: relative;
          align-items: stretch;
          justify-content: flex-start;
          margin: 0;
          //flex: 1;
          //justify-content: stretch;
          height: 100%;
          //flex-direction: column-reverse;

          &.vertical-cta-row {
            flex-direction: column;
          }

          .col {
            //display: flex;
            //display: -ms-flexbox;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            //border-color: $color-light-gray;
            //border-style: solid;
            background-repeat: no-repeat;
            background-size: cover;
            //background-color: #F6F6F6;

            // These frequently use grid layouts after medium
            @include media('<=medium') {
              width: 100%;
            }

            h2 {
              color: $color-dm-text;

              @include media('<=small') {
                @include fontSize(20px);
                @include lineHeight(28px);
              }
            }

            p:last-of-type {
              margin-bottom: 0;
            }

            a {
              display: flex;
              display: -ms-flexbox;
              flex-direction: column;
              flex: 1;
              width: 100%;
              padding: 5rem 4rem 4rem;

              & > p:nth-child(2) {
                flex-grow: 1;
              }

              & > h2:nth-child(2) {
                flex-grow: 1;
              }

              & > p:last-child {
                margin-bottom: 0;
              }
            }

            p.eyebrow {
              font-family: $font-family-secondary;
              font-size: 18px;
              line-height: 18px;
              letter-spacing: 1.13px;
              color: #757575;
              margin-bottom: 2rem;
            }

            .docu-bio-tile-button {
              font-family: $font-family-nav-large;
              margin: 4rem 0 0;

              // This gets all of these lined up vertically despite their containers
              // being variable heights due to the HTML structure
              @include media('>medium') {
                position: absolute;
                bottom: 4rem;
                left: 4rem;
                margin: 0;
              }
            }

            &.cta-copy-dark {
              background-color: $color-brand-dark !important;

              h2,
              p {
                color: $color-white !important;
              }

              .read-duration {
                color: #d8d8d8;
              }
            }

            &.cta-top {
              @extend %post-thumbnail-aspect-ratio;
              //border-width: 1px 1px 0px 1px;
              //border-radius: 0.625rem 0.625rem 0 0;
              //min-height: 32rem;
              position: relative;

              a {
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
              }

              // If we're also left or right, override those aspect ratios
              &.cta-left,
              &.cta-right,
              &.cta-left-reverse,
              &.cta-right-reverse {
                @include media('>medium') {
                  padding-bottom: 0;
                }
              }
            }

            &.cta-bottom {
              @include media('>medium') {
                // Spacing for the absolutely positioned "time to read"
                padding-bottom: calc(6rem + 20px);
              }

              &.cta-right {
                @include media('>medium') {
                  // This is to get .read-duration in the white box instead of the image box
                  position: relative;
                }
              }
            }

            &.cta-right-reverse {
              order: 1;

              @include media('>medium') {
                order: 2;
                /*border-width: 1px 1px 1px 0px !important;
                border-radius: 0 0.625rem 0.625rem 0 !important;*/
              }
            }

            &.cta-left-reverse {
              order: 2;

              @include media('>medium') {
                order: 1;
                /*border-width: 1px 0px 1px 1px !important;
                border-radius: 0.625rem 0 0 0.625rem !important;*/
              }
            }


          }

          @include media('>medium') {
            // Should replace or remove these classes as they're kind of misleading
            .col-4 {
              width: desktop-inner-grid-size(2.5, 2, 6, 5);
            }

            .col-8 {
              width: desktop-inner-grid-size(3.5, 3, 6, 5);
            }
          }
        }
      }

      #action {
        margin-top: 0;
        padding-top: 0;

        > div {
          > div {
            // Form container
            > div {
              // Form steps
              > div {
                .optin {
                  max-width: 600px;

                  @include media('>medium') {
                    max-width: none;
                  }

                  label {
                    position: relative;
                    display: block;
                    margin-top: 2rem;
                    padding-left: 3rem;
                    @include fontSize(16px);
                    @include lineHeight(24px);

                    @include media('>small') {
                      @include fontSize(20px);
                      @include lineHeight(24px);
                    }

                    input[type='checkbox'] {
                      position: absolute;
                      top: 4px;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


// *************** Fixes for IE ****************

#vanetta-drummer-fenton {
  main #documentary-bio #intro div > .container:nth-of-type(2) .col blockquote {
    // IE fix
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-bottom: -12rem;
      @include media('>small') {
        margin-bottom: -8rem;
      }
      @include media('>medium') {
        margin-bottom: -12rem;
      }
      @include media('>large') {
        margin-bottom: -8rem;
      }
    }
  }
}

#glenn-phillips {
  main #documentary-bio #intro div > .container:nth-of-type(2) .col blockquote {
    // IE fix
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-bottom: -36rem;
      @include media('>small') {
        margin-bottom: -24rem;
      }
      @include media('>medium') {
        margin-bottom: -32rem;
      }
      @include media('>large') {
        margin-bottom: -24rem;
      }
    }
  }
}

#teresa-hill-putnam {
  main #documentary-bio #intro div > .container:nth-of-type(2) .col blockquote {
    // IE fix
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-bottom: -20rem;
      @include media('>small') {
        margin-bottom: -18rem;
      }
      @include media('>medium') {
        margin-bottom: -20rem;
      }
      @include media('>large') {
        margin-bottom: -18rem;
      }
    }
  }
}
