#a-mystery-to-me {

    header {
        background-color: $darker-gray;
    }

    /* import dark-mode styles */
    @include darkmode();
    overflow-x: hidden;

    main {
        @include media('>small') {
            margin-top: -82px;
        }

        .social-share {
            color: $color-dm-text;
            font-family: $font-family-dark-body;
            font-weight: 700;
            text-decoration: none;
            padding-right: 4rem;
            background: url(images/link-share-icon.svg) no-repeat 100% 0;
            background-size: 20px 20px;
            display: inline-block;
            margin-top: 2rem;
            padding-left: 0;

            @include media('>medium') {
              margin-top: 0;
              margin-left: 2rem;
          }
      }

      a {
        color: $color-dm-text;
        font-family: $font-family-dark-body;
        font-weight: 700;
        text-decoration: none;
        min-width: 92px;
        margin-top: 1rem;
        font-size: 20px;
        line-height: 24px;

        @include media('>small') {
            margin-top: 0;
            margin-left: 2rem;

            &.capsule.secondary {
              margin-left: 0;
          }
      }

      &.underline {
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        display: inline-block;

        &:after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 0.5rem;
            background: $color-dm-text;
        }

        @include media('>small') {
            line-height: 1;
        }

    }

    &.share {
        padding-right: 4rem;
        background: url(images/link-share-icon.svg) no-repeat 100% 0;
        background-size: 20px 20px;
        display: inline-block;
        margin-top: 2rem;

        @include media('>medium') {
            margin-top: 0;
            margin-left: 2rem;
        }

    }

}

}

h1, h2, h3, h4 {
    font-family: $font-family-dark-main;
    font-weight: 600;
}

h1 {
    font-size: 6rem;
    line-height: 7rem;

    @include media('>small') {
        font-size: 10.5rem;
        line-height: 91px;
    }

}

/* light gray headline */
h2 {
    font-size: 30px;
    line-height: 36px;

    @include media('>small') {
        font-size: 8rem;
        line-height: 9rem;
    }

}

/* dark gray headline */
h3 {
    font-size: 30px;
    line-height: 36px;

    @include media('>small') {
        font-size: 6.5rem;
        line-height: 8rem;
    }

}

/* video card headlines */
h4 {
    font-size: 3rem;
    line-height: 30px;

    @include media('>small') {
        font-size: 4.5rem;
        line-height: 6rem;
    }

}

#hero {
    background-color: transparent;
    padding: 5rem 0 25rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include media('>small') {
        padding-bottom: 8rem;
        height: 729px;
    }

    .container {
      z-index: 2;
      align-items: center;
      justify-content: center;
      @include media('>small') {
        margin-top: 40px;
        // Fun times with I.E.

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          margin-top: -6rem;
      }
  }
  .capsule {
    margin-left: 0;
}
}

#ciff-logo {
    position: absolute;
    bottom: 6rem;
    right: 0;
    width:100%;
    max-width: 164rem;
    text-align: center;

    @include media('>small') {
        text-align: right;
        bottom: 9rem;
        right: 3rem;
    }

    img {
        max-width:186px;
        margin: 0;
    }
}
video {
    position: absolute;
    z-index: 0;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;

    @media screen and (max-aspect-ratio:239/134) {
        width: auto;
        height: 100%;
    }

}

.row {
    justify-content: center;
}

.eyebrow {
    text-align: center;
    color: #effeea;
    letter-spacing: 4.18px;
    text-transform: uppercase;
    font-family: $font-family-dark-secondary;
    position: relative;

    @include media('<=large') {
        &:nth-child(1):after {
            content: '';
            width: 50%;
            position: absolute;
            bottom: -2rem;
            left: 50%;
            transform: translate(-50%, 0);
            border-bottom: 1px solid #effeea;
        }

        &:nth-child(3) {
            padding-top: 4rem;
            margin-top: 0;

            &:after {
                content: '';
                width: 50%;
                position: absolute;
                top: 2rem;
                left: 50%;
                transform: translate(-50%, 0);
                border-top: 1px solid #effeea;
            }

        }

    }

    @include media('>large') {
        border-width: 0;
        font-size: 3rem;
        line-height: 33px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &::before, &::after {
            content: '';
            background-color: white;
            flex: 1;
            height: 0.04em;
            margin: 0;
        }

        &::before {
            margin-right: 2rem;
        }

        &::after {
            margin-left: 2rem;
        }

    }

}

h1 {
    text-transform: uppercase;
    letter-spacing: 3.43px;
    margin: 5rem auto 2rem;
    color: $color-dm-text;

    @include media('>small') {
        letter-spacing: 5px;
    }

    @include media('>large') {
        margin-top: 2rem;
    }

    span {
        display: block;

        @include media('>small') {
            display: inline;
        }

    }

}

.capsule {
    background: #48839b;
    border-color: #48839b;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2.25px;
    padding-top: 1.2rem;

    &:hover, &:focus {
        border-color: #48839b;
        color: #48839b;
        background-color: white;
    }

}

}

#intro {
    background: url(images/documentary/documentary-film-reel-bg-sm.png) no-repeat 50% 4.875rem;
    background-size: cover;
    margin-top: -4.875rem;
    margin-bottom: -4.875rem;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;

    @include media('>small') {
        background-image: url(images/documentary/documentary-film-reel-bg-lg.png);
        background-position: 50% 7.25rem;
        margin-top: -7.25rem;
        padding: 0 0 10rem;
        margin-bottom:0;
    }


    > div {
        z-index: 2;

        > div:nth-child(1) > div > div > p:nth-child(5) {
            display:inline-block;
            margin-top: 2rem;
            @include media('>medium') {
                margin-top: auto;
                margin-left: 5rem;
            }
        }

        > .container {
            margin-left: 2rem;
            margin-right: 2rem;
            @include media('>small') {
                margin-left: auto;
                margin-right: auto;
            }
            &:nth-child(1) {
                background-color: $darker-gray;
                @include media('>small') {
                    text-align: center;
                }
                .col-10 {
                    padding: 3rem 2rem;
                    @include media('>small') {
                        padding: 7.25rem 14rem 10rem;
                    }
                    h3 {
                        color: $cream;
                        @include media('>medium') {
                            padding: 0 8rem;
                        }
                    }
                }

            }

            + .container {
                margin-top: 4rem;

                .col-5, .col-7 {
                    @include media('<=medium') {
                        width: 100%;
                    }

                }

                .col-5 {
                    background: $dark-brown;
                    padding: 4rem 6.5rem;
                    text-align: left;
                    margin-bottom: 6rem;

                    @include media('>medium') {
                        background: #282828 url(images/documentary/documentary-Ben-Strang.png) no-repeat 0 100%;
                        background-size: contain;
                        padding: 4rem 5rem 6rem 19%;
                        margin-right: 4rem;
                        margin-bottom: 0;
                    }

                    p {
                        font-family: $font-family-dark-body;
                        @include fontSize(16px);
                        line-height: 3.5rem;
                        font-weight: 300;
                        border-bottom: 1px solid $color-dm-text;

                        strong {
                            font-family: $font-family-dark-secondary;
                            font-weight: 500;
                            text-transform: uppercase;
                            @include fontSize(28px);
                        }

                    }

                }

                .col-7 {
                    text-align: center;
                    background: url(images/documentary/documentary-curtain-sm.png) no-repeat 0 0;
                    background-size: cover;
                    padding: 5rem 6rem;

                    @include media('>small') {
                        background-image: url(images/documentary/documentary-curtain-lg.png);
                        padding: 9rem 13.031914893617023% 7rem;
                    }

                    h4 {
                        @include fontSize(32px);
                        line-height: 6rem;
                    }

                }

                a.capsule {
                    margin-bottom: 2rem;
                }

                a.underline {
                    color: $color-cta-primary;

                    &:after {
                        background-color: $color-cta-primary;
                    }

                }

            }

        }

    }

}

#docu-cards {
    background-color: $dark-gray;
    margin-top: 0;
    padding-top: 4.75rem;

    @include media('>small') {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    // make space for overlapping curtain box above this
    > div {
        padding-top: 4rem;
        @include media('>small') {
            padding-top: 0;
        }
    }

    h2 {
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 5px;
        @include media('>small') {
          text-align: center;
      }
  }

  .patient-video-card {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0;
    background-size: auto 50%;
    /*padding: 38rem 0 0 0;*/
    padding: 28rem 0 0 0;
    margin: 6rem auto;
    position:relative;

    @include media('>475px') {
        background-size: contain;
    }

    @include media('>550px') {
        padding-top:34rem;
    }

    @include media('>small') {
        margin: 12rem auto;
        padding: 54rem 5rem 5rem 5rem;
        background-size: cover;
        background-position: 50% 50%;
    }
    .ciff-logo {
        position:absolute;
        left: 5px;
        top: 6px;
        max-width: 108px;
        @include media('>small') {
            max-width: 186px
        }
        @include media('>medium') {
            left: auto;
            top: auto;
            right: 20px;
            bottom:12px;
        }

    }
    &.vanetta {
        background-image: url(images/documentary/documentary-video-card-Vanetta-sm.jpg);
        background-size: 100% auto;
        background-position: 0 0;

        @include media('>475px') {
            background-image: url(images/documentary/documentary-video-card-Vanetta-lg.jpg);
            background-position: 100% 0;
        }
        @include media('>small') {
            background-size:cover;
            background-position: 90% 0;
        }

        @include media('>1024px') {
            background-position: 40% 0;
        }

        @include media('>medium') {
            background-size: cover;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 32rem;
            background-position: 70% 50%;
        }

        .col {
            @include media('>medium') {
                padding: 5.5rem 9rem 7rem 9rem;
            }
        }
    }

    &.teresa {
        background-image: url(images/documentary/documentary-video-card-Teresa-sm.jpg);
        background-size: 100% auto;

         @include media('>475px') {
            background-image: url(images/documentary/documentary-video-card-Teresa-lg.jpg);
            background-position: 10% 0;
        }
        @include media('>small') {
            background-size:cover;
        }

        @include media('>medium') {
          background-position: 15% 0 !important;
      }

      @include media('>large') {
          background-position: 0 0 !important;
      }

  }

  &.glenn {
    background-image: url(images/documentary/documentary-video-card-Glenn-sm.jpg);
     @include media('>475px') {
        background-image: url(images/documentary/documentary-video-card-Glenn-lg.jpg);
        background-position: 100% 0;
    }
    @include media('>small') {
        background-size:cover;
        margin-bottom: 10rem;
    }
    /*
    @include media('>small') {
        background-image: url(images/documentary/documentary-video-card-Glenn-lg.jpg);

        background-position: 100% 0;
    }*/

}

.col {
    background-color: $darker-gray;
    padding: 4rem 3rem;

    @include media('>small') {
        padding: 5.5rem 9rem 7rem 9rem;
    }

    > p {
        margin-bottom: 2rem;
        &.hilite {
            color: #B5B57A;
        }
    }

}

}

}

#intro, #docu-cards {
  p {
    font-size: 2.5rem;
}
}

#action {
    margin-top: 0;
    padding-top: 0;

    > div {
        > div {
            // Form container
            > div {
                // Form steps
                .optin label {
                  font-size: 2rem;
              }


          }

      }

  }

}

.form-module {
    > div {
      > div {
        padding-bottom: 0;
        @include media('>small') {
          padding-bottom: 6rem;
      }
  }
}
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(29, 29, 29, 0.5);
    z-index: 1;
    margin: 0;
    width: 100%;
    max-width: 100%;

    @media screen and (max-aspect-ratio:239/134) {
      width: auto;
      height: 100%;
  }

}

.documentary-video-modal {
    max-width: 200rem;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    min-width: fit-content;

    @include media('>small') {
        width: calc(100% - 40px);
    }

    .cl-modal-close-button {
        right: 0;
        @include media('>small') {
            right: 8%;
        }
    }
    .cl-modal-content {
      margin: 60px 0 0;
      background-color: transparent;

      .cl-modal-template {
        position: relative;
        width: 100%;
        padding-bottom: 52%;

        @include media('>small') {
            padding-bottom: 41.84451%;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          overflow: hidden;
      }

  }

}

.cl-modal-close-button span {
  background-color: $color-dm-text;
}
}


}
