#error,
#error404,
body.error,
body.error404 {

  section {
    > div {
      max-width: unset;
    }
  }

  #welcome {
    padding: 123px 10px;
    text-align: center;
    background-color: #F3F0EA;
    margin: 0 auto;

    @include media(">=small") {
      padding: 89px 20px;
    }
    @include media(">=medium") {
      padding: 84px 20px;
    }

    @include media(">large") {
      padding: 72px 20px;
    }

    a {
      margin-top: 32px;
      font-family: $font-family-nav-large;
      font-size: 18px;
      background-color: #E4572E;
      min-width: 244px;
      letter-spacing: 2.3px;
      &:hover {
        background-color: #fff;
      }
    }

    h1 {
      color: $color-brand-dark;
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 15px;

      @include media("<large") {
        font-size: 40px;
        line-height: 48px;
      }

      @include media("<small") {
        font-size: 32px;
        line-height: 37px;
      }
    }

    h2 {
      color: $color-text;
      font-size: 18px;
      font-family: $font-family-dark-body;
      line-height: 25.2px;
      font-weight: normal;

      @include media(">small") {
        font-size: 24px;
        line-height: 32px;
        padding-left: 80px;
        padding-right: 80px;
      }
      @include media(">medium") {

        padding-left: 0px;
        padding-right: 0px;
      }
      @include media(">large") {
        font-size: 20px;
        line-height: 30px;
        width: 80%;
        margin: auto;
      }
    }
  }
}

