#home {

/*  header {
    background-color: $color-white !important;
  }*/

  #hero {
    margin: 0 auto;
    max-width: 1920px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #fff;

    //background-image: url(images/home/mobile/01-hero.jpg);
    background-color: $color-brand-dark;

    @include media('>small') {
      background-image: url(images/home/tablet/01-Hero-ChrisGivensTablet768.jpg);
    }
    @include media('>medium') {
      background-image: url(images/home/tablet/01-Hero-ChrisGivens_Tablet960.jpg);
    }
    @include media('>large') {
      background-image: url(images/home/desktop/01-HeroChrisGivens.jpg);
    }

    .flex-spacer {
      flex: 1 1 auto;
    }

    #home-masthead {
      @include media('<=small') {
        width: 100%;
      }
      h1 {
        @include fontSize(36px);
        @include lineHeight(48px);

        @include media('>small') {
          @include fontSize(48px);
          @include lineHeight(72px);
        }

        @include media('>1130px') {
          @include fontSize(68px);
          @include lineHeight(92px);
        }
        font-weight: 500 !important;
        transform: rotate(-2deg);
      }

    }

    #home-masthead-button {
      @include media('<=small') {
        width: 100%;
      }
      display: flex;
    }

    > div {
      position: relative;
      top: 10%;
      // This is due to the header overlap
      transform: translate(0, -25%);

      @include media('>small') {
        top: 25%;
      }

      @include media('>medium') {
        top: 25%;
      }

      @media all and (min-width: 1131px) and (max-width: 1199px) {
        top: 25%;
      }

      #home-masthead-sub {
        @include media('<=small') {
          width: 100%;
        }
        @include media('>small') {
          padding: 0 10rem;
        }
      }

      @include media('>large') {
        // This is due to the header overlap
        transform: translate(0, calc((-100% + 82px) / 4));
      }

      p {
        @include fontSize(16px);
        @include lineHeight(19px);
        text-align: center;
        color: #fff;
        font-family: $font-family-dark-body;

        @include media('>small') {
          @include fontSize(24px);
          @include lineHeight(30px);
        }
      }

      h1 {
        @include fontSize(32px);
        @include lineHeight(40px);

        @include media('>large') {
          @include fontSize(64px);
          @include lineHeight(78px);
        }
      }
    }
  }

  .secondary-callout-body {
    display: none !important;
  }

  .secondary-callout-image {
    padding-bottom: 66% !important;
    @include media('<=small') {
      min-height: 228px;
    }
  }

  .two-up-callout-row {
    .secondary-callout-image {
      padding-bottom: 50% !important;
    }
  }

  .secondary-callout-copy {
    border-top: 1rem solid #d8d8d8;

    .secondary-callout-category {
      font-family: $font-family-secondary;
      color: $color-modules-bg-primary;
    }
  }

  .primary-callout-category {
    span {
      background-color: $color-modules-bg-primary;
      padding: 1rem;
      @include fontSize(18px);
      @include lineHeight(21px);
    }
    margin-top: 4rem;
    font-family: $font-family-secondary;
  }


  .primary-callout-image {
    min-height: 375px;
    @include media('>small') {
      min-height: 440px;
    }
    @include media('>medium') {
      width: desktop-inner-grid-size(4,3,8,7) !important;
    }
  }

  .primary-callout-copy {
    @include media('>medium') {
      width: desktop-inner-grid-size(4,4,8,7) !important;
    }

    .callout-headline {
      margin-top: 2rem;
      @include fontSize(30px);
      @include lineHeight(42px);
    }
  }

  .callout-body {
    @include fontSize(20px);
    @include lineHeight(32px);
  }

  .callout-read-time,
  .callout-body {
    font-family: $font-family-dark-body;
  }

  @include horizontal-tablet-callout-row;

  #primary-callout-mg-other-conditions {
    background-image: url(images/home/mobile/02-LivingwothMG.jpg);
    background-position-x: 50%;
    @include media('>small') {
      background-image: url(images/home/tablet/02-Symptoms.jpg);
    }
    @include media('>large') {
      background-image: url(images/home/desktop/02-LivingwithMG.jpg);
    }
  }

  #primary-callout-myrealworld-mg {
    background-image: url(images/home/mobile/04-ShareMGJourney.jpg);
    background-position-x: 50%;
    @include media('>small') {
      background-image: url(images/home/tablet/04-ShareMGJourney.jpg);
    }
    @include media('>large') {
      background-image: url(images/home/desktop/04-ShareMGJourney.jpg);
    }

    @include media('>small', '<=medium') {
      min-height: 550px; // copy was going into read time
    }
  }

  #primary-callout-discussion-children {
    background-image: url(images/home/mobile/06-discussion.jpg);
    background-position-x: 50%;
    @include media('>small') {
      background-image: url(images/home/tablet/11-DiscussionChildren.jpg);
    }
    @include media('>large') {
      background-image: url(images/home/desktop/05-discussion.jpg);
    }
  }

  #primary-callout-doctor-tools {
    background-image: url(images/home/mobile/04-article.jpg);

    @include media('>medium') {
      background-image: url(images/home/desktop/03-doctor_tools.jpg);
    }
  }

  #primary-callout-profile-morgan {
    background-image: url(images/home/desktop/08-morgan.jpg);

    @include media('>medium') {
      background-image: url(images/home/desktop/08-morgan.jpg);
    }
  }

  #primary-callout-what-is-mg {
    background-image: url(images/home/mobile/12-what_is_mg.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/07-WhatisMG.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/11-what_is_mg.jpg);
    }
  }

  #primary-callout-profile-kait-masters {
    background-image: url(images/home/mobile/17-KaitMasters.jpg);
    background-position-x: 50%;

    @include media('>small') {
      background-image: url(images/home/tablet/15-KaitMasters.jpg);
    }
    @include media('>large') {
      background-image: url(images/home/desktop/17-KaitMasters.jpg);
    }
  }

  #primary-callout-mymgsole-gallery {
    background-image: url(images/home/mobile/21-MGSole.jpg);
    background-position: 50%;
    @include media('>medium') {
      background-image: url(images/home/desktop/21-MGSole.jpg);
    }
  }

  #secondary-callout-cookbook-fajitas {
    background-position: 50%;
    background-image: url(images/home/mobile/03-ChickenFajitas.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/03-ChickenFajitas.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/03-Chicken-Fajitas.jpg);
    }
  }

  #secondary-callout-cookbook-sweet-potato-soup {
    background-position: 50%;
    background-image: url(images/home/mobile/05-SweetPotatoSoup.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/SweetPotatoSoup.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/05-SweetPotatoSoup.jpg);
    }
  }

  #secondary-callout-cookbook-casserole {
    background-position: 50%;
    background-image: url(images/home/mobile/14-CasseroleRecipe.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/Casserole.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/14-CasseroleRecipe.jpg);
    }
  }

  #secondary-callout-myrealworld-mg {
    background-position: 50%;
    background-image: url(images/home/mobile/04-ShareMGJourney.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/04-ShareMGJourney.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/15-ShareMGJourney.jpg);
    }
  }

  #secondary-callout-profile-morgan {
    background-position: 80% 20%;
    background-image: url(images/home/mobile/18-MorganGreene.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/MorganGreene.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/08-morgan.jpg);
    }
  }

  #secondary-callout-mg-sole {
    background-position: 50%;
    background-image: url(images/home/mobile/22-KickyArt.jpg);
    background-size: cover;

    @include media('>600px') {
      background-image: url(images/home/desktop/22-KickyArt.jpg);
    }
    @include media('>small') {
      background-position: 90% 0;
    }
    @include media('>large') {
      background-position: 0 0;
    }
  }

  #secondary-callout-mg-illuminate {
    background-position: 50%;
    background-image: url(images/home/tablet/20-MGIlluminate.jpg);

    @include media('>small') {
      background-position: 60% 0;
      background-image: url(images/home/desktop/23-MGIlluminate.jpg);
    }

    /*@include media('>large') {
      background-image: url(images/home/desktop/23-MGIlluminate.jpg);
    }*/
  }

  #secondary-callout-invisible-burden {
    background-position-x: 50%;
    background-image: url(images/home/desktop/04-invisible-burden.svg);

    @include media('>medium') {
      background-image: url(images/home/desktop/04-invisible-burden.svg);
    }
  }

  #secondary-callout-mg-app {
    background-image: url(images/home/mobile/07-app.jpg);

    @include media('>medium') {
      background-image: url(images/home/desktop/06-app.jpg);
    }
  }

  #secondary-callout-profile-victor {
    background-image: url(images/home/mobile/10-victor.jpg);

    @include media('>medium') {
      background-image: url(images/home/desktop/09-victor.jpg);
    }
  }

  #secondary-callout-newly-diagnosed {
    background-image: url(images/home/mobile/13-tips.jpg);
    background-position-x: 50%;

    @include media('>small') {
      background-image: url(images/home/tablet/TipstoCope.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/12-tips.jpg);
    }
  }

  #secondary-callout-for-some-time {
    background-position-x: 50%;
    background-image: url(images/home/mobile/14-living_with_mg.jpg);

    @include media('>small') {
      background-image: url(images/home/tablet/ForSomeTime.jpg);
    }

    @include media('>large') {
      background-image: url(images/home/desktop/13-livingwith_MG.jpg);
    }
  }

  .tertiary-callout-row {
    .secondary-callout-image {
      display: none;
    }
  }

  .home-section-label {
    color: $color-modules-bg-primary;
    font-family: $font-family-secondary;
    @include fontSize(40px);
    @include lineHeight(48px);
  }

  #home-about-mg, #home-real-stories {
    .callout-category {
      display: none;
    }

/*    .callout-headline {
      margin-top: 4rem;
    }*/
  }

  #home-jump-links {
    position: relative;
    background-color: $color-white;
    border-radius: 0;
    margin-top: 0 !important;

    .flex-spacer {
      flex: 1 1 auto;
    }

    padding-top: 3rem;

    @include media('>small') {
      position: initial;
      display: block;
      background: transparent;
      text-align: center;
      overflow: visible;
    }

    @include media('>small') {
      padding: 2rem 0 2rem;
    }

    & > div {
      padding-bottom: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column wrap;

      @include media('>small') {
        padding: 0;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
      }

      @include media('>medium') {
        padding: 0;
        align-items: center;
        flex-flow: row nowrap;
      }

    }

    ul {
      list-style-type: none;
      //margin: 0;
      padding-left: 0 !important;
      margin: 0 0 3rem 0;

      @include media('>small') {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      @include media('>medium') {
        justify-content: space-between;
        margin: 0 0 0 0;
      }

      @include media($header-nav-large-font-size-breakpoint) {
        margin-right: 0;
      }
      // Each menu item
      & > li {
        margin: 0 0 1rem 2rem;
        text-transform: uppercase;

        @include media('>small') {
          margin: 0 2rem 0 0;
        }

        @include media('>800px') {
          margin: 0 3rem 0 0;
        }

        @include media('>850px') {
          margin: 0 4rem 0 0;
        }

        @include media('>900px') {
          margin: 0 5rem 0 0;
        }

        @include media('>medium') {
          position: relative;
          //margin: 0 4rem 0 0;
          margin: 0;
        }
        // Top-level links, unlike menu labels, are just
        // <a> elements without an enclosing <span>
        & > a {
          display: inline-block;
          padding: 1rem 0 0;
          margin: 0 0 0 1rem;
          @include fontSize(18px);
          @include lineHeight(32px);
          color: $color-text;
          font-family: $font-family-nav-small;
          border-bottom: 1rem solid transparent;
          white-space: nowrap;
          transition: none;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: none;
            border-bottom: 1rem solid $color-cta-secondary;
          }

          @include media('>small') {
            color: $color-text;
            @include fontSize(16px);
            @include lineHeight(24px);
            /*@include fontSize(14px);
            @include lineHeight(16px);*/
            margin: 0;
          }

          @include media($header-nav-large-font-size-breakpoint) {
            @include fontSize(18px);
            @include lineHeight(32px);
            font-family: $font-family-nav-large;
            //margin: 0 1rem;
          }
        }

        // Selected state for top level menus
        &.selected {
          // Menus that contain submenus use a <span>
          // for their label; menus without submenus
          // just contain an <a> element
          & > span,
          & > a {
            color: $color-white;
            border-bottom: 1rem solid $color-cta-secondary;
            //line-height: 4rem;
            @include media(">small") {
              color: inherit;
              border-bottom: 1rem solid $color-cta-secondary;
            }
          }

          & > span {
            &:active {
              // The rules above undo our active state
              @include media(">small") {
              }
            }
          }

          & > a {
            pointer-events: none;
            cursor: default;
            text-decoration: none;

            @include media(">small") {
              color: inherit;
            }
          }
        }
      }
    }
  }

  #home-documentary-promo {
      background-color: transparent;
      padding: 5rem 0 8rem;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      .container {
        z-index: 2;
      }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color:rgba(29, 29, 29, 0.5);
      z-index: 1;
      margin: 0;
      width: 100%;
      max-width: 100%;
      @media screen and (max-aspect-ratio:239/134) {
        width: auto;
        height: 100%;
      }
    }

      @include media('>small') {
        padding: 5.5rem 0 0;
        height: 400px;
      }

      @include media('>medium') {
        padding: 4rem 0 0;
      }

      @include media('>large') {
        padding: 9rem 0 0;
      }

      video {
        position: absolute;
        z-index: 0;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;

        @media screen and (max-aspect-ratio:239/134) {
          width: auto;
          height: 100%;
        }

        @include media('>small') {
          height: auto;
          width: 100%;
        }

        @include media('>large') {
          margin-top: -300px;
        }

      }

      .row {
        justify-content: center;
      }

      .eyebrow {
        text-align: center;
        color: #effeea;
        letter-spacing: 4.18px;
        text-transform: uppercase;
        font-family: $font-family-dark-secondary;
        position: relative;

        @include media('<=large') {
          &:nth-child(1):after {
            content: '';
            width: 50%;
            position: absolute;
            bottom: -2rem;
            left: 50%;
            transform: translate(-50%, 0);
            border-bottom: 1px solid #effeea;
          }

          &:nth-child(3) {
            padding-top: 4rem;
            margin-top: 0;

            &:after {
              content: '';
              width: 50%;
              position: absolute;
              top: 2rem;
              left: 50%;
              transform: translate(-50%, 0);
              border-top: 1px solid #effeea;
            }

          }

        }

        @include media('>large') {
          border-width: 0;
          font-size: 3rem;
          line-height: 33px;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;

          &::before, &::after {
            content: '';
            background-color: white;
            flex: 1;
            height: 0.04em;
            margin: 0;
          }

          &::before {
            margin-right: 2rem;
          }

          &::after {
            margin-left: 2rem;
          }

        }

      }

      h1 {
        text-transform: uppercase;
        letter-spacing: 3.43px;
        margin: 5rem auto 2rem;
        color: $color-dm-text;

        @include media('>small') {
          letter-spacing: 5px;
        }

        @include media('>large') {
          margin-top: 2rem;
        }

        span {
          display: block;

          @include media('>small') {
            display: inline;
          }

        }

      }

      .capsule {
        background: #48839b;
        border-color: #48839b;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 2.25px;
        padding-top: 1.2rem;
        color: $color-white;

        &:visited {
          color: $color-white !important;
        }

        &:hover, &:focus {
          border-color: #48839b;
          color: #48839b !important;
          background-color: white;
        }

      }



/*    margin-top: 0 !important;


    background-size: auto 504px;
    background-color: #fff;

    background: url(images/home/mobile/documentary_hero.jpg) no-repeat 50% 0;
    !*height: 480px;*!

    @include media('>small') {
      !*height: 504px;*!
      background: url(images/home/desktop/documentary_hero.jpg) no-repeat 50% 0;
    }


    .home-documentary-promo-eyebrow {
      text-align: center;
      color: #effeea;
      letter-spacing: 4.18px;
      text-transform: uppercase;
      font-family: $font-family-dark-secondary;
      position: relative;

      @include media('<=large') {
        &:nth-child(1):after {
          content: '';
          width: 50%;
          position: absolute;
          bottom: -2rem;
          left: 50%;
          transform: translate(-50%, 0);
          border-bottom: 1px solid #effeea;
        }

        &:nth-child(3) {
          padding-top: 4rem;
          margin-top: 0;

          &:after {
            content: '';
            width: 50%;
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translate(-50%, 0);
            border-top: 1px solid #effeea;
          }

        }

      }

      @include media('>=large') {
        border-width: 0;
        @include fontSize(24px);
        @include lineHeight(32px);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &::before, &::after {
          content: '';
          background-color: white;
          flex: 1;
          height: 0.04em;
          margin: 0;
        }

        &::before {
          margin-right: 2rem;
        }

        &::after {
          margin-left: 2rem;
        }

      }

    }

    h2 {
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      margin: 5rem auto 2rem;
      color: $color-dm-text;
      font-family: $font-family-dark-main;

      @include media('>small') {
        letter-spacing: 5px;
        @include fontSize(76px);
        @include lineHeight(88px);
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    #home-documentary-promo-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }

      .capsule {
        background: #48839b;
        border: 1px solid white;
        position: relative;
        left: 50%;
        color: $color-white;
        transform: translateX(-50%);
        letter-spacing: 2.25px;
        padding-top: 1.2rem;

        &:hover,
        &:focus {
          border-color: #48839b;
          color: #48839b;
          background-color: $color-white;
        }

      }
    }

    > .row:first-of-type {
      padding-top: 10rem;
    }

    > .row:last-of-type {
      padding-bottom: 10rem;
    }*/

  }

  #home-mission-promo {


    background-size: auto 962px !important;
    background-color: #fff;

    background: url(images/home/mobile/08-promotional_full_width1.jpg) no-repeat 25% 0;
    /*height: 480px;*/

    @include media('>small') {
      /*height: 504px;*/
      background: url(images/home/desktop/07-promotional_full_width_tile1.jpg) no-repeat 33% 0;
    }


    .home-mission-promo-eyebrow {
      text-align: center;
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-family-secondary;
      position: relative;
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: 5rem auto 2rem;
      color: $color-white;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 5px;
        @include fontSize(48px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .home-mission-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-white;
      text-align: center;
    }

    #home-mission-promo-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }

    > .row:first-of-type {
      padding-top: 10rem;
    }

    > .row:last-of-type {
      padding-bottom: 10rem;
    }

  }

  .form-module {
    > div > div {
      background-color: $color-modules-bg-secondary;
        > div {
          margin-bottom: -6rem;
        }

    }
    > div #form-step-sign-up{
      padding-bottom: 6rem;
      &:before {
        @include media('>medium') {
          content: "";
          position: absolute;
          bottom: 0;
          right: 9rem;
          width: 220px;
          height: calc(100% + 2rem);
          background: url(images/home/person_on_phone.svg) no-repeat;
          background-size: auto 90rem;
          background-position: 105% 100%;
          pointer-events: none;
        }

        @include media('>large') {
          right: 18rem;
        }
      }

      .optin label {
        font-size: 2rem;
        margin: 2rem 0 1rem 0;
      }
    }

    > div #form-step-survey, #form-step-thank-you, #form-step-share-story {
      margin-bottom: 6rem;
    }

    h2 {
      color: $color-brand-dark;
      @include fontSize(48px);
      @include lineHeight(52px);
      font-family: $font-family-secondary;
    }

    p, .secondary {
      color: $color-text;
      font-family: $font-family-dark-body;
      font-weight: 500;
      @include fontSize(22px);
      @include lineHeight(32px);
    }

    label {
      font-family: $font-family-dark-body;
      font-weight: 500;
      color: $color-text;
    }

    .optin {
      label {
        font-weight: 500 !important;
      }
    }
  }


  #home-share-story-promo {

    position: relative;

    .row {
      position: static;
    }

    background-color: $color-modules-bg-secondary;

    @include media('>medium') {
      height: 504px;
    }

    .promo-img {
      padding-top: 4rem;
      @include media('>medium') {
        padding-top: 0;
      }
    }

    .promo-img:before {
      background: url(images/home/woman_speech_bubble.svg) no-repeat;
      content: "";
      height: 400px;
      width: 100%;
      bottom: 0;
      margin-bottom: -6px;


      @include media('>medium') {
        right: 0;
        left: 2rem;
        position: absolute;
        padding-bottom: 0;
      }
    }

    .col {
      z-index: 1;
    }


    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: 5rem auto 2rem;
      color: $color-brand-dark;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 5px;
        @include fontSize(48px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .home-share-story-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-text;
      text-align: center;
    }

    #home-share-story-promo-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }

    > .row:first-of-type {
      padding-top: 10rem;
    }

    > .row:last-of-type {
      @include media('>medium') {
        padding-bottom: 10rem;
      }
    }

  }

  #home-my-real-world-mg-app-promo {

    background-color: $color-white;
    /*height: 480px;*/
    background: url(images/home/mobile/10-MyRealWorldMGPanel.png) no-repeat 25% 0;

    @include media('>375px') {
      /*height: 504px;*/
      background-size: auto 670px !important;
      background: url(images/home/tablet/tablet.jpg) no-repeat;
    }

    @include media('>medium') {
      /*height: 504px;*/
      background-size: auto 900px !important;
      background: url(images/home/desktop/14-promotional_full_width_tile_MOBILE_APP.png) no-repeat 33% 0;
    }


    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: 5rem auto 2rem;
      color: $color-brand-dark;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 5px;
        @include fontSize(48px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .home-app-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-text;
      text-align: center;
    }

    #home-apple-app-promo-button,
    #home-android-app-promo-button{
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }


    @include media('>medium') {
      #home-apple-app-promo-button {
        margin-right: 2rem;
        .flex-spacer:last-of-type {
          display: none;
        }
      }

      #home-android-app-promo-button {
        margin-left: 2rem;
        .flex-spacer:first-of-type {
          display: none;
        }
      }
    }

    #home-android-app-promo-button img {
      width: 204px;
    }

    #home-apple-app-promo-button img {
      width: 204px;
    }

    > .row:first-of-type {
      padding-top: 20rem;
    }

    > .row:last-of-type {
      padding-bottom: 10rem;
    }

  }


/*    #welcome {
        position: relative;
        margin-top: 10rem;
        background-color: $color-modules-bg-primary;

        &:before {
            // Green curve & shadow
            content: "";
            position: absolute;
            top: 10px;
            left: -5px;
            transform: translate(0, -100%);
            display: block;
            width: calc(100% + 10px);
            height: 230px;
            background-image: url(images/home/home-mask-sized.svg);
            background-size: 100% 100%;
            z-index: -1;

            @include media('>small') {
                display: none;
            }
        }

        @include media('>small') {
            background-color: transparent;
        }
        // Grid gutter / max width / positioning
        > div {
            // Green box
            > div {
                background-color: $color-modules-bg-primary;
                color: $color-white;
                //padding: 1rem 1rem 4rem 1rem;
                border-radius: 0;
                //margin-left: -2rem;
                //margin-right: -2rem;
                position: relative;
                text-align: center;

                @include media('>small') {
                    //width: 98%;
                    //margin-left: auto !important;
                    //margin-right: auto !important;
                    align-items: flex-start;
                    justify-content: space-between;
                    !*border-radius: 0.625rem;*!
                    //padding: 5rem;
                    padding: 5rem 0 7rem;
                }
                // @include media('>large-with-margins') {
                //   margin-top: 14rem;
                //   border-radius: 0.625rem;
                //   justify-content: flex-start;
                //   padding: 5rem;
                // }
                // @include media('>large-with-margins') {
                //   margin-top: 14rem;
                //   border-radius: 0.625rem;
                //   justify-content: flex-start;
                //   padding: 5rem;
                // }
                .row {
                    flex-direction: column;
                    margin: 0 auto;
                    padding-bottom: 6rem;

                    @include media('>small') {
                        flex-direction: row;
                        justify-content: center;
                        width: desktop-grid-size(10, 9);
                        padding-bottom: 0;
                    }

                    span {
                        &.col-3 {
                            display: none;

                            @include media('>medium') {
                                display: initial;
                            }
                        }
                    }
                    //.col {
                    > div {
                        @include media('>small') {
                            margin: 4rem 3rem 0;
                        }

                        a.capsule.primary {
                            // "Join Us" is a little wider here
                            min-width: 32rem;
                            margin-top: 0;

                            @include media('>small') {
                                min-width: 36rem;
                            }
                        }

                        a.capsule.quaternary {
                            margin: 1rem 0 0;
                            min-width: 0;

                            @include media('>small') {
                                margin: 0;
                            }
                        }
                    }
                }

                div {
                    > h2,
                    > h4,
                    > p {
                        color: $color-white;
                        text-align: center;
                    }

                    h2 {
                        @include fontSize(24px);
                        @include lineHeight(32px);

                        @include media('>small') {
                            @include fontSize(30px);
                            @include lineHeight(42px);
                        }

                        // rays
                        &:first-of-type:before {
                            content: '';
                            background: url('images/home/home-background-rays-mobile.svg') no-repeat 0 0;
                            background-size: 100% auto;
                            background-repeat: no-repeat;
                            background-position: center top;
                            display: block;
                            width: calc(100% + (#{$mobile-gutter-width} * 2));
                            height: 1000px;
                            position: absolute;
                            top: calc(((100vw - 370px) * -0.25) - 115px);
                            left: #{-$mobile-gutter-width};
                            pointer-events: none;

                            @include media('<=320px') {
                                top: calc(((320px - 370px) * -0.25) - 115px);
                            }

                            @include media('>small') {
                                background-image: url('images/home/home-background-rays.svg');
                                top: -50px;
                                left: auto;
                                right: 100px;
                                width: 345px;
                                height: 409px;
                                transform: translate(50%, 0);
                            }
                        }
                    }

                    > h1 {
                        margin-bottom: 1rem;
                    }

                    &.col-5 {
                        margin-top: 2rem;

                        @include media('>small') {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }*/

    hr {
      margin: 6rem auto 1rem;
      border-width:0;
      border-bottom:1px solid $color-light-gray;
      max-width: 1344px;
    }

/*    #questions {
        > div {
            padding: 0;

            @include media('>medium') {
                display: flex;
                flex-direction: reverse;
                padding: 0 $desktop-gutter-width;
            }

            > div {
                &:nth-of-type(1) {
                    @include media('>medium') {
                        width: desktop-grid-size(8, 7);
                    }
                }

                &:nth-of-type(2) {
                    background-color: $color-brand-dark;
                    padding: 5rem 4rem 7rem;

                    @include media('>medium') {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: transparent;
                        width: desktop-grid-size(4, 4);
                        padding: 6rem 4rem;

                    }

                    h2,
                    p {
                        color: $color-white;
                    }

                    h2 {
                        @include fontSize(24px);
                        @include lineHeight(32px);

                        @include media('>small') {
                            @include fontSize(30px);
                            @include lineHeight(42px);
                        }
                    }

                    .capsule {
                        // Flex layout goofs with this
                        max-width: 200px;
                    }

                    @include media('>medium') {
                        background-color: $color-brand-dark;
                    }
                }
            }
            // video
            .video {
                position: relative;
                background-image: url(images/about/about-bg-questions-1x.jpg);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                background-blend-mode: multiply;
                padding-top: 0;
                padding-bottom: calc(100% * (9 / 16));


                @include media('>medium') {
                    !*border-radius: 0.625rem 0 0 0.625rem;*!
                    border: solid 1px $color-light-gray;
                    background-position: center center;
                    min-height: 62rem;
                    padding-bottom: 0;
                }

                > div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    !*display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;*!
                    width: 100%;
                    height: 100%;

                    h5 {
                        position: absolute;
                        top: 50%;
                        //right: calc(20% + (100vw * 0.2));
                        left: $mobile-gutter-width;
                        transform: translate(0, -50%);
                        display: inline-block;
                        //width: 100%;
                        //text-align: center;
                        !*@include fontSize(30px);
                        @include lineHeight(42px);*!
                        font-size: 36px;
                        line-height: 48px;
                        letter-spacing: -0.18px;
                        color: $color-manifesto-video;
                        //max-width: calc(100% - 4rem);
                        //margin-bottom: 1rem;

                        @include media('>320px') {
                            left: calc(#{$mobile-gutter-width} + ((100vw - 320px) * 0.3));
                        }

                        @include media('>600px') {
                            font-size: 58px;
                            line-height: 77px;
                            left: calc(4rem + ((100vw - 600px) * 0.3));
                        }

                        @include media('>small') {
                            !*@include fontSize(68px);
                            @include lineHeight(118px);*!
                            left: calc(10rem + ((100vw - 768px) * 0.4));
                        }

                        @include media('>medium') {
                            left: desktop-inner-grid-size(1, 0, 8, 7);
                        }

                        @include media('>large-with-margins') {
                        }
                    }

                    .bttn-play {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 88px;
                        height: 88px;

                        @include media('>small') {
                            width: 106px;
                            height: 106px;
                        }
                    }
                }
            }
        }
    }*/

/*    #stories {
        .row {
            //justify-content: center;
            align-items: stretch;
            // @include media('>medium') {
            //   justify-content: space-between;
            // }
            !*border-radius: 0.625rem;*!
            border-color: $color-light-gray;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            overflow: hidden;
            &:focus-within {
              box-shadow: 0px 0px 4px #666 !important;
            }

            > div {
                @include media('<=medium') {
                    width: 100%;
                }
                // content
                &:nth-of-type(2) {
                    background-color: $color-white;
                    !*border-radius: 0 0 0.625rem 0.625rem;
          border-color: $color-light-gray;
          border-width: 0 1px 1px 1px;
          border-style: solid;*!
                    padding: 5rem 4rem;

                    @include media('>medium') {
                        //border-radius: 0 0.625rem 0.625rem 0;
                        display: flex;
                        align-items: center;
                    }

                    > div {
                        h2 {
                            color: $color-brand-dark;
                            font-size: 20px !important;
                            line-height: 24px !important;

                            @include media('>small') {
                                font-size: 30px !important;
                                line-height: 42px !important;
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    @include media('>medium') {
                        width: desktop-grid-size(6, 6);
                    }
                }
                // video
                &:nth-of-type(1) {
                    background-color: rgba(0,0,0,0);
                    background-image: url(images/content-card-images/victor-callout.png);
                    background-position: 0 50%;
                    background-repeat: no-repeat;
                    //background-position: center center;
                    background-size: cover;
                    background-blend-mode: multiply;
                    //border-radius: 0.625rem 0.625rem 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //min-height: 40rem;
                    @include media('>medium') {
                        //background-position: center center;
                        //border-radius: 0.625rem 0 0 0.625rem;
                        //min-height: 62rem;
                    }

                    a {
                      padding: 0;
                      position: absolute;
                      display: block;
                      top: 0;
                      left: 2rem;
                      @include media('>small') {
                        left: 2rem;
                        width: calc(100% - 4rem);
                        height: calc(100% * (2 / 3));
                      }
                      @include media('>medium') {
                        left: 2rem;
                        width: calc(50% - 4rem);
                        height: 100%;
                      }
                      width: calc(100% - 4rem);
                      height: calc(100% * (2 / 3));
                    }
                    // This just controls the vertical spacing
                    &:before {
                        @extend %post-thumbnail-aspect-ratio;
                        content: "";
                        display: block;
                        width: 100%;

                        @include media('>medium') {
                            // Undo the 1:1 aspect ratio
                            padding-bottom: calc(100% * (2 / 3));
                        }
                    }
                }
            }
        }
    }*/

/*    #tools {
        //> div {
        //    padding: 0;
        //    @include media('>medium') {
        //        padding: 0 2rem;
        //    }
        //}
        .row {
            !*border-radius: 0.625rem;*!
            //justify-content: center;
            align-items: stretch;
            // @include media('>medium') {
            //   justify-content: space-between;
            // }
            //@include media('>medium') {
            //    border-radius: 0.625rem;
            //}
            border-color: $color-light-gray;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            overflow: hidden;
            &:focus-within {
              box-shadow: 0px 0px 4px #666 !important;
            }

            > div {
                @include media('<=medium') {
                    width: 100%;
                }
                // content
                &:nth-of-type(2) {
                    background-color: $color-brand-dark;
                    !*border-radius: 0 0 0.625rem 0.625rem;
          border-color: $color-light-gray;
          border-width: 0 1px 1px 1px;
          border-style: solid;*!
                    padding: 5rem 4rem;

                    @include media('>medium') {
                        //border-radius: 0 0.625rem 0.625rem 0;
                        display: flex;
                        align-items: center;
                    }

                    > div {
                        h2 {
                            color: $color-white;
                            font-size: 20px !important;
                            line-height: 24px !important;

                            @include media('>small') {
                                font-size: 30px !important;
                                line-height: 42px !important;
                            }
                        }
                        p {
                            color: $color-white;
                        }
                    }
                }

                &:nth-of-type(2) {
                    @include media('>medium') {
                        width: desktop-grid-size(6, 6);
                    }
                }
                // video
                &:nth-of-type(1) {
                    background-color: rgba(0,0,0,0);
                    background-image: url(images/content-card-images/doctor-tools-home.jpg);
                    background-repeat: no-repeat;
                    background-position: center top;
                    background-size: cover;
                    background-blend-mode: multiply;
                    //border-radius: 0.625rem 0.625rem 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //min-height: 40rem;
                    @include media('>medium') {
                        background-position: center center;
                        //border-radius: 0.625rem 0 0 0.625rem;
                        //min-height: 62rem;
                    }

                  a {
                    padding: 0;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 2rem;
                    @include media('>small') {
                      left: 2rem;
                      width: calc(100% - 4rem);
                      height: calc(100% * (2 / 3));
                    }
                    @include media('>medium') {
                      left: 2rem;
                      width: calc(50% - 4rem);
                      height: 100%;
                    }
                    width: calc(100% - 4rem);
                    height: calc(100% * (2 / 3));
                  }

                    // This just controls the vertical spacing
                    &:before {
                        @extend %post-thumbnail-aspect-ratio;
                        content: "";
                        display: block;
                        width: 100%;

                        @include media('>medium') {
                            // Undo the 1:1 aspect ratio
                            padding-bottom: calc(100% * (2 / 3));
                        }
                    }
                }
            }
        }
    }*/

/*  #invisible-burden{
    .row {
      !*border-radius: 0.625rem;*!
      align-items: stretch;
      border-color: $color-light-gray;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      overflow: hidden;
      &:focus-within {
        box-shadow: 0px 0px 4px #666 !important;
      }

      > div {
        @include media('<=medium') {
          width: 100%;
        }
        // content
        &:nth-of-type(2) {
          background-color: $color-brand-dark;
          padding: 5rem 4rem;

          @include media('>medium') {
            display: flex;
            align-items: center;
          }

          > div {
            h2 {
              color: $color-white;
              font-size: 20px !important;
              line-height: 24px !important;

              @include media('>small') {
                font-size: 30px !important;
                line-height: 42px !important;
              }
            }
            p {
              color: $color-white;
            }
          }
        }

        &:nth-of-type(2) {
          @include media('>medium') {
            width: desktop-grid-size(6, 6);
          }
        }
        // video
        &:nth-of-type(1) {
          background-color: #fff;
          background-image: url(images/content-card-images/invisible-burden-home.png);
          background-repeat: no-repeat;
          background-position: center top;
          background-size: contain;
          background-blend-mode: multiply;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media('>medium') {
            background-position: center center;
          }

          a {
            padding: 0;
            position: absolute;
            display: block;
            top: 0;
            left: 2rem;
            @include media('>small') {
              left: 2rem;
              width: calc(100% - 4rem);
              height: calc(100% * (2 / 3));
            }
            @include media('>medium') {
              left: 2rem;
              width: calc(50% - 4rem);
              height: 100%;
            }
            width: calc(100% - 4rem);
            height: calc(100% * (2 / 3));
          }

          // This just controls the vertical spacing
          &:before {
            @extend %post-thumbnail-aspect-ratio;
            content: "";
            display: block;
            width: 100%;

            @include media('>medium') {
              // Undo the 1:1 aspect ratio
              padding-bottom: calc(100% * (2 / 3));
            }
          }
        }
      }
    }
  }*/

/*  #four-words {
    .row {
      !*border-radius: 0.625rem;*!
      align-items: stretch;
      border-color: $color-light-gray;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      overflow: hidden;
      &:focus-within {
        box-shadow: 0px 0px 4px #666 !important;
      }

      > div {
        @include media('<=medium') {
          width: 100%;
        }
        // content
        &:nth-of-type(2) {
          background-color: $color-brand-dark;
          padding: 5rem 4rem;

          @include media('>medium') {
            display: flex;
            align-items: center;
          }

          > div {
            h2 {
              color: $color-white;
              font-size: 20px !important;
              line-height: 24px !important;

              @include media('>small') {
                font-size: 30px !important;
                line-height: 42px !important;
              }
            }
            p {
              color: $color-white;
            }
          }
        }

        &:nth-of-type(2) {
          @include media('>medium') {
            width: desktop-grid-size(6, 6);
          }
        }
        // video
        &:nth-of-type(1) {
          background-color: #fff;
          background-image: url(images/content-card-images/four-words.jpg);
          background-repeat: no-repeat;
          background-position: 0 50%;
          background-size: cover;
          background-blend-mode: multiply;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media('>medium') {
            background-position: center center;
          }

          a {
            padding: 0;
            position: absolute;
            display: block;
            top: 0;
            left: 2rem;
            @include media('>small') {
              left: 2rem;
              width: calc(100% - 4rem);
              height: calc(100% * (2 / 3));
            }
            @include media('>medium') {
              left: 2rem;
              width: calc(50% - 4rem);
              height: 100%;
            }
            width: calc(100% - 4rem);
            height: calc(100% * (2 / 3));
          }

          // This just controls the vertical spacing
          &:before {
            @extend %post-thumbnail-aspect-ratio;
            content: "";
            display: block;
            width: 100%;

            @include media('>medium') {
              // Undo the 1:1 aspect ratio
              padding-bottom: calc(100% * (2 / 3));
            }
          }
        }
      }
    }
  }*/

/*    #documentary {
        .row {
            > div {
              &:focus-within {
                box-shadow: 0px 0px 4px #666 !important;
              }
                display: flex;
                flex-direction: column;

                @include media('>medium') {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $color-brand-light;
                    padding: 4rem;
                    //padding: desktop-grid-size(0.5, 0);
                    !*border-radius: 0.625rem;*!
                    width: 100%;
                }

                > div {
                    @include media('<=medium') {
                        width: 100%;
                    }
                    // content
                    &.col-6 {
                        background-color: $color-brand-light;
                        !*border-radius: 0 0 0.625rem 0.625rem;*!
                        padding: 5rem 4rem;
                        order: 2;

                        @include media('>medium') {
                            !*border-radius: 0.625rem 0 0 0.625rem;*!
                            padding: 0;
                            width: desktop-inner-grid-size(5.5, 5, 11, 11);
                        }

                        h2,
                        p {
                            color: $color-white;
                        }

                        h2 {
                            font-size: 20px !important;
                            line-height: 24px !important;

                            @include media('>small') {
                                font-size: 30px !important;
                                line-height: 42px !important;
                            }
                        }
                    }
                    // video
                    &.video {
                        position: relative;
                        // background-color: rgba(0,0,0,0);
                        // background-image: url(images/home/docu-home-1x.jpg);
                        // background-repeat: no-repeat;
                        // background-position: center top;
                        // background-size: cover;
                        // background-blend-mode: multiply;
                        !*border-radius: 0.625rem 0.625rem 0 0;*!
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        //min-height: 40rem;
                        padding: 0;
                        overflow: hidden;
                        order: 1;

                        a {
                          padding: 0;
                          position: absolute;
                          top: 0;
                          left: 0;
                          display: block;
                          width: 100%;
                          height: 100%;
                        }

                        &:before {
                            content: "";
                            // position: absolute;
                            // top: 0;
                            // left: 0;
                            display: block;
                            width: 100%;
                            padding-bottom: calc(100% * (9 / 16));
                            background-image: url(images/about/about-bg-questions-1x.jpg);
                            background-repeat: no-repeat;
                            background-position: center top;
                            background-size: cover;
                        }

                        h5 {
                          position: absolute;
                          top: 50%;
                          //right: calc(20% + (100vw * 0.2));
                          left: $mobile-gutter-width;
                          transform: translate(0, -50%);
                          display: inline-block;
                          //width: 100%;
                          //text-align: center;
                          !*@include fontSize(30px);
                          @include lineHeight(42px);*!
                          font-size: 36px;
                          line-height: 48px;
                          letter-spacing: -0.18px;
                          color: $color-manifesto-video;
                          //max-width: calc(100% - 4rem);
                          //margin-bottom: 1rem;

                        @include media('>320px') {
                            left: calc(#{$mobile-gutter-width} + ((100vw - 320px) * 0.3));
                        }

                        @include media('>600px') {
                            font-size: 58px;
                            line-height: 77px;
                            left: calc(4rem + ((100vw - 600px) * 0.3));
                        }

                        @include media('>small') {
                            !*@include fontSize(68px);
                            @include lineHeight(118px);*!
                            left: calc(10rem + ((100vw - 768px) * 0.4));
                        }

                        @include media('>medium') {
                            left: desktop-inner-grid-size(1, 0, 8, 7);
                        }

                        @include media('>large-with-margins') {
                        }
                    }

                        .bttn-play {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        @include media('>medium') {
                            background-position: center center;
                            //border-radius: 0 0.625rem 0.625rem 0;
                            //min-height: 70rem;
                            order: 2;
                            //width: desktop-grid-size(8, 8);
                            !*border-radius: 0.625rem;*!
                        }
                    }
                }
            }
        }
    }*/

/*    #app {
        background-color: transparent;

        @include media('>small') {
            background-color: $color-white;
        }

        .row {
            > div {
                margin-left: 0;
                margin-right: 0;

                &.col-5 {
                    background-color: $color-white;
                   !* border-radius: 0 0 0.625rem 0.625rem;*!
                    padding: 4rem;

                    @include media('>small') {
                        background-color: transparent;
                        border-radius: 0;
                    }

                    h2 {
                        color: $color-brand-dark;
                        font-size: 20px !important;
                        line-height: 24px !important;

                        @include media('>small') {
                            font-size: 30px !important;
                            line-height: 42px !important;
                        }
                    }

                    p {
                    }
                }
                // phone app
                &:nth-child(1) {
                    !*border-radius: 0.625rem 0.625rem 0 0;*!
                    background-color: $color-white;
                    padding-bottom: 0;
                    margin-top: 0;
                    margin-bottom: 0;

                    @include media('>medium') {
                       !* border-radius: 0.625rem 0 0 0.625rem;*!
                    }

                    img {
                        max-width: 599px;
                    }
                }
            }
        }
    }*/

    #callout-slab {
        //margin-bottom: 6rem !important;
        margin-top: 6rem !important;

        @include media('>small') {
            //margin-bottom: 10rem !important;
            margin-top: 10rem !important;
        }
    }

/*    #eoc,
    #midpage-callouts {
        .row {
            .col-6 {
                display: flex;
            }
        }

        .eoc-callout .col.cta-top.cta-right-reverse {
             padding-bottom: calc(100% * (2 / 3));
            @include media('>medium') {
                // This undoes the auto aspect ratio on these
                padding-bottom: 0;
                //min-height: 50rem;
            }
        }

        .cta-bottom {

            h2 {
                font-size: 20px !important;
                line-height: 24px !important;

                @include media('>small') {
                    font-size: 24px !important;
                    line-height: 32px !important;
                }
            }
        }

        .cta-left,
        .cta-right,
        .cta-right-reverse,
        .cta-left-reverse {

            p:nth-child(1) {
                @include media('>small') {
                    font-size: 22px !important;
                    line-height: 30px !important;
                }
            }

            h2 {
                font-size: 20px !important;
                line-height: 28px !important;

                @include media('>small') {
                    font-size: 30px !important;
                    line-height: 42px !important;
                }
            }
        }
    }*/

    #disclaimer {
        margin-top: 6rem;

        @include media('>small') {
            margin-top: 10rem;
        }

        p {
            @include fontSize(16px);
            @include lineHeight(20px);
            padding: 0 4rem;

            @include media(">medium") {
                padding: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
  .round-img {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    border: 1px solid #fff;

    @include media(">small") {
      display: none;
      visibility: hidden;
    }

    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

}
