#life-with-mg {
/*  header {
    background-color: $color-white !important;
  }*/

  #hero {
    min-height: 300px;
    background-color: $color-modules-bg-secondary;
    padding-top: 11rem;
    padding-bottom: 10rem;
    margin-top: 0 !important;
    @include media('>small') {
      margin-bottom: 10rem;
    }
    h1 {
      @include fontSize(48px);
      @include lineHeight(64px);
      color: $color-brand-dark;
      font-family: $font-family-primary;
      font-weight: 700;
      text-align: center;
    }

    p {
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-text;
      font-family: $font-family-dark-body;
      text-align: center;
    }
  }


  .secondary-callout-image {
    padding-bottom: 66% !important;
    @include media('<=small') {
      min-height: 228px;
    }
  }

  .two-up-callout-row {
    .secondary-callout-image {
      padding-bottom: 50% !important;
      @include media('>small', '<=large') {
        min-height: 350px;
        padding-bottom: 0 !important;
      }
    }
  }

  .secondary-callout-copy {
    border-top: 1rem solid #d8d8d8;

    .secondary-callout-category {
      font-family: $font-family-secondary;
      color: $color-modules-bg-primary;
    }
  }

  .primary-callout-category {
    span {
      background-color: $color-modules-bg-primary;
      padding: 1rem;
      @include fontSize(18px);
      @include lineHeight(21px);
    }

    margin-top: 4rem;
    font-family: $font-family-secondary;
  }


  .primary-callout-image {
    min-height: 375px;
    @include media('>small') {
      min-height: 440px;
    }
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 5, 12, 11) !important;
    }
  }

  .primary-callout-copy {
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 6, 12, 11) !important;
    }

    .callout-headline {
      margin-top: 2rem;
      @include fontSize(30px);
      @include lineHeight(42px);
    }
  }

  .callout-body {
    @include fontSize(20px);
    @include lineHeight(32px);
  }

  .callout-read-time,
  .callout-body {
    font-family: $font-family-dark-body;
  }

  #primary-callout-myrealworld-mg {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/01-ShareMGJourney.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/01-ShareMGJourney.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/01-ShareMGJourney.jpg);
    }
  }

  #primary-callout-roasted-sweet-potato-ginger-soup {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/02-SweetPotatoSoup.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/02-SweetPotatoSoup.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/02-SweetPotatoSoup.jpg);
    }
  }

  #primary-callout-mg-app {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/07-AppforThat.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/07-AppforThat.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/07-AppforThat.jpg);
    }
  }

  #primary-callout-invisible-burden {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/16Ways_Mobile.svg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/16Ways_Tablet768.svg);
    }
    @include media('>medium') {
      background-image: url(images/life-with-mg/tablet/16Ways_Tablet960.svg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/16Ways_Desktop.svg);
    }
  }

  #secondary-callout-discussion-children {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/03-DiscussionChildren.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/03-DiscussionChildren.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/03-DiscussionChildren.jpg);
    }
  }

  #secondary-callout-discussion-guide {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/04-DiscussionFamily.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/04-DiscussionFamily.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/04-DiscusisonFamily.jpg);
    }
  }

  #secondary-callout-cookbook-fajitas {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/05-ChickenFajitas.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/05-ChickenFajita.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/05-ChickenFajita.jpg);
    }
  }

  #secondary-callout-cookbook-casserole {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/06-CasseroleRecipe.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/06-CasseroleRecipe.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/06-CasseroleRecipe.jpg);
    }
  }

  #secondary-callout-anti-inflammatory-diet {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/09-NutritionBuzz.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/09-NutritionBuzz.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/09-NutritionBuzz.jpg);
    }
  }

  #secondary-callout-emotional-health {
    background-position: 50% 0;
    background-image: url(images/life-with-mg/mobile/10-EmotionalHealth.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/10-EmotionalHealth.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/10-EmotionalHealth.jpg);
    }
  }

  #secondary-callout-cookbook-smoothies {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/11-Smoothies.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/11-Smoothies.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/11-Smoothies.jpg);
    }
  }

  #secondary-callout-summer-heat {
    background-position: 50%;
    background-image: url(images/life-with-mg/mobile/12-Summer.jpg);
    @include media('>small') {
      background-image: url(images/life-with-mg/tablet/12-Summer.jpg);
    }
    @include media('>large') {
      background-image: url(images/life-with-mg/desktop/12-Summer.jpg);
    }
  }

  .tertiary-callout-row {
    .secondary-callout-image {
      display: none;
    }
  }

  .home-section-label {
    color: $color-modules-bg-primary;
    font-family: $font-family-secondary;
    @include fontSize(40px);
    @include lineHeight(48px);
  }

  #life-with-mg-callouts {

    .callout-category {
          display: none;
    }

    >.display-eyebrow {
      .callout-category {
        display: block;
      }
    }
    @include horizontal-tablet-callout-row;
  }


  #life-with-mg-signup-promo {


    background-color: $color-modules-bg-primary;



    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: -1.5rem auto 2rem;
      color: $color-white;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 3px;
        @include fontSize(40px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        //margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .life-with-mg-signup-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-white;
      text-align: center;
    }

    #life-with-mg-signup-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }

    > .row:first-of-type {
      padding-top: 5rem;
    }

    > .row:last-of-type {
      padding-bottom: 5rem;
    }

  }

  #disclaimer {
    margin-top: 6rem;

    @include media('>small') {
      margin-top: 10rem;
    }

    p {
      @include fontSize(16px);
      @include lineHeight(20px);
      padding: 0 4rem;

      @include media(">medium") {
        padding: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

}
