#mission {

  #hero {
    background-color: $color-modules-bg-secondary;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 0 !important;
    @include media('>small') {
      margin-bottom: 10rem;
    }
    h1 {
      @include fontSize(34px);
      @include lineHeight(36px);

      @include media('>small') {
        @include fontSize(48px);
        @include lineHeight(64px);
      }

      color: $color-brand-dark;
      font-family: $font-family-primary;
      font-weight: 700;
      text-align: center;
    }

    p {
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-text;
      font-family: $font-family-dark-body;
      text-align: center;
    }
  }

    #welcome {
        > div {
            position: relative;

            .manifesto-video {
                position: relative;
                padding-bottom: calc(100% * (360 / 640));

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                }
            }

            .video {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 2rem;

                @include media('>small') {
                    padding: 4rem;
                }

                @include media('>medium') {
                    padding: 8rem;
                    margin: 0 auto;
                }

                h5 {
                    color: $color-manifesto-video;
                    max-width: 127px;
                    @include fontSize(24px);
                    @include lineHeight(32px);

                    @include media('>small') {
                        margin: 0;
                        padding: 0;
                        max-width: 370px;
                        @include fontSize(55px);
                        @include lineHeight(66px);
                    }

                    @include media('>1150px') {
                        @include fontSize(100px);
                        @include lineHeight(120px);
                        max-width: 510px;
                    }
                }

                .bttn-play {
                    position: relative;
                    display: block;
                    margin-left: 0;

                    @include media('>small') {
                        margin-left: auto;
                        position: absolute;
                        top: calc(50% - 53px);
                        left: calc(50% - 53px);
                    }
                }
            }
        }
    }

    #illo-cards {


        justify-content: center;
        text-align: center;

        .row {
          align-items: baseline;
        }

        h2 {
          font-size: 3rem;
          line-height: 4rem;
          @include media('>small') {
            font-size: 4.5rem;
            line-height: 6rem;
          }
          @include media('>small') {
              text-align: center;
          }
        }
    }

    .illo-cards {
      margin-bottom: 0;
      width: 100%;
      margin-top: 0;
      @include media('>small') {
        margin-top: 4rem;
      }
      p {
        text-align: center;
      }

      .row {
        @include media('<=medium', '>small') {
          justify-content: center;

          .illo-container:nth-of-type(3) {
            margin-top: 8rem;
          }
        }
        @include media('<=small') {
          .illo-container:nth-of-type(2) {
            margin-top: 2.5rem;
          }
          .illo-container:nth-of-type(3) {
            margin-top: 6rem;
          }
        }
        @include media('>small') {
          margin-bottom: 10rem;
        }
        @include media('>medium') {
          margin-bottom: 8rem;
        }
      }

      .illo-container {
        @include media('<=medium', '>small') {
          width: 50%;
          padding: 0 4rem;
          align-items: center;
          justify-content: center;
        }
        .illo {
          height: 250px;
          position: relative;
          object-fit: contain;
          img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: auto;
            width: 250px;
          }

        }

        .illo-text {
            p {
              font-family: "Open Sans", serif;
              @include media('<=small') {
                font-size: 2.25rem;
                line-height: 3rem;
              }
            }
        }
        p {
          font-size: 2.5rem;
          line-height: 3rem;
          //min-height: 150px;
          margin-top: 4rem;
        }
      }
    }

  #mission-signup-promo {


    background-color: $color-modules-bg-primary;


    .mission-signup-promo-eyebrow {
      text-align: center;
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-family-secondary;
      position: relative;
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: 0rem auto 2rem;
      color: $color-white;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 3px;
        @include fontSize(40px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .mission-signup-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-white;
      text-align: center;
    }

    #mission-signup-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }

    > .row:first-of-type {
      padding-top: 7rem;
    }

    > .row:last-of-type {
      padding-bottom: 7rem;
    }

  }

    #advocacy-groups {
        margin-top: 6rem;
        text-align: center;

        h2 {
          font-size: 3rem;
          line-height: 4rem;
          @include media('>small') {
            font-size: 4.5rem;
            line-height: 6rem;
          }
        }

        @include media('>small') {
            margin-top: 10rem;
        }

        > div {
            > .row {
                &:nth-child(2) {
                    margin-top: 0;
                    padding-bottom: 0;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    flex-direction: row;

                    @include media('>small') {
                      margin-top: 2rem;
                    }

                    @include media('>medium') {
                      margin-top: 6rem;
                    }

                    @include target-metro {
                      justify-content: center;
                    }

                    a {
                        padding: 1rem 2rem;
                        @include target-metro {
                          padding: 1rem 4rem;
                        }
                        margin-top: 2rem;
                        width: calc((100% - 4rem) / 2);

                        @include media('>small') {
                            width: calc((100% - 8rem) / 3);
                        }

                        // this asset is taller
                        &:last-of-type {
                            transform: translate(0, 11%);
                        }

                        @include media('>medium') {
                            width: 100%;
                            max-width: 220px;
                            margin: 0 2rem;

                            &:first-of-type {
                                margin-left: 0;
                            }

                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
