#real-stories {
#real-stories-callouts {

  .eoc-callout {

    .primary-callout-copy, .primary-callout-image {
      @include media('>=small') {
      width: calc(50%) !important;
    }

      @include media('<small') {
        width: calc(100%) !important;
      }
    }

    .md {
      display: none;
      visibility: hidden;
      @include media('>=small') {
        display: block;
        visibility: visible;
      }
    }


   .sm {
      display: none;
      visibility: hidden;
      @include media('<small') {
        display: block;
        visibility: visible;
      }
    }
  }
}

  #hero {
    background-color: $color-modules-bg-secondary;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 0 !important;
    @include media('>small') {
      margin-bottom: 10rem;
    }
    h1 {
      @include fontSize(48px);
      @include lineHeight(64px);
      color: $color-brand-dark;
      font-family: $font-family-primary;
      font-weight: 700;
      text-align: center;
    }

    p {
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-text;
      font-family: $font-family-dark-body;
      text-align: center;
    }
  }


  .secondary-callout-image {
    padding-bottom: 66% !important;
    @include media('<=small') {
      min-height: 228px;
    }
  }

  .two-up-callout-row {
    .secondary-callout-image {
      padding-bottom: 50% !important;
      @include media('>small', '<=large') {
        min-height: 350px;
        padding-bottom: 0 !important;
      }
    }
  }

  .secondary-callout-copy {
    border-top: 1rem solid #d8d8d8;

    .secondary-callout-category {
      font-family: $font-family-secondary;
      color: $color-modules-bg-primary;
    }
  }

  .primary-callout-category {
    span {
      background-color: $color-modules-bg-primary;
      padding: 1rem;
      @include fontSize(18px);
      @include lineHeight(21px);
    }

    margin-top: 4rem;
    font-family: $font-family-secondary;
  }


  .primary-callout-image {
    min-height: 375px;
    @include media('>small') {
      min-height: 440px;
    }
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 5, 12, 11) !important;
    }
  }

  .primary-callout-copy {
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 6, 12, 11) !important;
    }

    .callout-headline {
      margin-top: 2rem;
      @include fontSize(30px);
      @include lineHeight(42px);
    }
  }

  .callout-body {
    @include fontSize(20px);
    @include lineHeight(32px);
  }

  .callout-read-time,
  .callout-body {
    font-family: $font-family-dark-body;
  }

  @include horizontal-tablet-callout-row;

  #primary-callout-profile-kait-masters {
    background-position-x: 50%;
    background-image: url(images/real-stories/mobile/kait-masters.jpg);

    @include media('>small') {
      background-image: url(images/real-stories/tablet/01-KaitMastersFPO.jpg);
    }

    @include media('>large') {
      background-position: 50%;
      background-image: url(images/real-stories/desktop/kait-masters.jpg);
    }
  }

  #primary-callout-profile-chris {
    background-position-x: 50%;
    background-image: url(images/real-stories/mobile/01-article.jpg);

    @include media('>small') {
      background-image: url(images/real-stories/tablet/02-ChrisGivens.jpg);
    }

    @include media('>large') {
      background-image: url(images/real-stories/desktop/01-article.jpg);
    }
  }

  #secondary-callout-profile-morgan {
    background-image: url(images/real-stories/mobile/02-article.jpg);
    background-position: 50%;

    @include media('>small') {
      background-position: 80%;
      background-image: url(images/real-stories/tablet/03-MorganGreene.jpg);
    }

    @include media('>large') {
      background-image: url(images/real-stories/desktop/02-article.jpg);
    }
  }

  #secondary-callout-profile-victor {
    background-image: url(images/home/mobile/10-victor.jpg);
    background-position: 50%;

    @include media('>small') {
      background-image: url(images/real-stories/tablet/04-Victor.jpg);
    }

    @include media('>large') {
      background-image: url(images/real-stories-victor/victor-hero.jpg);

    }
  }

  #secondary-callout-profile-kathy {
    background-image: url(images/real-stories/mobile/04-article.jpg);
    background-position: 50%;

    @include media('>small') {
      background-image: url(images/real-stories/tablet/05-Kathy.jpg);
    }

    @include media('>large') {
      background-image: url(images/real-stories/desktop/04-article.jpg);
    }
  }

  #secondary-callout-profile-leah {
    background-image: url(images/real-stories/mobile/05-article.jpg);
    background-position: 50%;

    @include media('>small') {
      background-image: url(images/real-stories/tablet/06-Leah.jpg);
    }

    @include media('>large') {
      background-image: url(images/real-stories/desktop/05-article.jpg);
    }
  }

  .tertiary-callout-row {
    .secondary-callout-image {
      display: none;
    }
  }

  .home-section-label {
    color: $color-modules-bg-primary;
    font-family: $font-family-secondary;
    @include fontSize(40px);
    @include lineHeight(48px);
  }

  #real-stories-callouts {
    .callout-category {
      display: none;
    }
  }


  #real-stories-signup-promo {


    background-color: $color-modules-bg-primary;


    .real-stories-signup-promo-eyebrow {
      text-align: center;
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-family-secondary;
      position: relative;
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      margin: -1.5rem auto 2rem;
      color: $color-white;
      font-family: $font-family-secondary;

      @include media('>small') {
        letter-spacing: 3px;
        @include fontSize(40px);
        @include lineHeight(52px);
      }

      @include media('>large') {
        //margin-top: 2rem;
      }

      span {
        display: block;

        @include media('>small') {
          display: inline;
        }

      }

    }

    .real-stories-signup-promo-copy {
      font-family: $font-family-primary;
      @include fontSize(20px);
      @include lineHeight(30px);
      color: $color-white;
      text-align: center;
    }

    #real-stories-signup-button {
      display: flex;

      .flex-spacer {
        flex: 1 1 auto;
      }
    }

    > .row:first-of-type {
      padding-top: 5rem;
    }

    > .row:last-of-type {
      padding-bottom: 5rem;
    }

  }

  .form-module {
    > div > div {
      background-color: $color-modules-bg-secondary;
      > div {
        margin-bottom: -6rem;
      }

    }
    > div #form-step-sign-up, #form-step-share-story {
      padding-bottom: 6rem;
      &:before {
        @include media('>medium') {
          content: "";
          position: absolute;
          bottom: 0;
          right: 9rem;
          width: 220px;
          height: calc(100% + 2rem);
          background: url(images/home/person_on_phone.svg) no-repeat;
          background-size: auto 90rem;
          background-position: 105% 100%;
          pointer-events: none;
        }

        @include media('>large') {
          right: 18rem;
        }
      }
    }

    > div #form-step-survey, #form-step-thank-you, #form-step-share-story {
      margin-bottom: 6rem;
    }

    h2 {
      color: $color-brand-dark;
      @include fontSize(48px);
      @include lineHeight(52px);
      font-family: $font-family-secondary;
    }

    p, .secondary {
      color: $color-text;
      font-family: $font-family-dark-body;
      font-weight: 500;
      @include fontSize(22px);
      @include lineHeight(32px);
    }

    label {
      font-family: $font-family-dark-body;
      font-weight: 500;
      color: $color-text;
    }

    .optin {
      label {
        font-weight: 500 !important;
      }
    }
  }
}
