#sign-up {

  background-color: #f8f8f8;

  #hero {
    background-color: $color-modules-bg-secondary;
    margin:0 auto;
    padding: 12rem 0;

    @include media('>small') {
      padding: 10rem 0;
    }

    @include media('>large') {
      padding: 11.5rem 0 9rem;
    }

    h1 {
      color: $color-brand-dark;
    }
    p{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0 2rem;

      @include media('>small') {
        @include fontSize(24px); 
        @include lineHeight(32px);
        padding: 0 10rem;
      }
    } 
    .capsule {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-family:$font-family-nav-large;
    }
  }


  .form-module {
    margin-top: 5rem;

    @include media('>large') {
      margin-top: 10rem; 
    }

    > div > div {
      background-color: white;
      @include media('>small') {
        padding-top:0;
      }

      > div {
        margin-bottom: -6rem;
      }

      #form-container {
        @include media('>small') {
          padding-top: 7rem;
        }
      }

    }
    > div #form-step-sign-up, 
    #form-step-share-story {
      padding-bottom: 6rem;

      &:before {
        @include media('>small') {
          content: "";
          position: absolute;
          bottom: 0;
          right: 2%;
          width: 220px;
          height: calc(100% - 2rem);
          background: transparent url(images/home/person_on_phone.svg) no-repeat;
          background-size: auto 90rem;
          background-position: 105% 100%;
          pointer-events: none;
        }
        @include media('>medium') {
          right: 6.6rem;
        }
        @include media('>large') {
          right: 42rem;
        }
      }
    }

    > div #form-step-survey, 
    #form-step-thank-you, 
    #form-step-share-story {
      margin-bottom: 6rem;
    }

    #form-step-thank-you {
      @include media('>small') {
        padding-bottom: 7rem;
      }
    }

/*    #form-step-sign-up, #form-step-survey {display:none;}
    #form-step-thank-you {display: block;}

*/    > div #form-step-survey {
      label {
        font-weight: 300;
      } 
    }

    h2 {
      color: $color-brand-dark;
      @include fontSize(28px);
      @include lineHeight(39px);
      font-family: $font-family-secondary;

      @include media('>small') {
        @include fontSize(48px);
        @include lineHeight(52px);
      }
    }

    p, .secondary {
      color: $color-text;
      font-family: $font-family-dark-body;
      font-weight: 500;
      @include fontSize(22px);
      @include lineHeight(32px);
      
      &.disclaimer {
        margin-top: 3rem;
        @include fontSize(18px);
        @include lineHeight(25px);
        font-style:italic;
        @include media('>small') {
          margin-top: 5rem;
          @include fontSize(18px);
          @include lineHeight(25px);
        }
      }
    }

    label {
      font-family: $font-family-dark-body;
      font-weight: 700;
      color: $color-text;
    }
    input[type=submit] {
      max-width: 27rem;
      letter-spacing: 2.3px;
    }
    .optin {
      label {
        font-weight: 500 !important;
        @include fontSize(16px);
        @include lineHeight(24px);

        @include media('>large') {
          padding-right: 22rem;
        }
      }
    }

  }

  #callout-social h2 {
    @include fontSize(36px);
    @include lineHeight(48px);
  }
}
