#sitemap {
    #sitemap-links {
        margin: 0 8rem;
        padding: 8rem;
        background-color: $color-modules-bg-secondary;

        @include media('>small') {
            padding: 10rem 14rem;
            margin: 0 28rem;
        }

        ul {
            padding: 0;

            &.primary {
            }

            &.secondary {
                margin: 0 4rem;
            }

            li {
                font-family: $font-family-nav-small;
                list-style-type: none;

                @include media(">medium") {
                    font-family: $font-family-nav-large;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }
}
