#styleguide {

    section:not(#hero) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #text {
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #F3F0E9;
    }

    section#text > div {
        margin: 0;
    }

    #squares .row {
        padding: 0;
    }

    .row {
        align-items: flex-start;
    }

    .video {
        min-height: 52rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .video h5 {
        text-align: center;
        font-size: 8.5rem;
        line-height: 14.75rem;
        letter-spacing: -0.18px;
        color: #fff;
    }

    #squares .row div {
        margin: 0 4rem 4rem 0;
        padding: 0 1rem;
        max-width: 24rem;
        min-height: 22rem;
        box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    #squares .row div p {
        font-weight: bold;
    }

    .nav {
        font-family: 'Greycliff CF Heavy', serif;
        color: #393E41;
    }

    [class^="col"] {
        margin-top: 2rem;
    }

    .light p {
        color: #fff;
    }

    .brand-dark {
        background-color: #195985;
    }

    .brand-light {
        background-color: $color-brand-light;
    }

    .text {
        background-color: #393E41;
    }

    .black {
        background-color: #000;
    }

    .white {
        background-color: #fff;
    }

    .cta-primary {
        background-color: #E4572E;
    }

    .cta-secondary {
        background-color: #ECA400;
    }

    .cta-tertiary {
        background-color: #F6F6F6;
    }

    .modules-bg-primary {
        background-color: #479936;
    }

    .modules-bg-secondary {
        background-color: #F3F0E9;
    }

    .modules-bg-tertiary {
        background-color: #cadbef;
    }

    .modules-bg-quaternary {
        background-color: #40C2D5;
    }

    code {
        font-size: 2rem;
    }

    section:not(#hero) h1 {
        color: #195985;
    }

    section .qt {
        font-size: 100px;
    }

    section h6 {
        color: #393E41;
    }
}
