#things-to-do {
	background-color: white;

	#hero {
		background-color: $color-modules-bg-secondary;
		margin:0 auto;
		padding: 12rem 0;

		@include media('>small') {
			padding: 14rem 0;
		}

		@include media('>large') {
			padding: 11.5rem 0;
		}

		h1 {
			color: $color-brand-dark;
		}
		p {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}

  .secondary-callout-image {
    padding-bottom: 66% !important;
  }

  .two-up-callout-row {
    .secondary-callout-image {
      padding-bottom: 50% !important;
      @include media('>small', '<=large') {
        min-height: 350px;
        padding-bottom: 0 !important;
      }
    }
  }

  .secondary-callout-copy {
    border-top: 1rem solid #d8d8d8;

    .secondary-callout-category {
      font-family: $font-family-secondary;
      color: $color-modules-bg-primary;
    }
  }

  .primary-callout-category {
    span {
      background-color: $color-modules-bg-primary;
      padding: 1rem;
      @include fontSize(18px);
      @include lineHeight(21px);
    }

    margin-top: 4rem;
    font-family: $font-family-secondary;
  }


  .primary-callout-image {
    min-height: 440px;
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 5, 12, 11) !important;
    }
  }

  .primary-callout-copy {
    @include media('>medium') {
      width: desktop-inner-grid-size(6, 6, 12, 11) !important;
    }

    .callout-headline {
      margin-top: 2rem;
      @include fontSize(30px);
      @include lineHeight(42px);
    }
  }

  .callout-body {
    @include fontSize(20px);
    @include lineHeight(32px);
  }

  .callout-read-time,
  .callout-body {
    font-family: $font-family-dark-body;
  }

  #primary-callout-mymgsole-gallery {
    background-image: url(images/things-to-do/mobile/01-MGSole.jpg);
    background-position: 50%;

    @include media('>small') {
      background-image: url(images/things-to-do/tablet/01-MGSole.jpg);
    }

    @include media('>large') {
      background-image: url(images/things-to-do/desktop/01-MGSole.jpg);
    }
  }

  #secondary-callout-mg-sole {
    background-position: 50%;
    background-image: url(images/things-to-do/mobile/02-KickyArt.jpg);

    @include media('>small') {
      background-image: url(images/things-to-do/tablet/02-KickyArt.jpg);
    }

    @include media('>large') {
      background-image: url(images/things-to-do/desktop/02-KickyArt.jpg);
    }
  }

  #secondary-callout-mg-illuminate {
    background-position: 50%;
    background-image: url(images/things-to-do/mobile/03-MGIlluminate.jpg);

    @include media('>small') {
      background-image: url(images/things-to-do/tablet/03-MGIlluminate.jpg);
    }

    @include media('>large') {
      background-image: url(images/things-to-do/desktop/03-MGIlluminate.jpg);
    }
  }

  .tertiary-callout-row {
    .secondary-callout-image {
      display: none;
    }
  }

  .home-section-label {
    color: $color-modules-bg-primary;
    font-family: $font-family-secondary;
    @include fontSize(40px);
    @include lineHeight(48px);
  }

  #things-to-do-callouts {
    .callout-category {
      display: none;
    }
    @include horizontal-tablet-callout-row;
  }

	#things-to-do-signup-promo {
		background-color: $color-modules-bg-primary;
		h2 {
			text-transform: uppercase;
			text-align: center;
			margin: 5rem auto 2rem;
			color: $color-white;
			font-family: $font-family-secondary;

			@include media('>small') {
				letter-spacing: 3px;
				@include fontSize(40px);
				@include lineHeight(52px);
			}

			@include media('>large') {
				margin-top: 2rem;
			}

			span {
				display: block;

				@include media('>small') {
					display: inline;
				}

			}

		}

		.things-to-do-signup-promo-copy {
			font-family: $font-family-primary;
			@include fontSize(20px);
			@include lineHeight(30px);
			color: $color-white;
			text-align: center;
		}

		#things-to-do-signup-button {
			display: flex;

			.flex-spacer {
				flex: 1 1 auto;
			}
		}

		> .row:first-of-type {
			padding-top: 5rem;
		}

		> .row:last-of-type {
			padding-bottom: 5rem;
		}

	}


}
