/*
Font: 		Sparose
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T9714/sparose-svg-font
Foundry: 	Dhan Studio
Foundry: 	https://www.youworkforthem.com/designer/715/dhan-studio
Copyright:	Copyright (c) 2018 by Dhan Studio. All rights reserved.
Version: 	17
Created:	August 03, 2018
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Sparose';
	src: url('sparose.eot');
	src: url('sparose.eot?#iefix') format('embedded-opentype'),
             url('sparose.woff2') format('woff2'),
	     url('sparose.woff') format('woff'),
	     url('sparose.ttf') format('truetype'),
	     url('sparose.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
